<div uib-dropdown>
    <button class="bp-select__button btn btn-link btn-block" type="button" uib-dropdown-toggle>
        <span class="bp-select__selected-label" bp-tooltip="{{ $ctrl.buttonLabel || $ctrl.selectedOption.label }}" bp-tooltip-truncated="true">
            {{ $ctrl.buttonLabel || $ctrl.selectedOption.label }}
        </span>
        <b class="caret"></b>
    </button>
    <ul uib-dropdown-menu class="dropdown-menu">
        <li ng-repeat="option in $ctrl.options" ng-click="$ctrl.onOptionSelect(option)">
            <a class="bp-select__item-label" href>{{ option.label }}</a>
        </li>
    </ul>
</div>
