<div class="artifact-heading">
    <div class="icon" ng-class="!$ctrl.artifactTypeIcon ? $ctrl.artifactClass : ''" bp-tooltip="{{ $ctrl.artifactTypeDescription }}">
        <bp-item-type-icon ng-if="!!$ctrl.artifactTypeIcon"
                           item-type-id="{{$ctrl.artifactTypeId}}"
                           item-type-icon="{{$ctrl.artifactTypeIcon}}"></bp-item-type-icon>
    </div>
    <div class="artifact-heading-group1">
        <div class="artifact-heading-group2">
            <div class="name" bp-tooltip="{{ $ctrl.artifactName }}" bp-tooltip-truncated="true">
                {{ $ctrl.artifactName }}
            </div>
            <div class="indicators">
                <i class="readonly-indicator fonticon2-unauthorize" bp-tooltip="Read-only" ng-if="$ctrl.isReadonly"></i>
                <i class="fonticon-lock self-locked" ng-if="$ctrl.selfLocked" bp-tooltip="Locked"> </i>
                <!--TODO  please do not remove, I'll remove after testing-->
                <i class="dirty-indicator fonticon2-asterisk" bp-tooltip="Dirty" ng-if="$ctrl.isChanged"></i>
                <i class="legacy-indicator fonticon2-legacy" bp-tooltip="Legacy artifact" ng-if="$ctrl.isLegacy"></i>
            </div>
        </div>
        <bp-breadcrumb links="$ctrl.breadcrumbLinks" on-navigate="$ctrl.navigateTo(link)"></bp-breadcrumb>
        <div class="type-id"> {{$ctrl.artifactTypeDescription}} </div>
    </div>
</div>
<bp-toolbar-2 options="$ctrl.toolbarOptions"></bp-toolbar-2>

<!--<div class="page-top-toolbar">
    <button class="btn btn-primary" bp-tooltip="Delete" ng-click="$ctrl.clickDelete()" ng-if="$ctrl.isDeleteButtonEnabled">Delete</button>
    <bp-process-type-toggle></bp-process-type-toggle>
    <button class="btn btn-primary" bp-tooltip="Picker" ng-click="$ctrl.openPicker()">Picker</button>
    <button class="btn btn-primary" bp-tooltip="Discard">Discard</button>
    <button class="btn btn-primary" bp-tooltip="Save">Save</button>
    <button class="btn btn-primary" bp-tooltip="Publish">Publish</button>
</div>-->
