<div class="artifact-heading" ng-style="$ctrl.headingMinWidth">
    <div class="icon" ng-class="$ctrl.iconClass" bp-tooltip="{{ $ctrl.typeDescription }}"></div>
    <div class="artifact-heading-group1">
        <div class="artifact-heading-group2">
            <div class="name" bp-tooltip="{{ $ctrl.name }}" bp-tooltip-truncated="true">
                {{ $ctrl.name }}
            </div>
            <div class="indicators">
                <i class="readonly-indicator fonticon2-unauthorize" bp-tooltip="Read-only" ng-if="$ctrl.isReadonly"></i>
                <i class="lock-indicator fonticon2-lock" ng-if="$ctrl.isLocked" ng-class="{'self-locked': $ctrl.selfLocked}" bp-tooltip="{{ $ctrl.lockTooltip }}"> </i>
                <!--TODO  please do not remove, I'll remove after testing-->
                <i class="dirty-indicator fonticon2-asterisk" bp-tooltip="Dirty" ng-if="$ctrl.isChanged"></i>
                <i class="legacy-indicator fonticon2-legacy" bp-tooltip="Legacy artifact" ng-if="$ctrl.isLegacy"></i>
            </div>
        </div>
        <div class="process-breadcrumbs">Breadcrumb Placeholder</div>
        <div class="type-id">{{ $ctrl.typeDescription }}</div>
    </div>
</div>
<div class="page-top-toolbar">
    <button class="btn btn-bluelight">Change Type</button>
    <button class="btn btn-bluelight" bp-tooltip="Picker" ng-click="$ctrl.openPicker()">Picker</button>
    <button class="btn btn-bluelight" bp-tooltip="Discard">Discard</button>
    <button class="btn btn-bluelight" bp-tooltip="Save">Save</button>
    <button class="btn btn-primary" bp-tooltip="Publish">Publish</button>
</div>