<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <!-- Valid values are All < Debug < Info < Warn < Error < Fatal < Off -->
      <level value="Warn" />
      <appender-ref ref="ServerFileAppender" />
    </root>
    <appender name="ServerFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\BlueprintImageService.log" />
      <appendToFile value="true" />
      <!-- Use a minimal locking model that allows multiple processes to write to the same file -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- Max number of log files to keep. If not specified, default is 2 -->
      <maxSizeRollBackups value="5" />
      <!-- Default rolling style is by size. -->
      <!-- To enable rolling by date, set this value to "Date". (Not recommended as the number of files generated cannot be limited)-->
      <!-- To enable rolling by both date and size, set this value to "Composite". (Not recommended as the number of files generated cannot be limited)-->
      <rollingStyle value="Size" />
      <!-- Max size of the single log file in MB. -->
      <maximumFileSize value="10MB" />
      <!-- The newest log by size would have the highest suffix -->
      <countDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{logId}: %date{dd/MM/yyyy HH:mm:ss}, %property{timeZoneOffset}, ThreadId:%t, %property{sessionId}, %property{userName}, %property{level},%message%newline" />
      </layout>
    </appender>
  </log4net>
  
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="Service.Name" value="BlueprintImageGen" />
      <!-- Toggle managing of browsers for image rendering in a resource pool. If false, a new browser will be initialized with every request.-->
      <add key="BrowserPool.Enabled" value="true" />
      <!-- Maximum size of the browser resource pool.-->
      <add key="BrowserPool.MaxSize" value="10" />
      <!-- Maximum time to wait for a free browser, after which rendering will fail.-->
      <add key="BrowserPool.WaitTimeSeconds" value="10" />
      <!-- Maximum time to wait for the browser to resize to fit the entire process, after which the rendering will be forced with the current size.-->
      <add key="BrowserResizeEvent.MaxWaitTimeSeconds" value="10" />
      <!-- The delay between checking if the browser resizing has completed.-->
      <add key="BrowserResizeEvent.DelayIntervalMilliseconds" value="10" />
      <!-- Additional delay after browser size changes. This is needed because the browser changes it's size before finishing to render the page.-->
      <add key="BrowserResizeEvent.PostDelayMilliseconds" value="10" />
      <!-- Initial page load delay, before the process rendering script runs.-->
      <add key="BrowserRender.DelayMilliseconds" value="500" />
      <!-- Connection string for SQL Server transport. -->
      <add key="NServiceBus.ConnectionString" value="Data Source=BlueprintDevDB;Initial Catalog=Raptor;Integrated Security=True;Max Pool Size=80" />
      <!-- Maximum time to wait for the browser to reset before loading the new process.-->
      <add key="BrowserRender.WaitTimeSeconds" value="10" />
      <add key="NServiceBus.CriticalErrorRetryDelay" value="2" />
      <add key="NServiceBus.CriticalErrorRetryCount" value="3" />
    </appSettings>
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                 <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                 <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                 <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
       </assemblyBinding>
  </runtime>
</configuration>