<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="Service.Name" value="BlueprintActionHandler"/>
    <add key="MessageProcessing.MaxConcurrency" value="1"/>
    <add key="NServiceBus.ConnectionString" value="host=titan.blueprintsys.net;virtualhost=cloud;username=admin;password=$admin2011"/>
    <add key="CacheExpirationMinutes" value="1440"/>
    <add key="Tenancy" value="Single"/>
    <add key="Transport" value="RabbitMQ"/>
    <add key="ActionTypes" value="All"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
