<div class="modal-header">
    <a href="#" ng-if="ctrl.hasCloseButton" class="modal-close" ng-click="ctrl.cancel()"><i class="fonticon-close"></i></a>
    <h3 class="modal-title"><i class="fonticon-information" ></i><span ng-bind="ctrl.params.header"></span></h3>
</div>
<div class="modal-body">
    <div class="nova-message"><span ng-bind-html="ctrl.params.message"></span></div>
</div>
<div class="modal-footer">
    <div class="nova-form-group nova-form-buttons">
        <button class="btn btn-secondaary" ng-click="ctrl.cancel()" ng-if="ctrl.params.cancelButton" ><span ng-bind="ctrl.params.cancelButton"></span></button>
        <button class="btn btn-primary" ng-click="ctrl.ok()"><span ng-bind="ctrl.params.okButton"></span></button>
    </div>
</div>