<div class="modal-header">
    <h3 class="modal-title">{{::$root.config.labels["App_Project_Open"]}}</h3>
</div>
<div class="modal-body">
    <div class="project-tree"><div ag-grid="ctrl.gridOptions" class="ag-grid"></div></div>
    <div class="project-data">
        <div ng-if="ctrl.selectedItem.Name" class="project-name">{{ctrl.selectedItem.Name}}</div>
        <div ng-if="ctrl.selectedItem.Description">{{::$root.config.labels["App_Project_Description"]}}</div>
        <div class="project-description" ng-bind-html="ctrl.selectedItem.Description"></div>
    </div>

</div>
<div class="modal-footer">
    <div class="nova-form-group nova-form-buttons">
        <button class="btn btn-secondary" ng-click="ctrl.cancel()"><span ng-bind="ctrl.params.cancelButton"></span></button>
        <button class="btn btn-primary" ng-click="ctrl.ok()"><span ng-bind="ctrl.params.okButton"></span></button>
    </div>
</div>