<div class="modal-header">
    <!-- <a href="#" ng-if="ctrl.hasCloseButton" class="modal-close" ng-click="ctrl.cancel()"><i class="fonticon-close"></i></a> -->
    <h3 class="modal-title">{{::$root.config.labels["App_Project_Open"]}}</h3>
</div>
<div class="modal-body">
    <div id="projectTree"><div ag-grid="ctrl.gridOptions" class="ag-grid"></div></div>
    <div id="projectData">
        <div class="project-name">{{ctrl.selectedItem.Name}}</div>
        <div>Description</div>
        <div class="project-description" ng-bind-html="ctrl.selectedItem.Description"></div>
    </div>
    
</div>
<div class="modal-footer">
    <div class="nova-form-group nova-form-buttons">
        <button class="btn btn-secondary" ng-click="ctrl.cancel()"><span ng-bind="ctrl.params.cancelButton"></span></button>
        <button class="btn btn-primary" ng-click="ctrl.ok()"><span ng-bind="ctrl.params.okButton"></span></button>
    </div>
</div>