<div ng-if="$ctrl.isLoading" class="app-loading">
    <span class="glyphicon glyphicon-refresh spin"></span>
    <span>{{::$ctrl.localization.get('App_LoadingMsg') }}</span>
</div>

<table ng-if="!$ctrl.isLoading">
    <thead ng-click="$ctrl.clearSelection()">
        <tr>
            <th>{{::$ctrl.localization.get('Artifact_Glossary_Term') }}</th>
            <th>{{::$ctrl.localization.get('Artifact_Glossary_Definition') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="term in $ctrl.terms"
            ng-class="{'selected-term': $ctrl.selectedTerm === term}"
            ng-click="$ctrl.selectTerm(term)">
            <td>{{term.name}}</td>
            <td ng-bind-html="term.description"></td>
        </tr>
        <tr class="empty-state" ng-if="$ctrl.terms.length === 0">
            <td colspan="2">{{::$ctrl.localization.get('Artifact_Glossary_Empty') }}</td>
        </tr>
    </tbody>
</table>
