@import "./../../../styles/settings/colors";

bp-glossary {
    display: block;
    font-size: 1.2rem;

    .selected-term {
        background: $tree-hover-background;
    }

    .empty-state {
        color: $gray-light;
        text-align: center;
    }

    > table {
        width: 100%;
        border-left: 1px solid $gray-lighter;
        border-right: 1px solid $gray-lighter;

        > thead {
            background: $gray-dark;

            th {
                color: $white;
                padding: 8px 25px;
            }

            th:first-child {
                width: 120px;
            }
        }
        > tbody {
            background: $white;

            > tr {
                border-bottom: 1px solid $gray-lighter;

                > td {
                    padding: 8px 25px;

                    > pre {
                        border: none;
                        background: none;
                        padding: 0;
                        display: inline;
                        font-family: "Courier New", monospace;
                    }
                }

                &:hover:not(.selected-term):not(.empty-state) {
                    background: lighten($tree-hover-background, 2%);
                }
            }
        }

    }
}
