UI-e2e-Tests/UI-e2e-Tests/Pages/*.js
UI-e2e-Tests/UI-e2e-Tests/Pages/*.js.map
UI-e2e-Tests/UI-e2e-Tests/Model/*.js
UI-e2e-Tests/UI-e2e-Tests/Model/*.js.map
UI-e2e-Tests/UI-e2e-Tests/Specs/*.js
UI-e2e-Tests/UI-e2e-Tests/Specs/*.js.map
UI-e2e-Tests/UI-e2e-Tests/Utility/*.js
UI-e2e-Tests/UI-e2e-Tests/Utility/*.js.map