<div class="artifact-icon fonticon-bp-ui-mockup-form-setting" ng-class="$ctrl.artifactType.toLowerCase()"></div>
<div class="artifact-heading">
    <div class="name">
        {{ $ctrl.artifactName }}
        <i class="readonly-indicator" bp-tooltip="Read-only" ng-if="$ctrl.isReadonly"></i>
        <i class="lock-indicator" bp-tooltip="Locked" ng-if="$ctrl.isLocked"></i>
        <!--TODO  please do not remove, I'll remove after testing-->
        <i class="dirty-indicator" bp-tooltip="Dirty" ng-if="$ctrl.isChanged"></i>
    </div>
    <div class="type-id">{{ $ctrl.artifactTypeDescription }}</div>
</div>
<div class="page-top-toolbar">
    <button class="btn btn-bluelight" bp-tooltip="Discard">Discard</button>
    <button class="btn btn-bluelight" bp-tooltip="Save">Save</button>
    <button class="btn btn-primary" bp-tooltip="Publish">Publish</button>
</div>
