<div class="filter-bar" ng-if="$ctrl.artifactHistoryList.length">
    <bp-select
        ng-model="$ctrl.sortAscending"
        ng-change="$ctrl.changeSortOrder()"
        options="$ctrl.sortOptions">
    </bp-select>
</div>

<div ng-if="$ctrl.artifactHistoryList.length"
     class="scrollable-content"
     bp-infinite-scroll="$ctrl.loadMoreHistoricalVersions()"
     >

    <div ng-repeat="artifactHistoryItem in $ctrl.artifactHistoryList"
         class="artifact-item-wrapper">

        <div class="separator"></div>

        <bp-artifact-history-item
            class="utility-panel-artifact-item"
            artifact-info="artifactHistoryItem"
            ng-click="$ctrl.selectArtifactVersion(artifactHistoryItem)"
            ng-class="{ 'selected': $ctrl.selectedVersionId === artifactHistoryItem.versionId }">
        </bp-artifact-history-item>
    </div>
</div>

<div ng-if="!$ctrl.artifactHistoryList.length && $ctrl.isLoading" class="app-loading">
    <span class="glyphicon glyphicon-refresh spin"></span>
</div>

<div ng-if="!$ctrl.artifactHistoryList.length && !$ctrl.isLoading" class="empty-state">{{
    $ctrl.localization.get('App_UP_History_No_Artifact') }}
</div>
