<div class="filter-bar" ng-if="$ctrl.artifactHistoryList.length">
    <bp-select
        ng-model="$ctrl.sortAscending"
        ng-change="$ctrl.changeSortOrder()"
        options="$ctrl.sortOptions">
    </bp-select>
</div>

<div ng-if="$ctrl.artifactHistoryList.length" class="scrollable-content"
     bp-infinite-scroll="$ctrl.loadMoreHistoricalVersions()">

    <div ng-repeat="item in $ctrl.artifactHistoryList track by $index"
         class="artifact-item-wrapper">

        <div class="separator"></div>

        <a class="history-item"
           ui-sref="main.item({id: $ctrl.artifactId, version: $ctrl.getItemVersionId(item)})"
           ui-sref-opts="{inherit: false}" ui-sref-active="history-item--selected">

            <bp-artifact-history-item
                class="utility-panel-artifact-item"
                artifact-info="::item">
            </bp-artifact-history-item>
        </a>
    </div>
</div>

<div ng-if="!$ctrl.artifactHistoryList.length && $ctrl.isLoading" class="app-loading">
    <span class="glyphicon glyphicon-refresh spin"></span>
</div>

<div ng-if="!$ctrl.artifactHistoryList.length && !$ctrl.isLoading" class="empty-state">{{
    $ctrl.localization.get('App_UP_History_No_Artifact') }}
</div>
