@import 'modules/normalize';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/animations';
@import 'modules/typography';
@import 'modules/icons';

html,
body {
  height: 100%;
}

body {
  background-color: $body-bg-color;
  background-image: url('images/bp_logo_gray.svg'), radial-gradient(ellipse 70% 50% at top, rgba(253, 253, 253, 0) 15%, #c4c4c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat, no-repeat;
  background-position: center 44%, top;
  background-size: 84%, 100%;
  color: $body-color;
  overflow: hidden;
}

@import 'partials/navbar';
@import 'partials/modal';
@import 'partials/form';
@import 'partials/button';

.app-loading {
  color: $gray-light;
  font-size: $font-size-bigger;
  padding: 32px;
  text-align: center;
  width: 100%;
}

@import 'partials/unsupported';


#wrapper {
  display: block;
  height: calc(100% - #{$wrapper-height});
  margin-top: $wrapper-height;
  overflow: hidden;
}

pagecontent {
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 0;
  transition: all .4s ease;
  width: 100%;
}

.project-explorer-visible pagecontent {
  padding-left: $sidebar-size;
}

.utility-panel-visible pagecontent {
  padding-right: $sidebar-size;
}

@import 'partials/sidebar';
@import 'partials/breadcrumbs';
@import 'partials/accordion';


/*
////////////////////////////// by DL
@mixin transition ($value) { 
    -webkit-transition: $value; -moz-transition: $value; -ms-transition: $value; -o-transition: $value; transition: $value; }
@mixin transform ($value) {
    
    transform:$value; -ms-transform:$value; -webkit-transform:$value; -o-transform:$value; -moz-transform:$value; 
} 

sidebar {
  > div {
        position:absolute;
        z-index:2; 
        top:0;  
        margin-top: 86px;
        padding:10px;
        width: $sidebar-size; 
        height:100%; 
        @include transition(-webkit-transform ease 255ms); 
        @include transition(transform ease 255ms);
            &.left { background:$white; left: $sidebar-size*-1; 
                 .btn-menu {right:-40px;}
            }
            &.show.left { @include transform(translate3d($sidebar-size, 0, 0)); box-shadow: 0px 7px 10px #888888;
                 .btn-menu {right:10px;}
            }
                    
            &.right { background:$white; right: $sidebar-size*-1; 
                 .btn-menu {left:-40px;}
            }

            &.show.right { @include transform(translate3d($sidebar-size*-1, 0, 0)); box-shadow: 0px -7px 10px #888888;
                 .btn-menu {left:10px;}
            }
     }
}
////////////////////////////////



#sidebar-wrapper-left {
  margin-left: -$sidebar-size;
  left: $sidebar-size;
  width: $sidebar-size;
  background: rgba(247, 247, 247, 1);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper-right {
  margin-right: -$sidebar-size;
  right: $sidebar-size;
  width: $sidebar-size;
  background: rgba(247, 247, 247, 1);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active-left {
  padding-left: 0;
}

#wrapper.active-right {
  padding-right: 0;
}

#wrapper.active-left #sidebar-wrapper-left {
  left: 0;
}

#wrapper.active-right #sidebar-wrapper-right {
  right: 0;
}

#page-content-wrapper {
  width: 100%;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  text-decoration: none;
}

.btn-menu {
  color: #000;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: $sidebar-size;
  }

  #wrapper.active #sidebar-wrapper {
    left: $sidebar-size;
    transition: all 0.4s ease 0s;
    width: $sidebar-size;
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }
}

*/
