@import 'modules/normalize';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/animations';
@import 'modules/typography';
@import 'modules/icons';

html,
body {
  height: 100%;
}

body {
  background-color: $body-bg-color;
  background-image: url('images/bp_logo_gray.svg'), radial-gradient(ellipse 70% 50% at top, rgba(253, 253, 253, 0) 15%, #c4c4c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat, no-repeat;
  background-position: center 44%, top;
  background-size: 84%, 100%;
  color: $body-color;
  overflow: hidden;
}

@import 'partials/navbar';
@import 'partials/modal';
@import 'partials/form';
@import 'partials/button';

.app-loading {
  color: $gray-light;
  font-size: $font-size-bigger;
  padding: 32px;
  text-align: center;
  width: 100%;
}

@import 'partials/unsupported';

#wrapper {
  display: block;
  height: calc(100% - #{$wrapper-height});
  margin-top: $wrapper-height;
  overflow: hidden;
  position: relative;
}

pagecontent {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .4s ease;
  width: 100%;

  .page-content-wrapper {
    height: calc(100% - #{$breadcrumbs-height});
    overflow: auto;
  }

  .page-content {
    margin: 15px 20px 10px;
  }

  .page-heading {
    font-size: 0; // to remove unwanted space around elements. Specify font-size for inner elements!
    white-space: nowrap;

    &::after {
      clear: both;
      content: '';
      display: table;
    }
  }

  .page-top-toolbar {
    float: right;
    margin-bottom: 15px;

    .btn-bluelight + .btn-bluelight {
      margin-left: 5px;
    }

    .btn-bluelight + .btn-primary {
      margin-left: 10px;
    }
  }

  .artifact-heading,
  .artifact-icon {
    display: inline-block;
    margin: 0 10px 15px 0;
    min-height: 30px;
    vertical-align: top;
  }

  .artifact-icon {
    color: $gray-medium;
    font-family: 'bp-font';
    font-size: 24px;
  }

  .artifact-heading {
    > .name {
      color: $gray-dark;
      display: block;
      font-size: $font-size-bigger;
      white-space: nowrap;

      span:first-child {
        margin-left: 5px;
      }
    }

    > .type-id {
      color: $gray-medium;
      font-size: $font-size-micro;
      white-space: nowrap;
    }

    .lock-indicator,
    .dirty-indicator {
      display: inline-block;
      font-family: 'bp-font';
      font-size: $font-size-smaller;
    }

    .lock-indicator {
      color: $brand-secondary;
    }

    .dirty-indicator {
      color: $gray-medium;
    }
  }

  .artifact-overview {
    background: $white;

    > .heading {
      background: #cbcbcb;
      color: $gray-dark;
      font-size: $font-size-smaller;
      font-weight: 600;
      line-height: 1em;
      min-height: 36px;
      padding: 11px 14px;

      + .content {
        border-top: 0;
      }
    }

    > .content {
      border: solid 1px #d9d9d9;
      padding: 18px 15px;
    }

    .nav-tabs {
      margin-top: 20px;
    }
  }
}

.properties {
  border: solid 1px $gray-lighter;

  + .properties {
    margin-top: 15px;
  }

  > .heading {
    color: $gray-dark;
    cursor: pointer;
    font-size: $font-size-smaller;
    font-weight: 600;
    line-height: 1em;
    min-height: 36px;
    padding: 11px 14px;

    &::before {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px dashed;
      border-top: 5px solid \9;
      content: '';
      display: inline-block;
      height: 0;
      margin-right: 5px;
      position: relative;
      top: -2px;
      width: 0;
    }
  }

  &.collapsed > .heading::before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px dashed;
    border-left: 5px solid \9;
    left: 3px;
    top: 0;
  }

  > .content {
    font-size: $font-size-smallest;
    padding: 0 20px 10px;
  }
}

.tab-pane {
  border: solid 1px $gray-lighter;
  border-radius: $border-radius-amount;
  padding: 18px 20px;

  // temporary
  font-size: $font-size-smallest;
}

.nav-tabs {
  border: 0;
  margin-bottom: 10px;

  > li {
    font-size: $font-size-smallest;

    &:first-child > a {
      margin-left: 0;
    }
  }

  > li.active {
    font-size: $font-size-smallest;

    > a,
    > a:hover,
    > a:focus {
      border: 0;
      border-bottom: 4px solid $brand-secondary;
      padding-bottom: 3px;
    }
  }

  > li > a {
    border: 0;
    color: #565656;
    font-size: 105%;
    font-weight: 600;
    margin: 0 15px;
    padding: 3px 1px 7px;

    &:hover {
      background: transparent;
      border-bottom: 4px solid $brand-secondary;
      padding-bottom: 3px;
    }
  }
}

@import 'partials/sidebar';
@import 'partials/breadcrumbs';
@import 'partials/accordion';
@import 'partials/aggrid';
@import 'partials/mobile-only';

