@import 'modules/normalize';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/animations';
@import 'modules/typography';
@import 'modules/fonticons';
@import 'modules/fonticons2';
@import 'modules/icons';

$hamburger-padding-x: 14px;
$hamburger-padding-y: 5px;
$hamburger-layer-width: 18px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $brand-secondary;
$hamburger-layer-border-radius: 1px;
$hamburger-types: (collapse, collapse-r);
@import 'modules/hamburgers/hamburgers';

html,
body {
    height: 100%;
}

body {
    background-color: $body-bg-color;
    background-image: url('images/logo-storyteller-gray.svg'), radial-gradient(ellipse 70% 50% at top, rgba(253, 253, 253, 0) 15%, #c4c4c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat, no-repeat;
    background-position: center 48%, top;
    background-size: 60%, 120%;
    color: $body-color;
    overflow: auto;
    overflow-y: hidden;
}
a, a:visited {
    color: $brand-secondary;
    font-weight: 600;
    outline: 0;
}
a:hover, a:focus {
    text-decoration: underline;
    outline: 0;
}
p {
    padding: 0;
    margin: 0;
    font-size: $font-size-normal;
    color: $text-color;
}

@import 'partials/navbar';
@import 'partials/toolbar';
@import 'partials/modal';
@import 'partials/form';
@import 'partials/button';

.app-loading {
    color: $gray-light;
    font-size: $font-size-bigger;
    padding: 32px;
    text-align: center;
    width: 100%;
}

@import 'partials/unsupported';

#wrapper {
    display: block;
    height: calc(100% - #{$wrapper-height});
    left: 0;
    margin-top: $wrapper-height;
    min-width: $app-minimum-width;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

@import 'partials/pagecontent';
@import 'partials/sidebar';
@import 'partials/breadcrumbs';
@import 'partials/properties';
@import 'partials/tabs';
@import 'partials/accordion';
@import 'partials/tooltips';
@import 'partials/resize';
@import 'partials/aggrid';
@import 'partials/utility-panel';
@import 'partials/avatar';
@import 'partials/select';
@import 'partials/tinymce';
@import 'partials/error-messages';
@import 'partials/diagram';
@import 'partials/glossary';
@import 'partials/browser-specific';
@import 'partials/mobile-only';
@import 'partials/tour-modal';
@import 'partials/collapsible';
@import 'partials/autocomplete';
@import 'partials/file-upload-status';
@import 'partials/loading-overlay';
@import 'partials/manage-traces';
@import 'partials/bp-goto';
@import 'partials/toolbar2';
@import 'storyteller/story-teller';
