@import "./../../../styles/settings/colors";

.jobs {
    width: 100%;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    font-size: 1.2rem;
}

.jobs__checkbox-col {
    padding: 8px 25px;
    width: 20px;
}

.jobs__icon-col {
    padding: 8px 0;
    width: 10px;
}

.jobs__id-col {
    padding: 8px 0;
    white-space: nowrap;
}

.jobs__name-col,
.jobs__project-col {
    padding: 8px 25px;
}

.jobs__header {
    background: $gray-dark;
    color: $white;
}

.jobs__body {
    background: $white;
}

.jobs__row {
    border-bottom: 1px solid $gray-lighter;
}

.jobs__row--selected {
    background: $tree-hover-background;
}

.jobs__empty-row {
    color: $gray-light;
    text-align: center;
    @extend .jobs__row;
}

.jobs__empty-message {
    padding: 8px 25px;
}

.jobs__response {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $gray-dark;
    overflow: auto;
}

.jobs__results--item {
    padding: 0 15px 10px;
    margin: 1px auto 0;
    background: white;
    border-bottom: 1px solid $gray-lightest;
    &:focus, &:hover {
        background: $tree-hover-background;
    }
    
    [class^="fonticon-"]::before,
    [class*=" fonticon-"]::before,
    [class*="fonticon-"]::after,
    [class*=" fonticon-"]::after{
        font-size: 1.5rem;
    }    
    .fonticon-refresh,
    .fonticon-download {       
        &:focus, &:hover {
            color: $brand-secondary;
        }
    }
}

.jobs__results--icon {
    font-size: 30px;
    padding-left: 50px;
}

.jobs__action-items--center {
    display: block;
    text-align: center
}
