<div class='artifact-state'>
    <div class="page-content">
        <div class="page-heading">
            <div class="responsive-header">
                <div class="artifact-heading">
                    <div class="artifact-heading-group1">
                        <div class="artifact-heading-group2">
                            <div class="name">Jobs</div>
                        </div>
                    </div>
                </div>
                <bp-toolbar-2 actions="::$ctrl.toolbarActions"></bp-toolbar-2>
            </div>
        </div>
        <div class="page-body-wrapper">
            <div class="page-body">
                <div ng-if="$ctrl.isLoading" class="app-loading">
                    <span class="glyphicon glyphicon-refresh spin"></span>
                    {{::$ctrl.localization.get('App_LoadingMsg') }}
                </div>

                <table class="jobs" ng-if="!$ctrl.isLoading">
                    <thead class="jobs__header">
                    <tr>
                        <th class="jobs__icon-col">&nbsp;</th>
                        <th class="jobs__id-col">ID</th>
                        <th class="jobs__name-col">Name</th>
                        <th class="jobs__project-col">Project</th>
                    </tr>
                    </thead>
                    <tbody class="jobs__body">
                    <tr ng-repeat="job in $ctrl.jobs track by job.id"
                        class="jobs__row"
                        ng-class="{'jobs__row--selected': $ctrl.isSelected(artifact)}">
                        <td class="jobs__icon-col">
                            <bp-item-type-icon
                                item-type-id="::artifact.itemTypeId"
                                item-type-icon-id="::artifact.itemTypeIconId"
                                predefined-type="::artifact.predefinedType"
                                fallback="::true" class="bp-artifact-list__icon"></bp-item-type-icon>
                        </td>
                        <td class="jobs__id-col"><span>{{::job.id}} </span></td>
                        <td class="jobs__name-col">{{::job.name}}</td>
                        <td class="jobs__project-col">{{::job.projectName}}</td>
                    </tr>
                    <tr class="jobs__empty-row" ng-if="!$ctrl.jobsArtifacts.length">
                        <td colspan="4" class="jobs__empty-message">{{::$ctrl.localization.get('Jobs_Empty') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
