<div class="jobs__results--content">
    <div class="page-heading">
    <div class="responsive-header">
        
            <div class="artifact-heading">
                <div class="artifact-heading-group1">                        
                    <div class="artifact-heading-group2">
                        <div class="col-md-10">
                            <div class="name">Jobs</div>
                        </div>
                        <div class="col-md-1">
                            <div class="icon-container">
                                    <i class="fonticon fonticon2-refresh-line" ng-click="$ctrl.loadPage(1)"></i>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="icon-container">
                                    <i class="fonticon fonticon2-arrow-right" ng-click="$ctrl.loadNextPage()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jobs-ul" ng-if="!$ctrl.isJobsEmpty()">
        <ul class="list-unstyled">
            <li class="jobs__results--item"
                ng-repeat="item in $ctrl.jobs track by $index">
                <div class="row small-gutter">
                    <div class="col-md-1 text-center">
                        <div class="font-blue jobs__results--icon">
                            <i class="icon-document"></i>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="font-blue margin-bottom--none jobs__text--no-wrap">
                                    <a class="jobs__results--link" ui-sref="main.item({id: item.artifactId})">
                                        {{item.id}}
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>{{::$root.config.labels["Jobs_Author"]}}: </strong>
                                <span>{{item.author}}</span>
                            </div>
                            <div class="col-md-3">
                                <strong>{{::$root.config.labels["Label_Type"]}}: </strong>
                                <span>{{item.type}}</span>
                            </div>
                            <div class="col-md-3">
                                <strong>{{::$root.config.labels["Jobs_Status"]}}: </strong>
                                <span> {{item.status}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>{{::$root.config.labels["Jobs_StartDate"]}}: </strong>
                                <span>{{$ctrl.getDate(item.startedOn)}}</span>
                            </div>
                            <div class="col-md-3">
                                <strong>{{::$root.config.labels["Jobs_EndDate"]}}: </strong>
                                <span> {{$ctrl.getDate(item.completedOn)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>                
    </div>
    <div class="jobs__response" ng-if="$ctrl.isJobsEmpty()">
        <div class="center-item font-larger">
            <span>{{::$root.config.labels["Jobs_Empty"]}}</span>
        </div>
    </div>
</div>