@import '../../../../../styles/modules/mixins';
@import '../../../../../styles/settings/variables';
@import "../../../../../styles/settings/colors";

.project-tree-container {
    box-sizing: border-box;
    display: block;
    float: left;
    height: calc(100% - 50px);
    margin: 0 15px 0 0;
    min-height: $project-picker-tree-height;
    width: calc(50% - 15px);
}

.project-data {
    display: block;
    float: left;
    font-size: 13px;
    width: calc(50% - 15px);
    padding-top: 49px;

    .project-name {
        @include text-ellipsis-flex-width(999px);
        background: $gray-lightest;
        border-radius: $border-radius-amount;
        height: 36px;
        line-height: 36px;
        margin-bottom: 15px;
        margin-top: 10px;
        padding: 0 15px;
        white-space: nowrap;
    }

    .project-description-wrapper {
        background: $gray-lightest;
        border-radius: $border-radius-amount;
        margin-top: 10px;
        max-height: 142px;
        min-height: 36px;
        overflow: auto;

        .project-description {
            padding: 8px 15px;
        }
    }
}
