<div class="modal-header">
    <h3 class="modal-title">{{::$root.config.labels["App_Project_Open"]}}</h3>
</div>
<div class="modal-body">
    <div ng-if="$ctrl.errorMessage">
        {{$ctrl.errorMessage}}
    </div>
    <div ng-if="!$ctrl.errorMessage" class="project-wrapper">
        <div class="project-tree-container">
            <bp-tree-view grid-class="project-tree"
                          row-height="20"
                          root-node="$ctrl.rootNode"
                          root-node-visible="false"
                          columns="$ctrl.columns"
                          header-height="20"
                          on-select="$ctrl.onSelect(vm, isSelected, selectedVMs)"
                          on-double-click="$ctrl.onDoubleClick(vm)"
                          on-error="$ctrl.onError(reason)">
            </bp-tree-view>
        </div>
        <div class="project-data">
            <span class="block">{{::$root.config.labels["App_Project_Name"]}}</span>
            <div class="project-name">{{$ctrl.selectedItem.model.name}}</div>
            <div ng-if="($ctrl.isProjectSelected)">
                <span class="block">{{::$root.config.labels["App_Project_Description"]}}</span>
                <div class="project-description-wrapper">
                    <div class="project-description" ng-bind-html="$ctrl.selectedDescription"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="nova-form-group nova-form-buttons">
        <button class="btn btn-primary" ng-click="$ctrl.cancel()">
            <span ng-bind="$ctrl.dialogSettings.cancelButton"></span>
        </button>
        <button class="btn btn-promoted-action" ng-disabled="!$ctrl.isProjectSelected" ng-click="$ctrl.ok()">
            <span ng-bind="$ctrl.dialogSettings.okButton"></span>
        </button>
    </div>
</div>
