<div class="modal-header">
    <h3 class="modal-title">{{::$root.config.labels["App_Project_Open"]}}</h3>
</div>
<div class="modal-body">
    <div class="open-project__wrapper">
        <div class="open-project__tree">
            <bp-artifact-picker show-artifacts="false"
                                on-selection-changed="$ctrl.onSelectionChanged(selectedVMs)"
                                on-double-click="$ctrl.onDoubleClick(vm)">
            </bp-artifact-picker>
        </div>
        <div class="open-project__data">
            <span class="block">{{::$root.config.labels["App_Project_Name"]}}</span>
            <div class="open-project__name">{{$ctrl.selectedName}}</div>

            <span class="block">{{::$root.config.labels["App_Project_Description"]}}</span>
            <div class="open-project__description-wrapper">
                <div class="open-project__description">
                    <span class="line-clamp line-clamp-3" ng-bind="$ctrl.selectedDescription"></span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="nova-form-group nova-form-buttons">
        <button class="btn btn-cancel" ng-click="$ctrl.cancel()">
            <span ng-bind="$ctrl.dialogSettings.cancelButton"></span>
        </button>
        <button class="btn btn-promoted-action" ng-disabled="!$ctrl.isProjectSelected" ng-click="$ctrl.ok()">
            <span ng-bind="$ctrl.dialogSettings.okButton"></span>
        </button>
    </div>
</div>
