@import '../../../../../styles/modules/mixins';
@import '../../../../../styles/settings/variables';
@import "../../../../../styles/settings/colors";

.open-project__tree {
    box-sizing: border-box;
    display: block;
    float: left;
    height: calc(100% - 50px);
    margin: 0 15px 0 0;
    min-height: $project-picker-tree-height;
    width: calc(50% - 15px);
}

.open-project__data {
    display: block;
    float: left;
    font-size: 13px;
    padding-top: 49px;
    width: calc(50% - 15px);
}

.open-project__name {
    @include text-ellipsis-flex-width(999px);
    background: $gray-lightest;
    border-radius: $border-radius-amount;
    height: 36px;
    line-height: 36px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 0 15px;
    white-space: nowrap;
}

.open-project__description-wrapper {
    background: $gray-lightest;
    border-radius: $border-radius-amount;
    margin-top: 10px;
    padding: 8px 15px;
}

.open-project__description-clipper {
    box-sizing: content-box;
    max-height: calc(1em * 1.2 * 3);
    min-height: calc(1em * 1.2 * 1);
    overflow: hidden;
}

.open-project__description {
    display: block;
    line-height: 1.2;
}
