// Colors and Typography
//
// This chapter outlines the site default colors as well as they typography system
//
// Styleguide 1.0

// Bootstrap Colors
//
// Predefined bootstrap variables
//
// $gray-base                   - Gray
// $gray-darker                 - Color
// $gray-dark                   - Color
// $gray                        - Color
// $gray-light                  - Color
// $gray-lighter                - Color
// $brand-primary               - Color
// $brand-success               - Color
// $brand-info                  - Color
// $brand-warning               - Color
// $brand-danger                - Color
// $body-bg                     - Color
// $text-color                  - Color
// $link-color                  - Color
// $link-hover-color            - Color
//
// markup:
//
//
//
// Styleguide 1.1.0

// Main Colors
//
// site theme colors as as follows
//
// $black								- Black
// $text-highlight-color				- text-highlight-color
// $white								- white
// $gray-darkest					    - gray-darkest
// $gray-dark							- gray-dark
// $gray-light							- gray-light
// $gray-lighter						- gray-lighter
// $gray-lightest						- gray-lightest
// $modal-bg-color						- modal-bg-color
// $blue-light							- blue-light
// $brand-secondary						- brand-secondary
// $tree-focus-border					- tree-focus-border
// $tree-hover-background				- tree-hover-background
// $tree-focus-background				- tree-focus-background
// $blue-lightest						- blue-lightest
// $body-bg-color						- body-bg-color
// $brand-error							- brand-error
// $messages-bg-error					- messages-bg-error
// $brand-success						- brand-success
// $brand-warning						- brand-warning
// $yellow-pale							- yellow-pale
// $text-highlight-background-color		- text-highlight-background-color
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1.1

// Calculated Colors
//
// .text-color							- $text-color
// .gray                                - $gray
// .brand-primary                       - $brand-primary
// .messages-bg-info                    - $messages-bg-info
// .messages-bg-warning                 - $messages-bg-warning
//
// markup:
// <div class="styleguide-color {$modifiers}">&#36;{$modifiers}</div>
//
// Styleguide 1.1.2

$white: #fff;
$black: #000;
/*Gray*/
$gray-darkest: #333;
$gray-dark: #616161;
$gray: #999;
$gray-light: #aaa;
$gray-lighter: #ccc;
$gray-lightest: #e8e8e8;
/*Blue*/
$blue-light: #01a7e1;
$blue-lightest: #e7ebf2;
$yellow-pale: #fbf8e7;
$brand-primary: #1c285c;
$brand-secondary: #009cdc;
$brand-success: #36a2b0;
$brand-error: #d95f5e;
$brand-warning: #e4b169;

$text-color: $gray-darkest;
$text-highlight-background-color: #ffffb3;
$text-highlight-color: $black;

$messages-bg-error: $brand-error;
$messages-bg-info: $brand-success;
$messages-bg-warning: $brand-warning;

$body-bg-color: $blue-lightest;
$body-color: $text-color;
$modal-bg-color: #f0f0f0;

$link-color: $brand-secondary;
$link-hover-color: lighten($brand-secondary, 10%);

$tree-hover-background: #e5f3fb;
$tree-focus-background: #e5f3fb;
$tree-focus-border: #70c0e7;

// .gray                                - calculated color
// .text-color							- Color
// .brand-primary                       - calculated color
// .messages-bg-info                    - calculated color
// .messages-bg-warning                 - calculated color

.styleguide-color {
    &.gray {
        background-color: $gray;
    }
    &.text-color {
        background-color: $text-color;
    }
    &.brand-primary {
        background-color: $brand-primary;
    }
    &.messages-bg-info {
        background-color: $messages-bg-info;
    }
    &.messages-bg-warning {
        background-color: $messages-bg-warning;
    }
}
