<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js</title>
  <link rel="stylesheet" href="s.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>

<body>

<div class="container">
<br/>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Survey Composer</a></li>
    <li><a href="#tab2" data-toggle="tab">Survey Preview</a></li>
  </ul>
  <div class="tab-content">
  <div class="tab-pane active" id="tab1">
    
    <div id="composer">
      <div class="row">
        <div class="col-sm-1">
          Palette
          <br/><br/>
          <button type="button" id="add-checkbox" class="btn btn-primary" title="Add CheckBox Question"><span class="glyphicon glyphicon-check"></span></button>
          <br/>  <br/>
          <button type="button" id="add-radio" class="btn btn-primary" title="Add RadioButton Question"><span class="glyphicon glyphicon-ok-circle"></span></button>
        </div>
        <div class="col-sm-11">
          <div>
            Survey Title<br/><br/>
            <input id="set-title" type="text" placeholder="Enter Your Survey Title">  
          </div>      

          <section id="main">
            <hr/>      
            Survey Questions 
            <br/>
            <ul id="todo-list"></ul>
          </section>
       
        </div>
      </div>



    </div>

    <div id="instructions">
      Use palette to create a new question.
    </div>


  </div>
  <div class="tab-pane" id="tab2">
    <div id="preview">
      <section id="title-section">
        <div id="get-title"></div>
      </section>
    </div>

  </div>
</div>






  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src="backbone.localStorage.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="survey.js"></script>

  <!-- Templates -->
  <script type="text/template" id="title-template">
    <div class="get-title"><center><h1><%= surveyTitle %></h1></center></div>
  </script>
  
  
  <script type="text/template" id="item-template">
    <div class="view">
      <span class="glyphicon <%= type == 'checkbox' ? 'glyphicon-check' : 'glyphicon-ok-circle' %>"></span><br/>
      <input class="question" type="text" value="<%- title %>"><br/>
      <input class="options" type="text" value="<%- options %>"><br/>
      <a class="destroy"></a>
    </div>
  </script>

  </body>
</html>
