@import "../../../styles/modules/variables";
@import "../../../styles/modules/mixins";

.empty-collection{
    margin: $padding-root;
}

.collection__bulk__actions{
    background: $gray-lightest;
    font-size: $font-size-normal;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;

    .icon{
        &::before{
            color: $gray-light;
            font-size: $font-size-normal;
        }
        &:hover{
            cursor: pointer;

            &::before{
                color: $brand-secondary;

            }
        }
    }
}

.collection__heading{
    font-size: $font-size-big;
    color: $gray-dark;
    font-weight: 600;
    padding: 11px 14px 11px 9px;
    background:  $yellow-pale;


    .icon{
        margin-right: 15px;

        &::before{
            //temporarily, will delete after icon fix
            line-height: 40%;
        }
    }

    &__link__review {
        margin-left: 15px;
    }

    &__review__name {
        display: inline-block;
        float:left;
        width: calc(100% - 153px);
        word-wrap: break-word;
     }

    &__review__edit{
        float:right;
        display: inline-block;
        width: 130px;
    }

    &__link{
        font-weight: normal;
    }
}

.collection__description, .collection__name{
    @include text-ellipsis-flex-width(500px);
}

.artifact-overview bp-tree-view{
    display: block;
    padding: $padding-root;
}

.collections-list.project-tree {
    width: 100%;
    background: $white;

    .ag-grid{

        .ag-header-cell:last-child{
            .ag-header-cell-label{
                text-align: right;
                padding-right: $padding-root;
            }
        }

        .ag-header-cell-label {
            overflow: visible;
        }

        .ag-row.ag-row-focus, .ag-row.ag-row-no-focus, .ag-row.ag-row-focus:hover{
            .ag-cell:not(.not-selectable) span > span{
                background: transparent;
                *:not([class*="ag-checkbox-"])::before{
                    background: transparent;
                }
            }
        }

        .header-name{
            padding-left: 10px;
        }

        span > .ag-group-checkbox{
            border-width: 0;
        }

        .ag-header{
            background: $gray-dark;
        }

        .ag-header-cell{
            padding-top: 5px;

            .ag-header-cell-text{
                color: $white;
            }
        }

        .ag-full-width-container{
            border-left: 1px solid $gray-lightest;
            border-right: 1px solid $gray-lightest;
        }

        .ag-row{
            border-bottom: 1px solid $gray-lightest;

            .collection__link{
                text-decoration: underline;

                &:hover{
                    text-decoration: none;
                }
            }

            &.ag-row-selected{
                background: $tree-hover-background;
            }

            &.ag-row.ag-row-level-0 .ag-cell > span{
                margin-left: $padding-smallest;
            }

            &.ag-row-selected:hover .ag-cell:not(.not-selectable) span > span{
                background-color: transparent;
            }

            &.ag-row-selected .ag-cell:not(.not-selectable).ag-cell-value{
                background: transparent;

                .icon__normal::before{
                    color: $brand-secondary;
                }

                .path, .ag-group-value  {
                    color: $gray-dark;
                    background: transparent;
                }

                .icon__action {

                    &::before{
                        color: $gray-light;
                    }

                    &:hover{
                        &::before{
                            color:$brand-secondary;
                        }
                    }
                }
            }

            &:hover {
                .ag-group-value-wrapper i:before{
                    background: transparent;
                }


                span > span{
                    background: transparent;
                    border:none;
                }
            }
        }

        .ag-cell{
            padding-top: 7px;

            .ag-selection-checkbox{
                margin-top: 8px;
            }

            .ag-group-value{
                @include text-ellipsis-flex-width(500px);
                display: inline-block;
                width: calc(100% - 10px);
                padding-right: 0;
                border-width: 0;
            }

            &:last-child{
                .ag-group-value{
                    text-align: right;
                    padding-right: $padding-root;
                }
            }
        }

        .path{
            @include text-ellipsis-flex-width(500px);
            font-size: $font-size-small;
            color: $gray-light;
        }

        .ag-header-icon{
            display: none;
        }

        .icon{
            color: $gray-light;

            &.icon__action{
                &:hover{
                    color: $brand-secondary;
                    cursor: pointer;
                }

                &::before{
                    font-size: $font-size-normal;
                }
            }
        }
    }
}
