<div class="artifact-overview">
    <div class="heading">Overview</div>
    <div class="content">
        <form novalidate name="$ctrl.form">
            <div class="properties" ng-class="{'collapsed': isSystemPropertiesCollapsed}" >
                <div class="heading" ng-click="isSystemPropertiesCollapsed = !isSystemPropertiesCollapsed">System Properties</div>
                <perfect-scrollbar>
                    <div class="content" uib-collapse="isSystemPropertiesCollapsed">
                        <formly-form model="$ctrl.model" fields="$ctrl.systemFields">
                        </formly-form>
                    </div>
                </perfect-scrollbar>
            </div>
            <uib-tabset >
                <uib-tab ng-repeat="field in $ctrl.richTextFields"
                         heading="{{field.data.name}}">
                    <formly-form model="$ctrl.model" fields="[field]">
                    </formly-form>
                </uib-tab>
            </uib-tabset>

        </form>
    </div>
</div>
