<script type="text/ng-template" id="includeTemplate.html">
    <a href="" tabindex="-1" ng-bind-html="match.label | highlight:query"
       ng-attr-title="{{ match.model.projectName + '\u000A' + match.label}}"></a>
</script>
<div class="modal-header storyteller-modal-header">
    <h3 class="modal-title" style="display: inline-block">{{$ctrl.getActiveHeader()}}</h3>
    <h3 ng-if="!$ctrl.getActiveHeader()" class="modal-title" style="color: red; display: inline-block" ng-cloak>
        {{::$root.config.labels['ST_TaskNameNotValid_Label']}}</h3>
    <div class="contextual-help-container contextual-help-modal-container">
        <contextual-help
            image-src={{'/novaweb/static/bp-process/images/contextual-help/systemtask.png'}}></contextual-help>
    </div>
</div>

<div class="modal-body storyteller-modal-body">

    <form name="systemTaskForm" novalidate>
        <div class="nova-form-group nova-floating-label">
            <input type="text"
                    ng-class='dialogModel.persona ? "nova-form-control input-is-dirty" : "nova-form-control"'
                    id="storyteller-system-persona" ng-model='dialogModel.persona' ng-disabled="$ctrl.isReadonly"
                    autofocus maxlength="40" autocomplete="off">
            <label for="storyteller-user" class="nova-label"><i class="fonticon-bp-actor"></i>{{::$root.config.labels['ST_System_Name_Label']}}</label>
            <span class="storyteller-helper-text">{{::$root.config.labels['ST_System_Name_Helper_Text']}}</span>
        </div>
        <div class="nova-form-group nova-floating-label">
            <input type="text" ng-blur="$ctrl.nameOnBlur()" ng-focus="$ctrl.nameOnFocus()"
                    ng-class="dialogModel.action ? 'nova-form-control input-is-dirty' : 'nova-form-control'"
                    id="storyteller-systemtask-action" ng-model="dialogModel.action"
                    ng-disabled="$ctrl.isReadonly" maxlength="140" autocomplete="off">
            <label for="storyteller-systemtask-action" class="nova-label"><i class="fonticon-storyteller-title"></i>{{$ctrl.systemNamePlaceHolderText}}</label>
            <span class="storyteller-helper-text">{{::$root.config.labels['ST_Response_Helper_Text']}}</span>
        </div>
        <div id="SystemTaskUploadImage">
            <upload-image data-type-error="typeError" data-size-error="sizeError"
                            data-buttons-container-enabled="true"
                            data-image-container-width-class="file-upload_container"
                            data-image-container-class="file-upload_preview"
                            data-system-task-model="dialogModel"
                            data-image-uploaded="imageUploaded"></upload-image>
        </div>


                    <div class="nova-form-group">
                        <div ng-show="!$ctrl.isIncludeResultsVisible">
                <button class="btn btn-primary btn-small storyteller-include_btn" type="button" ng-click="$ctrl.openArtifactPicker()" ng-disabled="$ctrl.isReadonly">
                                <i class="fonticon-include-active fonticon-st-tabs"></i>{{::$root.config.labels['ST_Add_Include_Tab_Label']}}
                            </button>
                        </div>
                        <div ng-show="$ctrl.isIncludeResultsVisible" class="storyteller-include_container">
                            <div class="storyteller-include">
                                <i class="fonticon-include-active fonticon-st-tabs"></i>
                                {{$ctrl.includeArtifactName}}
                                 <i class="fonticon2-delete storyteller-include_clear" ng-click="$ctrl.cleanIncludeField()"  ng-class="{'icon__action--disabled':$ctrl.isReadonly}"></i>
                            </div>
                <button class="btn btn-primary btn-small storyteller-include_btn" type="button" ng-click="$ctrl.openArtifactPicker()" ng-disabled="$ctrl.isReadonly">
                                    <i class="fonticon-include-active fonticon-st-tabs"></i>{{::$root.config.labels['ST_Browse_Include_Label']}}
                            </button>
                        </div>
                        <label class="nova-label" ng-if="$ctrl.isIncludeError">{{::$root.config.labels['ST_Cannot_Include_Parent_Process']}}</label>
                    </div>
    </form>

</div>

<div class="modal-footer storyteller-modal-footer">
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">
        {{::$root.config.labels['App_Button_Cancel']}}
    </button>
    <button class="btn btn-promoted-action" type="button" ng-click="$ctrl.ok()" ng-disabled="$ctrl.isReadonly">
        {{::$root.config.labels['App_Button_Ok']}}
    </button>
    <!--<button id="artifact-property-modal-helper" style="display:none" type="button" ng-click="$ctrl.openPropertyFloatWindow($event)"></button>-->
</div>
