<script type="text/ng-template" id="includeTemplate.html">
    <a href="" tabindex="-1" ng-bind-html="match.label | highlight:query"
       ng-attr-title="{{ match.model.projectName + '\u000A' + match.label}}"></a>
</script>

<div class="modal-header storyteller-modal-header">
    <h3 class="modal-title" style="display: inline-block">{{$ctrl.getActiveHeader()}}</h3>
    <h3 ng-if="!$ctrl.getActiveHeader()" class="modal-title" style="color: red; display: inline-block" ng-cloak>
        {{::$root.config.labels['ST_TaskNameNotValid_Label']}}</h3>
    <div class="contextual-help-container contextual-help-modal-container">        
        <contextual-help
            image-src={{'/novaweb/static/bp-process/images/contextual-help/usertask.png'}}></contextual-help>                
    </div>
</div>

<div class="modal-body storyteller-modal-body">
    <form name="userTaskForm" novalidate>
        <div class="nova-form-group nova-floating-label">
            <input type="text"
                    ng-class='dialogModel.clonedItem.persona ? "nova-form-control input-is-dirty" : "nova-form-control"'
                    id="storyteller-user" ng-model='dialogModel.clonedItem.persona' ng-disabled="$ctrl.isReadonly"
                    autofocus maxlength="40" autocomplete="off">
            <label for="storyteller-user" class="nova-label"><i class="fonticon-bp-actor"></i>{{::$root.config.labels['ST_Persona_Label']}}</label>
            <span class="nova-helper-text">{{::$root.config.labels['ST_Persona_Helper_Text']}}</span>
        </div>
        <div class="nova-form-group nova-floating-label">
            <input type="text" ng-blur="$ctrl.actionOnBlur()" ng-focus="$ctrl.actionOnFocus()"
                    ng-class="dialogModel.clonedItem.action ? 'nova-form-control input-is-dirty' : 'nova-form-control'"
                    id="storyteller-action" ng-model="dialogModel.clonedItem.action" ng-disabled="$ctrl.isReadonly"
                    maxlength="140" autocomplete="off">
            <label for="storyteller-action" class="nova-label"><i class="fonticon-storyteller-title"></i>{{$ctrl.actionPlaceHolderText}}</label>
            <span class="nova-helper-text">{{::$root.config.labels['ST_User_Task_Name_Helper_Text']}}</span>
        </div>
        <div class="nova-form-group nova-floating-label">
            <input type="text"
                    ng-class='dialogModel.clonedItem.objective ? "nova-form-control input-is-dirty" : "nova-form-control"'
                    id="storyteller-purpose" ng-model='dialogModel.clonedItem.objective'
                    ng-disabled="$ctrl.isReadonly" maxlength="140" autocomplete="off">
            <label for="storyteller-purpose" class="nova-label"><i class="fonticon-storyteller-objective-1"></i>{{::$root.config.labels['ST_Objective_Label']}}</label>
            <span class="nova-helper-text">{{::$root.config.labels['ST_Objective_Helper_Text']}}</span>
        </div>

        <br/>
        
        <div class="small-padding">                
            <!--<div>
                <i class="fonticon-include-active"
                    ng-class="{'available': dialogModel.clonedItem.associatedArtifact}"
                    title="{{::$root.config.labels['ST_Include_Tab_Label']}}">
                </i>
                {{::$root.config.labels['ST_Include_Tab_Label']}}
            </div>-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="nova-form-group nova-floating-label">
                        <input type="text" cleartext
                                name="include"
                                ng-disabled="$ctrl.isReadonly"
                                ng-class='dialogModel.clonedItem.associatedArtifact ? "nova-form-control input-is-dirty" : "nova-form-control"'
                                
                                id="storyteller-include"
                                autocomplete="off"
                                ng-model='dialogModel.clonedItem.associatedArtifact'
                                
                                
                                
                                typeahead-template-url="includeTemplate.html">                        
                        <div
                            ng-show="$ctrl.isIncludeResultsVisible && $ctrl.isIncludeNoResults && userTaskForm.include.$invalid">
                            {{::$root.config.labels['ST_Inline_Traces_Search_No_Matches_Found']}}
                        </div>
                        <div
                            ng-show="$ctrl.isIncludeResultsVisible && $ctrl.isIncludeBadRequest && userTaskForm.include.$invalid">
                            {{::$root.config.labels['ST_Inline_Traces_Search_Bad_Request']}}
                        </div>
                        <!--<label for="storyteller-include" class="nova-label"><i class="fonticon-include-active"></i>{{::$root.config.labels['ST_Include_Label']}}</label>-->
                    </div>
                </div>                    
            </div>
        </div>
        
    </form>
</div>

<div class="modal-footer storyteller-modal-footer">
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">
        {{::$root.config.labels['App_Button_Cancel']}}
    </button>
    <button class="btn button-brand-secondary" type="button" ng-click="$ctrl.ok()" ng-disabled="$ctrl.isReadonly">
        {{::$root.config.labels['App_Button_Ok']}}
    </button>
    <!--<button id="artifact-property-modal-helper" style="display:none" type="button" ng-click="$ctrl.openPropertyFloatWindow($event)"></button>-->
</div>
