<div class="filter-bar">
        <!--ng-if="$ctrl.artifactHistoryList.length"-->
    <bp-select
        button-label="Add New"
        ng-model="$ctrl.sortAscending" 
        options="$ctrl.addOptions">
    </bp-select>
    
    <uib-tabset active="$ctrl.categoryFilter">
        <uib-tab heading="All"></uib-tab>
        <uib-tab heading="Attachments"></uib-tab>
        <uib-tab heading="Reference Docs"></uib-tab>
    </uib-tabset>
</div>

<div ng-if="$ctrl.artifactAttachmentsList"
    class="scrollable-content" 
    perfect-scrollbar>

    <h6 ng-if="$ctrl.artifactAttachmentsList.attachments.length && $ctrl.categoryFilter !== 2">Attachments</h6>
    <div ng-if="$ctrl.categoryFilter !== 2">
        <div ng-repeat="attachment in $ctrl.artifactAttachmentsList.attachments" 
            class="artifact-item-wrapper">

            <div class="separator"></div>

            <bp-artifact-attachment-item
                class="utility-panel-artifact-item"
                attachment-info="attachment"></bp-artifact-attachment-item>
        </div>
    </div>

    <h6 ng-if="$ctrl.artifactAttachmentsList.documentReferences.length && $ctrl.categoryFilter !== 1"">Doc References</h6>
    <div ng-if="$ctrl.categoryFilter !== 1"">
        <div ng-repeat="document in $ctrl.artifactAttachmentsList.documentReferences" 
            class="artifact-item-wrapper">

            <div class="separator"></div>
            
            <bp-artifact-document-item
                class="utility-panel-artifact-item" 
                doc-ref-info="document"></bp-artifact-document-item>
        </div>
    </div>
</div>

<div ng-if="!$ctrl.artifactAttachmentsList.attachments.length && !$ctrl.artifactAttachmentsList.documentReferences.length && !$ctrl.isLoading" class="empty-state">No documents/attachments available{{::$ctrl.localization.get('App_UP_Attachments_No_Attachments') }}</div>
