<div class="filter-bar"
     ng-if="$ctrl.attachmentsList.length || $ctrl.docRefList.length">

    <div class="bp-select" ng-class="{'disabled': $ctrl.itemState.isReadonly}">
        <div uib-dropdown>
            <a href="#" uib-dropdown-toggle><span>{{::$ctrl.localization.get('App_UP_Attachments_Add_New')}}</span><b
                class="caret"></b></a>
            <ul uib-dropdown-menu class="dropdown-menu">
                <li ng-class="{'disabled': !$ctrl.canChangeAttachements()}">
                    <label>
                        <input bp-file-upload="$ctrl.onFileSelect(files, callback)" type="file" multiple="1"
                               class="file-input">
                        {{::$ctrl.localization.get('App_UP_Attachments_Attachment') }}
                    </label>
                </li>
                <li ng-click="$ctrl.addDocRef()" ng-class="{'disabled': !$ctrl.canChangeAttachements()}">
                    <a href>{{::$ctrl.localization.get('App_UP_Attachments_Ref_Doc') }}</a>
                </li>
            </ul>
        </div>
    </div>

    <uib-tabset active="$ctrl.categoryFilter">
        <uib-tab heading="{{::$ctrl.localization.get('App_UP_Attachments_All') }}"></uib-tab>
        <uib-tab heading="{{::$ctrl.localization.get('App_UP_Attachments_Attachments') }}"></uib-tab>
        <uib-tab heading="{{::$ctrl.localization.get('App_UP_Attachments_Ref_Docs') }}"></uib-tab>
    </uib-tabset>
</div>

<div ng-if="$ctrl.attachmentsList.length || $ctrl.docRefList.length"
     class="scrollable-content">

    <h6 ng-if="$ctrl.attachmentsList.length && $ctrl.categoryFilter !== 2">
        {{::$ctrl.localization.get('App_UP_Attachments_Attachments') }}</h6>
    <div ng-if="$ctrl.categoryFilter !== 2">
        <div ng-repeat="attachment in $ctrl.attachmentsList"
             class="artifact-item-wrapper">

            <div class="separator"></div>

            <bp-artifact-attachment-item
                class="utility-panel-artifact-item"
                ng-class="{'new-attachment': attachment.guid}"
                attachment-info="attachment"
                delete-item="$ctrl.deleteAttachment(attachment)"
                can-change-attachments="$ctrl.canChangeAttachements()">
            </bp-artifact-attachment-item>
        </div>
    </div>
    <div ng-if="!$ctrl.attachmentsList.length && $ctrl.categoryFilter === 1"
         class="empty-state">{{::$ctrl.localization.get('App_UP_Attachments_No_Attachments_Only') }}
    </div>

    <h6 ng-if="$ctrl.docRefList.length && $ctrl.categoryFilter !== 1">
        {{::$ctrl.localization.get('App_UP_Attachments_Ref_Docs') }}</h6>
    <div ng-if="$ctrl.categoryFilter !== 1">
        <div ng-repeat="document in $ctrl.docRefList"
             class="artifact-item-wrapper">

            <div class="separator"></div>

            <bp-artifact-document-item
                class="utility-panel-artifact-item"
                doc-ref-info="document"
                delete-item="$ctrl.deleteDocRef(document)"
                can-change-attachments="$ctrl.canChangeAttachements()">
            </bp-artifact-document-item>
        </div>
    </div>
    <div ng-if="!$ctrl.docRefList.length && $ctrl.categoryFilter === 2"
         class="empty-state">{{::$ctrl.localization.get('App_UP_Attachments_No_Documents_Only') }}
    </div>
</div>

<div ng-if="$ctrl.item.attachments.isLoading || $ctrl.item.docRefs.isLoading" class="app-loading">
    <span class="glyphicon glyphicon-refresh spin"></span>
</div>

<div
    ng-if="!$ctrl.attachmentsList.length && !$ctrl.docRefList.length && !$ctrl.item.attachments.isLoading && !$ctrl.item.docRefs.isLoading"
    class="empty-state">

    <p>{{::$ctrl.localization.get('App_UP_Attachments_No_Attachments') }}</p>

    <div class="add-empty" ng-if="$ctrl.item">
        <p>{{::$ctrl.localization.get('App_UP_Attachments_Attachment_Desc') }}</p>
        <label class="btn btn-secondary btn-small" ng-class="{'disabled': !$ctrl.canChangeAttachements()}">
            <input bp-file-upload="$ctrl.onFileSelect(files, callback)" type="file" multiple="1" class="file-input">
            {{::$ctrl.localization.get('App_UP_Attachments_Add_Attachment') }}
        </label>

        <hr/>

        <p>{{::$ctrl.localization.get('App_UP_Attachments_Reference_Desc') }}</p>
        <label class="btn btn-secondary btn-small" ng-click="$ctrl.addDocRef()" ng-class="{'disabled': !$ctrl.canChangeAttachements()}">
            {{ $ctrl.localization.get('App_UP_Attachments_Add_Ref_Doc') }}
        </label>
    </div>
</div>
