<div class="filter-bar" 
    ng-if="$ctrl.artifactAttachmentsList.attachments.length || $ctrl.artifactAttachmentsList.documentReferences.length">

    <div class="bp-select" ng-class="{'disabled': $ctrl.itemState.isReadonly}">
        <div uib-dropdown>
            <a href="#" uib-dropdown-toggle><span>{{::$ctrl.localization.get('App_UP_Attachments_Add_New')}}</span><b class="caret"></b></a>
            <ul uib-dropdown-menu class="dropdown-menu">
                <li>
                    <label>
                        <input bp-file-upload="$ctrl.onFileSelect(files, callback)" type="file" multiple="1" class="file-input">
                        {{::$ctrl.localization.get('App_UP_Attachments_Add_Attachment') }}
                    </label>
                </li>
                <li ng-click="$ctrl.addDocRef()">
                    <a href>{{::$ctrl.localization.get('App_UP_Attachments_Add_Ref_Doc') }}</a>
                </li>
            </ul>
        </div>
    </div>

    <uib-tabset active="$ctrl.categoryFilter">
        <uib-tab heading="{{::$ctrl.localization.get('App_UP_Attachments_All') }}"></uib-tab>
        <uib-tab heading="{{::$ctrl.localization.get('App_UP_Attachments_Attachments') }}"></uib-tab>
        <uib-tab heading="{{::$ctrl.localization.get('App_UP_Attachments_Ref_Docs') }}"></uib-tab>
    </uib-tabset>
</div>

<div ng-if="$ctrl.artifactAttachmentsList.attachments.length || $ctrl.artifactAttachmentsList.documentReferences.length"
    class="scrollable-content" 
    perfect-scrollbar>

    <h6 ng-if="$ctrl.artifactAttachmentsList.attachments.length && $ctrl.categoryFilter !== 2">{{::$ctrl.localization.get('App_UP_Attachments_Attachments') }}</h6>
    <div ng-if="$ctrl.categoryFilter !== 2">
        <div ng-repeat="attachment in $ctrl.artifactAttachmentsList.attachments" 
            class="artifact-item-wrapper">

            <div class="separator"></div>

            <bp-artifact-attachment-item
                class="utility-panel-artifact-item"
                ng-class="{'new-attachment': attachment.guid}"
                attachment-info="attachment"></bp-artifact-attachment-item>
        </div>
    </div>
    <div ng-if="!$ctrl.artifactAttachmentsList.attachments.length && $ctrl.categoryFilter === 1"
   	    class="empty-state">{{::$ctrl.localization.get('App_UP_Attachments_No_Attachments_Only') }}</div>

    <h6 ng-if="$ctrl.artifactAttachmentsList.documentReferences.length && $ctrl.categoryFilter !== 1">{{::$ctrl.localization.get('App_UP_Attachments_Ref_Docs') }}</h6>
    <div ng-if="$ctrl.categoryFilter !== 1">
        <div ng-repeat="document in $ctrl.artifactAttachmentsList.documentReferences" 
            class="artifact-item-wrapper">

            <div class="separator"></div>
            
            <bp-artifact-document-item
                class="utility-panel-artifact-item" 
                doc-ref-info="document"></bp-artifact-document-item>
        </div>
    </div>
    <div ng-if="!$ctrl.artifactAttachmentsList.documentReferences.length && $ctrl.categoryFilter === 2"
   	    class="empty-state">{{::$ctrl.localization.get('App_UP_Attachments_No_Documents_Only') }}</div>
</div>

<div ng-if="$ctrl.isLoading" class="app-loading">
    <span class="glyphicon glyphicon-refresh spin"></span>
</div>

<div ng-if="!$ctrl.artifactAttachmentsList.attachments.length && !$ctrl.artifactAttachmentsList.documentReferences.length && !$ctrl.isLoading"
    class="empty-state">

    <p>{{::$ctrl.localization.get('App_UP_Attachments_No_Attachments') }}</p>
    
    <div class="add-empty">
        <p>A file attachment is a file that you upload and associate with a single artifact.</p>
        <label class="btn btn-default" ng-class="{'disabled': $ctrl.itemState.isReadonly}">
            <input bp-file-upload="$ctrl.onFileSelect(files, callback)" type="file" multiple="1" class="file-input">
            Add {{ $ctrl.localization.get('App_UP_Attachments_Add_Attachment') }}
        </label>
        
        <hr />

        <p>A document reference is an existing document artifact that you can associate with one or more artifacts.</p>
        <label class="btn btn-default" ng-click="$ctrl.addDocRef()" ng-class="{'disabled': $ctrl.itemState.isReadonly}">
            Add {{ $ctrl.localization.get('App_UP_Attachments_Add_Ref_Doc') }}
        </label>
    </div>
</div>
