<div class="messages__mouse-catcher messages__mouse-catcher--between" ng-mouseover="$ctrl.onMouseOut()"></div>
<div class="animation__enter-right messages__message-wrapper">
    <div class="messages__mouse-catcher messages__mouse-catcher--left" ng-mouseover="$ctrl.onMouseOut()"></div>
    <div class="messages__message-container messages__message-container--{{$ctrl.messageType}}"
         ng-mouseover="$ctrl.onMouseOver($ctrl.messageType)">
        <span class="messages__message-icon fonticon2-{{$ctrl.messageType}}"></span>
        <div class="messages__message-text" ng-transclude></div>
        <a class="fonticon-close" dismiss="alert-msg-box"
           ng-if="$ctrl.canBeClosed" ng-click="$ctrl.onMessageClosed()"></a>
    </div>
    <div class="messages__mouse-catcher messages__mouse-catcher--right" ng-mouseover="$ctrl.onMouseOut()"></div>
</div>
