@import '../../../styles/base/variables';
@import '../../../styles/modules/variables';

.messages__container {
    bottom: 8px;
    display: block;
    position: fixed;
    right: 8px;
    width: 350px;
    z-index: $zindex-messages;
}

.messages__message-container {
    border-radius: $border-radius-base;
    color: $white;
    display: flex;
    margin-top: 5px;
    padding: 10px 24px 10px 10px;
    position: relative;
    width: 100%;

    .fonticon-close {
        color: $white;
        cursor: pointer;
        position: absolute;
        right: 2px;
        text-decoration: none;
        top: 8px;

        &::before {
            font-size: 1.6rem;
        }
    }
}

.messages__message-container--error {
    background-color: $messages-bg-error;
}

.messages__message-container--warning {
    background-color: $messages-bg-warning;
}

.messages__message-container--info {
    background-color: $messages-bg-info;
}

.messages__message-container--lock {
    background-color: $messages-bg-warning;
}

.messages__message-container--deleted {
    background-color: $messages-bg-warning;
}

.messages__message-icon {
    display: block;
    flex: none;
    font-size: 2.5rem;
    margin: -10px 10px -4px 0;

    &::before {
        font-size: 2.5rem;
        line-height: inherit;
    }
}

.messages__message-text {
    display: inline-block;
    font-size: $font-size-big;
}
