<div class="container"
     data-ng-class="{'error':'error', 'warning':'warning', 'info':'info', 'lock': 'lock'}[$ctrl.messageType]">
    <div class="icon"><span class="fa"
                            data-ng-class="{'error':'fonticon-error', 'warning':'fonticon-warning', 'info':'fonticon-information','lock':'fonticon-lock'}[$ctrl.messageType]"></span>
    </div>
    <div class="text" data-ng-transclude></div>
    <a class="fonticon-close" data-dismiss="alert-msg-box"
       ng-if="$ctrl.messageType==='error' || $ctrl.messageType==='warning'" data-ng-click="$ctrl.onMessageClosed()"></a>
</div>
