@import '../../../styles/base/variables';
@import '../../../styles/modules/variables';

.messages__container {
    bottom: 8px;
    display: block;
    position: fixed;
    right: 8px;
    z-index: $zindex-messages;
}

.messages__message-container {
    border-radius: $border-radius-base;
    color: $white;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    width: 100%;

    .text {
        display: inline-block;
        font-size: $font-size-big;
    }

    .fonticon-close {
        color: $white;
        cursor: pointer;
        position: absolute;
        right: 3px;
        text-decoration: none;
        top: 6px;

        &::before {
            font-size: 1.6rem;
        }
    }
}

.messages__message-container--error {
    background-color: $messages-bg-error;
}

.messages__message-container--warning {
    background-color: $messages-bg-warning;
}

.messages__message-container--info {
    background-color: $messages-bg-info;
}

.messages__message-container--lock {
    background-color: $messages-bg-warning;
}

.messages__message-container--deleted {
    background-color: $messages-bg-warning;
}

.messages__message-icon {
    display: inline-block;
    font-size: 2.5rem;
    margin: -10px 10px;

    &::before {
        font-size: 2.5rem;
        line-height: inherit;
    }
}


.slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
