.spin {
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  -webkit-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
  animation-delay: .5s;
  -ms-transform-origin: 50% 50%; // IE 9
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  visibility: hidden;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    visibility: visible;
  }

  to {
    -moz-transform: rotate(360deg);
    visibility: visible;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    visibility: visible;
  }

  to { -webkit-transform: rotate(360deg);
    visibility: visible;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    visibility: visible;
  }

  to {
    transform: rotate(360deg);
    visibility: visible;
  }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
