@font-face {
    font-family: 'bp-font2';
    src: url('fonts/bp-font2.eot');
    src: url('fonts/bp-font2.eot?#iefix') format('embedded-opentype'),
    url('fonts/bp-font2.woff2') format('woff2'),
    url('fonts/bp-font2.woff') format('woff'),
    url('fonts/bp-font2.ttf') format('truetype'),
    url('fonts/bp-font2.svg#bp-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fonticon2-"]::before,
[class*=" fonticon2-"]::before,
[class*="fonticon2-"]::after,
[class*=" fonticon2-"]::after {
    font-family: "bp-font2";
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    speak: none;

    /* TODO: tried to fix suspect icon issue */
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1.8rem;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    /* margin-left: .2em; */

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

$fonticon2-arrow-down: '\e805'; /* '' */
$fonticon2-arrow-left: '\e806'; /* '' */
$fonticon2-arrow-right: '\e807'; /* '' */
$fonticon2-arrow-up: '\e804'; /* '' */
$fonticon2-circle-down: '\e809'; /* '' */
$fonticon2-circle-left: '\e80a'; /* '' */
$fonticon2-circle-right: '\e80b'; /* '' */
$fonticon2-circle-up: '\e80c'; /* '' */
$fonticon2-legacy: '\e821'; /* '' */
$fonticon2-delete-filled: '\e810';  /* '' */
$fonticon2-delete: '\e80f';/* '' */
$fonticon2-edit: '\e814'; /* '' */
$fonticon2-email: '\e816';  /* '' */
$fonticon2-error: '\e817'; /* '' */
$fonticon2-export: '\e818'; /* '' */
$fonticon2-flag-emptied: '\e81a'; /* '' */
$fonticon2-flag: '\e819'; /* '' */
$fonticon2-help: '\e81c'; /* '' */
$fonticon2-history: '\e81d'; /* '' */
$fonticon2-impact-analysis: '\e81e'; /* '' */
$fonticon2-information-more: '\e820';  /* '' */
$fonticon2-information: '\e81f';/* '' */
$fonticon2-arrow-double-left: '\e802'; /* '' */
$fonticon2-news: '\e824'; /* '' */
$fonticon2-non-functional: '\e825'; /* '' */
$fonticon2-pencil: '\e826'; /* '' */
$fonticon2-format: '\e81b'; /* '' */
$fonticon2-asterisk: '\e808'; /* '' */
$fonticon2-lock: '\e83b'; /* '' */
$fonticon2-relationship: '\e82c'; /* '' */
$fonticon2-reply: '\e830'; /* '' */
$fonticon2-reset: '\e831'; /* '' */
$fonticon2-save: '\e83c'; /* '' */
$fonticon2-sign-in: '\e83e'; /* '' */
$fonticon2-sign-out: '\e83f'; /* '' */
$fonticon2-pin: '\e827'; /* '' */
$fonticon2-tour: '\e835'; /* '' */
$fonticon2-unauthorize: '\e841'; /* '' */
$fonticon2-warning: '\e83d'; /* '' */
$fonticon2-attachment: '\e839'; /* '' */
$fonticon2-download: '\e813'; /* '' */
$fonticon2-upload: '\e836';/* '' */
$fonticon2-close: '\e80d'; /* '' */
$fonticon2-navigation: '\e822'; /* '' */
$fonticon2-arrow-double-right: '\e803'; /* '' */
$fonticon2-search: '\e833'; /* '' */
$fonticon2-relationship-right: '\e82f'; /* '' */
$fonticon2-relationship-bi: '\e82d'; /* '' */
$fonticon2-relationship-left: '\e82e'; /* '' */
$fonticon2-change-direction: '\e83a'; /* '' */
$fonticon2-success: '\e834'; /* '' */
$fonticon2-comments: '\e80e'; /* '' */
$fonticon2-discard-line: '\e811'; /* '' */
$fonticon2-discussion: '\e812'; /* '' */
$fonticon2-edit-comment: '\e815'; /* '' */
$fonticon2-properties: '\e828'; /* '' */
$fonticon2-publish-line: '\e829'; /* '' */
$fonticon2-new: '\e823'; /* '' */
$fonticon2-save-line: '\e832'; /* '' */
$fonticon2-refresh-line: '\e82b'; /* '' */
$fonticon2-user-system: '\e837'; /* '' */
$fonticon2-user-user: '\e838'; /* '' */
$fonticon2-add-artifact: '\e800'; /* '' */
$fonticon2-add-folder: '\e801'; /* '' */
$fonticon2-rapid-review: '\e82a'; /* '' */
$fonticon2-font-family: '\e840'; /* '' */

.fonticon2-arrow-down::before {
    content: $fonticon2-arrow-down;
}

/* '' */
.fonticon2-arrow-left::before {
    content: $fonticon2-arrow-left;
}

/* '' */
.fonticon2-arrow-right::before {
    content: $fonticon2-arrow-right;
}

/* '' */
.fonticon2-arrow-up::before {
    content: $fonticon2-arrow-up;
}

/* '' */
.fonticon2-circle-down::before {
    content: $fonticon2-circle-down;
}

/* '' */
.fonticon2-circle-left::before {
    content: $fonticon2-circle-left;
}

/* '' */
.fonticon2-circle-right::before {
    content: $fonticon2-circle-right;
}

/* '' */
.fonticon2-circle-up::before {
    content: $fonticon2-circle-up;
}

/* '' */
.fonticon2-legacy::before {
    content: $fonticon2-legacy;
}

/* '' */
.fonticon2-delete-filled::before {
    content: $fonticon2-delete-filled;
}

/* '' */
.fonticon2-delete::before {
    content: $fonticon2-delete;
}

/* '' */
.fonticon2-edit::before {
    content: $fonticon2-edit;
}

/* '' */
.fonticon2-email::before {
    content: $fonticon2-email;
}

/* '' */
.fonticon2-error::before {
    content: $fonticon2-error;
}

/* '' */
.fonticon2-export::before {
    content: $fonticon2-export;
}

/* '' */
.fonticon2-flag-emptied::before {
    content: $fonticon2-flag-emptied;
}

/* '' */
.fonticon2-flag::before {
    content: $fonticon2-flag;
}

/* '' */
.fonticon2-help::before {
    content: $fonticon2-help;
}

/* '' */
.fonticon2-history::before {
    content: $fonticon2-history;
}

/* '' */
.fonticon2-impact-analysis::before {
    content: $fonticon2-impact-analysis;
}

/* '' */
.fonticon2-information-more::before {
    content: $fonticon2-information-more;
}

/* '' */
.fonticon2-information::before {
    content: $fonticon2-information;
}

/* '' */
.fonticon2-arrow-double-left::before {
    content: $fonticon2-arrow-double-left;
}

/* '' */
.fonticon2-news::before {
    content: $fonticon2-news;
}

/* '' */
.fonticon2-non-functional::before {
    content: $fonticon2-non-functional;
}

/* '' */
.fonticon2-pencil::before {
    content: $fonticon2-pencil;
}

/* '' */

.fonticon2-format::before {
    content: $fonticon2-format;
}

/* '' */
.fonticon2-asterisk::before {
    content: $fonticon2-asterisk;
}

/* '' */
.fonticon2-lock::before {
    content: $fonticon2-lock;
}

/* '' */
.fonticon2-relationship::before {
    content: $fonticon2-relationship;
}

/* '' */
.fonticon2-reply::before {
    content: $fonticon2-reply;
}

/* '' */
.fonticon2-reset::before {
    content: $fonticon2-reset;
}

/* '' */
.fonticon2-save::before {
    content: $fonticon2-save;
}

/* '' */
.fonticon2-sign-in::before {
    content: $fonticon2-sign-in;
}

/* '' */
.fonticon2-sign-out::before {
    content: $fonticon2-sign-out;
}

/* '' */
.fonticon2-pin::before {
    content: $fonticon2-pin;
}

/* '' */
.fonticon2-tour::before {
    content: $fonticon2-tour;
}

/* '' */
.fonticon2-unauthorize::before {
    content: $fonticon2-unauthorize;
}

/* '' */
.fonticon2-warning::before {
    content: $fonticon2-warning;
}

/* '' */
.fonticon2-attachment::before {
    content: $fonticon2-attachment;
}

/* '' */
.fonticon2-download::before {
    content: $fonticon2-download;
}

/* '' */
.fonticon2-upload::before {
    content: $fonticon2-upload;
}

/* '' */
.fonticon2-close::before {
    content: $fonticon2-close;
}

/* '' */
.fonticon2-navigation::before {
    content: $fonticon2-navigation;
}

/* '' */
.fonticon2-arrow-double-right::before {
    content: $fonticon2-arrow-double-right;
}

/* '' */
.fonticon2-search::before {
    content: $fonticon2-search;
}

/* '' */
.fonticon2-relationship-right::before {
    content: $fonticon2-relationship-right;
}

/* '' */
.fonticon2-relationship-bi::before {
    content: $fonticon2-relationship-bi;
}

/* '' */
.fonticon2-relationship-left::before {
    content: $fonticon2-relationship-left;
}

/* '' */
.fonticon2-change-direction::before {
    content: $fonticon2-change-direction;
}

/* '' */
.fonticon2-success::before {
    content: $fonticon2-success;
}

/* '' */
.fonticon2-comments::before {
    content: $fonticon2-comments;
}

/* '' */
.fonticon2-discard-line::before {
    content: $fonticon2-discard-line;
}

/* '' */
.fonticon2-discussion::before {
    content: $fonticon2-discussion;
}

/* '' */
.fonticon2-edit-comment::before {
    content: $fonticon2-edit-comment;
}

/* '' */
.fonticon2-properties::before {
    content: $fonticon2-properties;
}

/* '' */
.fonticon2-publish-line::before {
    content: $fonticon2-publish-line;
}

/* '' */

.fonticon2-new::before {
    content: $fonticon2-new;
}

/* '' */
.fonticon2-save-line::before {
    content: $fonticon2-save-line;
}

/* '' */
.fonticon2-refresh-line::before {
    content: $fonticon2-refresh-line;
}

/* '' */

.fonticon2-user-system::before {
    content: $fonticon2-user-system;
}

/* '' */
.fonticon2-user-user::before {
    content: $fonticon2-user-user;
}

/* '' */

.fonticon2-add-artifact:before {
    content: $fonticon2-add-artifact;
} /* '' */
.fonticon2-add-folder:before {
    content: $fonticon2-add-folder;
}
.fonticon2-rapid-review:before {
    content: $fonticon2-rapid-review;
} /* '' */
.fonticon2-font-family:before {
    content: $fonticon2-font-family;
} /* '' */
