@font-face {
  font-family: 'bp-font2';
  src: url('fonts/bp-font2.eot');
  src: url('fonts/bp-font2.eot?#iefix') format('embedded-opentype'),
  url('fonts/bp-font2.woff2') format('woff2'),
  url('fonts/bp-font2.woff') format('woff'),
  url('fonts/bp-font2.ttf') format('truetype'),
  url('fonts/bp-font2.svg#bp-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fonticon2-"]::before,
[class*=" fonticon2-"]::before,
[class*="fonticon2-"]::after,
[class*=" fonticon2-"]::after {
  font-family: "bp-font2";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  speak: none;

  /* TODO: tried to fix suspect icon issue */
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1.8rem;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fonticon2-arrow-down:before { content: '\e800'; } /* '' */
.fonticon2-arrow-left:before { content: '\e801'; } /* '' */
.fonticon2-arrow-right:before { content: '\e802'; } /* '' */
.fonticon2-arrow-up:before { content: '\e803'; } /* '' */
.fonticon2-circle-down:before { content: '\e804'; } /* '' */
.fonticon2-circle-left:before { content: '\e805'; } /* '' */
.fonticon2-circle-right:before { content: '\e806'; } /* '' */
.fonticon2-circle-up:before { content: '\e807'; } /* '' */
.fonticon2-legacy:before { content: '\e808'; } /* '' */
.fonticon2-delete-filled:before { content: '\e809'; } /* '' */
.fonticon2-delete:before { content: '\e80a'; } /* '' */
.fonticon2-discard:before { content: '\e80b'; } /* '' */
.fonticon2-edit:before { content: '\e80c'; } /* '' */
.fonticon2-email:before { content: '\e80d'; } /* '' */
.fonticon2-error:before { content: '\e80e'; } /* '' */
.fonticon2-export:before { content: '\e80f'; } /* '' */
.fonticon2-flag-emptied:before { content: '\e810'; } /* '' */
.fonticon2-flag:before { content: '\e811'; } /* '' */
.fonticon2-help:before { content: '\e812'; } /* '' */
.fonticon2-history:before { content: '\e813'; } /* '' */
.fonticon2-impact-analysis:before { content: '\e814'; } /* '' */
.fonticon2-information-more:before { content: '\e815'; } /* '' */
.fonticon2-information:before { content: '\e816'; } /* '' */
.fonticon2-arrow-double-left:before { content: '\e817'; } /* '' */
.fonticon2-news:before { content: '\e818'; } /* '' */
.fonticon2-non-functional:before { content: '\e819'; } /* '' */
.fonticon2-pencil:before { content: '\e81a'; } /* '' */
.fonticon2-refresh:before { content: '\e81b'; } /* '' */
.fonticon2-format:before { content: '\e81c'; } /* '' */
.fonticon2-asterisk:before { content: '\e81d'; } /* '' */
.fonticon2-lock:before { content: '\e81e'; } /* '' */
.fonticon2-relationship:before { content: '\e81f'; } /* '' */
.fonticon2-reply:before { content: '\e820'; } /* '' */
.fonticon2-reset:before { content: '\e821'; } /* '' */
.fonticon2-save:before { content: '\e822'; } /* '' */
.fonticon2-sign-in:before { content: '\e823'; } /* '' */
.fonticon2-sign-out:before { content: '\e824'; } /* '' */
.fonticon2-pin:before { content: '\e825'; } /* '' */
.fonticon2-tour:before { content: '\e826'; } /* '' */
.fonticon2-unauthorize:before { content: '\e827'; } /* '' */
.fonticon2-warning:before { content: '\e828'; } /* '' */
.fonticon2-attachment:before { content: '\e829'; } /* '' */
.fonticon2-download:before { content: '\e82a'; } /* '' */
.fonticon2-upload:before { content: '\e82b'; } /* '' */
.fonticon2-close:before { content: '\e82c'; } /* '' */
.fonticon2-navigation:before { content: '\e82d'; } /* '' */
.fonticon2-arrow-double-right:before { content: '\e82e'; } /* '' */
.fonticon2-search:before { content: '\e82f'; } /* '' */
.fonticon2-relationship-right:before { content: '\e830'; } /* '' */
.fonticon2-relationship-bi:before { content: '\e831'; } /* '' */
.fonticon2-relationship-left:before { content: '\e832'; } /* '' */
.fonticon2-change-direction:before { content: '\e833'; } /* '' */
.fonticon2-success:before { content: '\e834'; } /* '' */
.fonticon2-comments:before { content: '\e835'; } /* '' */
.fonticon2-discard-line:before { content: '\e836'; } /* '' */
.fonticon2-discussion:before { content: '\e837'; } /* '' */
.fonticon2-edit-comment:before { content: '\e838'; } /* '' */
.fonticon2-properties:before { content: '\e839'; } /* '' */
.fonticon2-publish-line:before { content: '\e83a'; } /* '' */
.fonticon2-publish:before { content: '\e83b'; } /* '' */
.fonticon2-new:before { content: '\e83c'; } /* '' */
.fonticon2-save-line:before { content: '\e83d'; } /* '' */
.fonticon2-save-1:before { content: '\e83e'; } /* '' */
.fonticon2-unauthorize-1:before { content: '\e83f'; } /* '' */
.fonticon2-project:before { content: '\e840'; } /* '' */
.fonticon2-refresh-line:before { content: '\e841'; } /* '' */
.fonticon2-subartifact:before { content: '\e842'; } /* '' */
.fonticon2-tour-1:before { content: '\e844'; } /* '' */
.fonticon2-user-system:before { content: '\e845'; } /* '' */
.fonticon2-user-user:before { content: '\e846'; } /* '' */
