//colors
$text-color:        #0c0c0c;
$gray-darker:       #333;
$gray-dark:         #4c4c4c;
$gray:              #616161;
$gray-pale:         #838383;
$gray-medium:       #999;
$gray-light:        #aaa;
$gray-lighter:      #ccc;
$gray-lightest:     #e8e8e8;
$blue-lightest:     #e7ebf2;
$white:             #fff;
$black:             #000;

$brand-primary:     #1c285c;
$brand-secondary:   #009cdc;
$brand-success:     #fff;
$brand-error:       #ff1300;

$body-bg-color:     $blue-lightest;
$body-color:        $text-color;
$modal-bg-color:    #f0f0f0;

$link-color:        $brand-secondary;
$link-hover-color:  lighten($brand-secondary, 10%);

//font
$font-family-base: 'Open Sans', sans-serif;

$font-size-root:     16px;
$font-size-smaller:  .875rem;  //~14px
$font-size-smallest: .75rem;   //~12px
$font-size-tiny:     .6875rem; //~11px
$font-size-tiniest:  .625rem; //~10px
$font-size-micro:    .5625rem; //~9px
$font-size-nano:     .5rem; //~9px
$font-size-bigger:   1.125rem; //~18px
$font-size-biggest:  1.25rem;  //~20px

//navbar
$navbar-height: 40px;
$navbar-color: #01206a;

//toolbar
$toolbar-height: 46px;

//breadcrumbs
$breadcrumbs-height: 48px;

//sidebars
$wrapper-height: $navbar-height;
$sidebar-size: 250px;
$left-sidebar-border: $brand-secondary;
$right-sidebar-border: #dde1e2;

//utility panel
$utility-panel-title-height: 33px;
$utility-panel-heading-height: 31px;
$utility-panel-border-color: $right-sidebar-border;

//project tree/picker
$aggrid-row-height: 20px;

//project picker
$project-picker-tree-width: 380px;
$project-picker-tree-height: 244px;
$project-picker-data-width: 350px;

//vertical order
$tooltip-z-index: 10000;
$sidebar-z-index: 500;
$toolbar-z-index: $sidebar-z-index + 100;

//other
$border-radius-amount: 4px;
