@import '../../../../styles/settings/typography';
@import '../../../../styles/settings/colors';

.artifact-status__wrapper {
  align-items: center;
  background-color: $messages-bg-warning;
  color: $white;
  display: flex;
  margin: 0 0 10px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.artifact-status__icon {
  display: inline-block;
  font-size: $font-size-big;
  margin: 0;

  &::before {
    font-size: $font-size-big;
    line-height: inherit;
  }
}

.artifact-status__text {
  display: inline-block;
  font-size: $font-size-big;
  margin-left: 10px;
  white-space: normal;
}

.artifact-status__open-latest,
.artifact-status__open-latest:visited {
  color: $white;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: underline;
}
