<div ng-if="$ctrl.historicalMessage" class="artifact-status artifact-status--historical">
    <span class="icon fonticon-clock"></span>
    <span class="artifact-status__text">
        {{:: $ctrl.historicalMessage }}
        <a class="artifact-status__open-latest" ui-sref="main.item({ id: $ctrl.artifact.id, version: undefined, path: undefined })">{{::$root.config.labels['App_Artifact_Info_OpenLatestVersion']}}</a>
    </span>
</div>
<div class="responsive-header">
    <div class="artifact-heading">
        <div class="icon" ng-class="!$ctrl.hasCustomIcon ? $ctrl.artifactClass : ''"
             bp-tooltip="{{ $ctrl.artifactTypeDescription }}">
            <bp-item-type-icon ng-if="$ctrl.hasCustomIcon"
                               item-type-id="$ctrl.artifactTypeId"
                               item-type-icon-id="$ctrl.artifactTypeIconId"
                               predefined-type="$ctrl.artifact.predefinedType"
                               fallback="true"></bp-item-type-icon>
        </div>
        <div class="artifact-heading-group1">
            <div class="artifact-heading-group2">
                <div class="name">{{ $ctrl.artifactName }}</div>
                <div class="indicators">
                    <i class="readonly-indicator fonticon2-unauthorize" bp-tooltip="Read-only" ng-if="$ctrl.isReadonly"></i>
                    <i class="fonticon-lock self-locked" ng-if="$ctrl.selfLocked" bp-tooltip="Locked"> </i>
                    <i class="dirty-indicator fonticon2-asterisk" bp-tooltip="{{::$ctrl.localization.get('App_Tooltip_Dirty')}}" ng-if="$ctrl.isChanged"></i>
                    <i class="legacy-indicator fonticon2-legacy" bp-tooltip="{{::$ctrl.localization.get('Tooltip_Artifact_Header_LegacyArtifact')}}" ng-if="$ctrl.isLegacy"></i>
                </div>
            </div>
            <div class="type-id">{{ $ctrl.artifactTypeDescription }}</div>
        </div>
    </div>
    <bp-toolbar-2 class="page-toolbar__container" ng-if="!$ctrl.isToolbarCollapsed" actions="$ctrl.toolbarActions"></bp-toolbar-2>
    <bp-toolbar-2 class="page-toolbar__container" ng-if="$ctrl.isToolbarCollapsed" actions="$ctrl.collapsedToolbarActions"></bp-toolbar-2>
</div>
<div class="load-project" ng-if="$ctrl.canLoadProject">
    <label bp-tooltip="{{::$ctrl.localization.get('App_Explorer_LoadProject_ButtonTooltip') }}" class="btn btn-load-project btn-secondary btn-small" ng-click="$ctrl.loadProject()">
        {{::$ctrl.localization.get('App_Explorer_LoadProject_ButtonLabel')}}
    </label>
</div>
