<div class="artifact-heading" ng-style="$ctrl.artifactHeadingMinWidth">
    <div class="icon" ng-class="!$ctrl.artifactTypeIcon ? $ctrl.artifactClass : ''" bp-tooltip="{{ $ctrl.artifactTypeDescription }}">
        <bp-item-type-icon ng-if="!!$ctrl.artifactTypeIcon"
                           item-type-id="{{$ctrl.artifactTypeId}}"
                           item-type-icon="{{$ctrl.artifactTypeIcon}}"></bp-item-type-icon>
    </div>
    <div class="artifact-heading-group1">
        <div class="artifact-heading-group2">
            <div class="name" bp-tooltip="{{ $ctrl.artifactName }}" bp-tooltip-truncated="true">
                {{ $ctrl.artifactName }}
            </div>
            <div class="indicators">
                <i class="readonly-indicator fonticon2-unauthorize" bp-tooltip="Read-only" ng-if="$ctrl.isReadonly"></i>
                <i class="fonticon-lock self-locked" ng-if="$ctrl.selfLocked" bp-tooltip="Locked"> </i>
                <!--TODO  please do not remove, I'll remove after testing-->
                <i class="dirty-indicator fonticon2-asterisk" bp-tooltip="Dirty" ng-if="$ctrl.isChanged"></i>
                <i class="legacy-indicator fonticon2-legacy" bp-tooltip="Legacy artifact" ng-if="$ctrl.isLegacy"></i>
            </div>
        </div>
        <div class="type-id">{{ $ctrl.artifactTypeDescription }}</div>
    </div>
</div>
<div class="page-top-toolbar">
    <button class="btn btn-bluelight" bp-tooltip="Picker" ng-click="$ctrl.openPicker()">Picker</button>
    <button class="btn btn-bluelight" bp-tooltip="Discard">Discard</button>
    <button class="btn btn-bluelight" bp-tooltip="Save" ng-click="$ctrl.saveChanges()" ng-disabled="!$ctrl.isChanged">Save</button>
    <button class="btn btn-primary" bp-tooltip="Publish">Publish</button>
</div>
