<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessControl" value="http://localhost:9801/svc/accesscontrol/"/>
    <add key="ConfigControl" value="http://localhost:9801/svc/configcontrol/"/>
  </appSettings>
  <connectionStrings>
    <add name="AdminStorage"
      connectionString="data source=AdminStorage" />
    <add name="RaptorMain"
      connectionString="data source=RaptorMain" />
  </connectionStrings>
</configuration>
