@import '../../../../styles/modules/mixins';
@import '../../../../styles/settings/variables';
@import "../../../../styles/settings/colors";
@import "../../../../styles/settings/typography";

.bp-artifact-list {
    margin: 0;
    padding: 0;

    .vs-repeat-before-content,
    .vs-repeat-after-content {
        height: 0;
        list-style: none;
    }

    .item-icon__fallback {
        vertical-align: top;
    }

    &__item {
        font-size: $font-size-small;
        list-style: none;
        padding-left: 16px;
    }

    &__icon {
        display: inline-block;
        font-size: $font-size-big;
        height: 20px;
        margin-right: 4px;
        text-align: center;
        width: 20px;

        img {
            background: $white;
            position: relative;
            width: 14px;
        }
    }

    &__artifact,
    &__project {
        @include text-ellipsis-fixed-width(100%);
        height: 21px;
        line-height: 20px;
    }

    &__artifact {
        padding-left: 24px;
    }

    &__counter {
        border: solid 1px $gray-light;
        font-size: $font-size-small;
        padding: 8px 0;
        text-align: center;
    }

    &__load-more {
        color: $brand-secondary;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            color: $brand-secondary;
            text-decoration: underline;
        }
    }
}

.bp-artifact-list--overflow {
    overflow: auto;
}
