<ul class="bp-artifact-list"
    ng-style="{'height': ($ctrl.initialRows * 21).toString() + 'px'}"
    ng-class="{
    'bp-artifact-list--overflow': $ctrl.limitTo !== $ctrl.initialLimit,
    'bp-artifact-list--complete': $ctrl.sortedList.length <= $ctrl.limitTo
    }">
    <li class="bp-artifact-list__item" ng-repeat="artifact in $ctrl.sortedList | limitTo: $ctrl.limitTo track by artifact.id">
        <div class="bp-artifact-list__project"
             ng-if="artifact.projectName && ($index === 0 || $ctrl.sortedList[$index].projectName !== $ctrl.sortedList[$index - 1].projectName)"
             bp-tooltip="{{::artifact.projectName}}" bp-tooltip-truncated="true">
            <span class="bp-artifact-list__icon"><i class="bp-artifact-list__icon icon icon-project"></i></span>{{::artifact.projectName}}
        </div>
        <div class="bp-artifact-list__artifact" bp-tooltip="{{::$ctrl.itemLabel(artifact)}}" bp-tooltip-truncated="true">
            <bp-item-type-icon
                item-type-id="artifact.itemTypeId"
                item-type-icon-id="artifact.itemTypeIconId"
                predefined-type="artifact.predefinedType" class="bp-artifact-list__icon"></bp-item-type-icon>{{::$ctrl.itemLabel(artifact)}}
        </div>
    </li>
</ul>
<div class="bp-artifact-list__counter" ng-if="$ctrl.sortedList.length > $ctrl.limitTo">
    {{$root.config.labels["Artifact_List_Show_First_N_Results"] | bpFormat:$ctrl.limitTo}}<br/>
    <a class="bp-artifact-list__load-more" href="javascript://"
       ng-if="$ctrl.limitTo === $ctrl.initialLimit && $ctrl.sortedList.length > $ctrl.limitTo"
       ng-click="$ctrl.loadMore()">{{::$root.config.labels["Artifact_List_Show_More"]}}</a>
</div>
