<div ng-repeat="option in $ctrl.options" ng-switch="option.type">
    <button ng-switch-when="button" class="btn btn-primary btn-small" ng-disabled="option.isDisabled" bp-tooltip="{{option.tooltip}}" ng-click="option.click()">
        <span ng-if="option.icon" ng-class="option.icon"></span> {{option.label}}
    </button>
    <div ng-switch-when="dropdown" uib-dropdown>
      <button type="button" class="btn btn-primary btn-small" uib-dropdown-toggle ng-disabled="option.isDisabled">
        <span ng-if="option.icon" ng-class="option.icon"></span> {{option.label}} 
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="menuItem in option.menuItems">
            <a ng-class="{'disabled': menuItem.isDisabled}" ng-click="menuItem.isDisabled ? undefined : menuItem.click()">{{menuItem.label}}</a>
        </li>
      </ul>
    </div>
    <div ng-switch-when="toggle" class="btn-group">
        <button ng-repeat="toggleOption in option.toggleOptions" class="btn btn-primary btn-small" ng-disabled="toggleOption.isDisabled || option.isDisabled" ng-click="toggleOption.click()">
            <span ng-if="toggleOption.icon" ng-class="toggleOption.icon"></span> {{toggleOption.label}}
        </button>
    </div>
    <button ng-switch-default class="btn btn-primary btn-small" bp-tooltip="Error">
        <span class="glyphicon glyphicon-exclamation-sign"></span> Error
    </button>
</div>