<div class="bp-accordion-panel {{bpAccordionPanel.accordionPanelClass}}" id="{{bpAccordionPanel.accordionPanelId}}">
	<input type="radio" name="{{bpAccordionPanel.accordionGroupId}}" ng-checked="bpAccordionPanel.accordionPanelIsOpen" role="button" class="bp-accordion-panel-state"><input type="checkbox" class="bp-accordion-panel-pin">
	<i></i>
	<div role="tab" class="bp-accordion-panel-heading">{{bpAccordionPanel.accordionPanelHeading}}</div>
	<div role="tabpanel" class="bp-accordion-panel-content" ng-transclude></div>
</div>