<!-- <bp-sidebar-layout> (by transclusion)-->
<div class="bp-sidebar-wrapper" ng-class="{'left-panel-visible': $ctrl.isLeftToggled, 'right-panel-visible': $ctrl.isRightToggled}">

    <div class="sidebar left-panel">
        <div class="sidebar-content">
            <a ng-click="$ctrl.toggleLeft($event)" class="sidebar-toggle"><i class="fonticon-navigation"></i></a>
            <div class="sidebar-title" ng-transclude="header-left"></div>
            <div class="sidebar-content" ng-transclude="content-left"></div>
        </div>
    </div>

    <div class="content-center" ng-transclude="content-center"></div>

    <div class="sidebar right-panel">
        <div class="sidebar-content">
            <a ng-click="$ctrl.toggleRight($event)" class="sidebar-toggle"><i class="fonticon-navigation"></i></a>
            <div class="sidebar-title" ng-transclude="header-right"></div>
            <div class="sidebar-content" ng-transclude="content-right"></div>
        </div>
    </div>

</div>
<!-- </bp-sidebar-layout> -->
