<div ng-if="$ctrl.isLoading" class="app-loading">
    <span class="glyphicon glyphicon-refresh spin"></span>
    <span>Loading...</span>
</div>

<div class="artifact-overview" ng-if="!$ctrl.isLoading">
    <div class="heading">Overview</div>
    <div class="content">
        <form novalidate >
            <div class="properties" ng-class="{'collapsed': isSystemPropertiesCollapsed}" ng-if="$ctrl.isSystemPropertyAvailable">
                <div class="heading" ng-click="isSystemPropertiesCollapsed = !isSystemPropertiesCollapsed">System Properties</div>
                <div class="content" uib-collapse="isSystemPropertiesCollapsed">
                    <formly-form model="$ctrl.model" fields="$ctrl.systemFields" >
                    </formly-form>
                </div>
            </div>
            <div class="properties" ng-class="{'collapsed': isAdditionalPropertiesCollapsed}" ng-if="$ctrl.isCustomPropertyAvailable">
                <div class="heading" ng-click="isAdditionalPropertiesCollapsed = !isAdditionalPropertiesCollapsed">Additional Properties</div>
                <div class="content" uib-collapse="isAdditionalPropertiesCollapsed">
                    <formly-form model="$ctrl.model" fields="$ctrl.customFields" >
                    </formly-form>
                </div>
            </div>

            <uib-tabset ng-if="$ctrl.isRichTextPropertyAvailable">
                <uib-tab ng-repeat="field in $ctrl.richTextFields"
                         heading="{{field.data.name}}">
                    <formly-form model="$ctrl.model" fields="[field]" >
                    </formly-form>
                </uib-tab>
            </uib-tabset>

        </form>
    </div>
</div>
