@import '../../../../styles/settings/typography';
@import "../../../../styles/settings/colors";

.avatar__wrapper {
  border: 2px solid $gray-lighter;
  border-radius: 50%;
  font-size: $font-size-bigger;
  height: 100%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.avatar__img,
.avatar__initials {
  border: 0;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.avatar__img {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.avatar__initials {
  height: calc(100% - 4px);
  left: 2px;
  line-height: 200%;
  top: 2px;
  width: calc(100% - 4px);
}

.avatar__img + .avatar__initials {
  display: none;
}

.avatar__initials--guest {
  background-image: url('/novaweb/static/images/guest.png') !important;
  background-color: transparent !important;
  background-size: cover;
  text-indent: -99999px;
}
