<!-- toolbar -->
<div class="top-toolbar" ng-class="{'disabled-block': !vm.isToolbarEnabled}">
    <div class="items-container fixed-items">

        <div class="menu-item"
             ng-class="{ 'disabled-block' : !vm.saveProcessCommand.canExecute()}"
             ng-click="vm.saveProcessCommand.execute()">
            <div class="icon">
                <i class="fonticon-save-1"></i>
            </div>
            <div class="subtext">{{::$root.config.labels['ST_SaveProcess_Toolbar_Button']}}</div>
        </div>
        <div class="menu-item"
             ng-class="{ 'disabled-block' : !vm.discardChangesCommand.canExecute()}"
             ng-click="vm.discardChangesCommand.execute()">
            <div class="icon"><i class="fonticon-restore"></i></div>
            <div class="subtext">{{::$root.config.labels['ST_Discard_Toolbar_Button']}}</div>
        </div>
        <div class="menu-item"
             ng-class="{ 'disabled-block' : !vm.publishProcessCommand.canExecute()}"
             ng-click="vm.publishProcessCommand.execute()">
            <div class="icon">
                <i class="fonticon-upload-cloud"></i>
            </div>
            <div class="subtext">{{::$root.config.labels['ST_Process_Publish_Button']}}</div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="items-container contextual-items">
        <div class="btn-group dropdown menu-group" uib-dropdown="" is-open="status.isopen" style="">
            <div id="generate-group" type="button" class="dropdown-toggle" uib-dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                <div class="menu-item">
                    <div class="icon"><i class="fonticon-news"></i><span class="caret"></span></div>
                    <div class="subtext">{{::$root.config.labels['ST_Generate_Toolbar_Button']}}</div>
                </div>
            </div>
            <ul uib-dropdown-menu="" role="menu" aria-labelledby="generate-group" class="dropdown-menu toolbar-dropdown">
                <li role="menuitem" ng-show="vm.canGenerateForSelectedItems" ng-click="vm.generateUserstories(false)"><a>{{::$root.config.labels['ST_Generate_Contextual_Toolbar_Button']}}</a></li>
                <li role="menuitem" ng-click="vm.generateUserstories(true)"><a>{{::$root.config.labels['ST_Generate_All_Contextual_Toolbar_Button']}}</a></li>
            </ul>
        </div>
        <div class="menu-item" ng-show="vm.deleteCommand.canDelete" ng-disabled="!vm.deleteCommand.enabled" ng-click="vm.deleteCommand.execute()">
            <div class="icon"><i class="fonticon-delete"></i></div>
            <div class="subtext">{{::$root.config.labels['ST_Delete_Toolbar_Button']}}</div>
        </div>
    </div>

    <!-- Right side icons -->
    <div class="right-items">
        <div class="menu-item" data-ng-click="vm.openHelpLink()">
            <div class="icon">
                <i class="fonticon-tour"></i>
            </div>
            <div class="subtext">Tour</div>
        </div>
    </div>

</div>
<!-- /toolbar -->