<div class="input-group inheritance-group">
    <div class="inheritance-path" ng-show="model[options.key].actorName.length > 0">
        <div ng-show="model[options.key].isProjectPathVisible">
            <span>{{model[options.key].pathToProject[0]}}</span>
            <span ng-repeat="item in model[options.key].pathToProject track by $index" ng-hide="$first">
                {{item}}
            </span>
            <span>
                <a href ng-click="navigateToItem(model[options.key].actorId)">
                    {{model[options.key].actorPrefix }}{{ model[options.key].actorId }}: {{ model[options.key].actorName }}
                </a>
            </span>
        </div>
        <div ng-hide="model[options.key].isProjectPathVisible"
             bp-tooltip="{{model[options.key].pathToProject.join(' > ')}}" class="path-wrapper">
            <a href ng-click="navigateToItem(model[options.key].actorId)">
                {{model[options.key].actorPrefix }}{{ model[options.key].actorId }}: {{ model[options.key].actorName }}
            </a>
        </div>
    </div>
    <div class="inheritance-path" ng-hide="model[options.key].actorName.length > 0"></div>

    <div ng-show="model[options.key].actorName.length > 0" class="bp-input-group-addon icon-wrapper">
        <span class="icon fonticon2-delete" ng-click="!(to.disabled || to.isReadOnly) && deleteBaseActor()"
              ng-class="{disabled: to.disabled || to.isReadOnly}" bp-tooltip="Delete"></span>
    </div>
    <div ng-show="model[options.key].actorName.length > 0" class="bp-input-group-addon">
        <button class="btn btn-primary btn-small" ng-disabled="to.disabled || to.isReadOnly"
                ng-click="selectBaseActor()" ng-class="{disabled: to.disabled || to.isReadOnly}">
            Change
        </button>
    </div>
    <div ng-hide="model[options.key].actorName.length > 0" class="bp-input-group-addon select-wrapper">
        <button class="btn btn-primary btn-small" ng-disabled="to.disabled || to.isReadOnly"
                ng-click="selectBaseActor()">
            Select
        </button>
    </div>
</div>
