<ul class="breadcrumbs" ng-if="$content.viewState">
    <li><a href="#">Selected Project</a></li>
    <li><a href="#">Selected Folder</a></li>
    <li><a href="#">Selected Artifact</a></li>
    <li>Infrastructure for directing change</li>
</ul>
<messages-container class="message-container"></messages-container>
<loading-overlay class="loading-overlay"></loading-overlay>
<div class="page-content" ng-show="$content.viewState" ng-click="$content.onContentSelected($event)">
    <div class="page-body-wrapper" perfect-scrollbar opts="$content.scrollOptions">
        <div class="page-body" ui-view></div>
    </div>
</div>
