.item-icon__fallback {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.item-icon__image--fallback {
    position: absolute;
}

.item-icon__image--fallback ~ i {
    display: none;
}
