@import "./../../../styles/settings/colors";

.unpublished {
    width: 100%;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    font-size: 1.2rem;
}

.unpublished__checkbox-col {
    padding: 8px 25px;
    width: 20px;
}

.unpublished__icon-col {
    padding: 8px 0;
    width: 10px;
}

.unpublished__id-col {
    padding: 8px 0;
    white-space: nowrap;
}

.unpublished__name-col,
.unpublished__project-col {
    padding: 8px 25px;
}

.unpublished__header {
    background: $gray-dark;
    color: $white;
}

.unpublished__body {
    background: $white;
}

.unpublished__row {
    border-bottom: 1px solid $gray-lighter;
}

.unpublished__row--selected {
    background: $tree-hover-background;
}

.unpublished__empty-row {
    color: $gray-light;
    text-align: center;
    @extend .unpublished__row;
}

.unpublished__empty-message {
    padding: 8px 25px;
}
