@import '../../../styles/settings/variables';
@import '../../../styles/settings/colors';

.loading-overlay__wrapper {
    background-color: rgba($white, .8);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: $zindex-overlay;
}

//We transition the visibility/background only, as we want to prevent clicking right away (pointer-events)
.loading-overlay__wrapper--visible {
    opacity: 1;
    pointer-events: auto;
    transition-delay: .35s;
    visibility: visible;
}

.loading-overlay__container {
    color: $black;
    font-size: 50px;
    left: auto;
    position: fixed;
    right: auto;
    text-align: center;
    top: 20%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

.loading-overlay__spinner {
    display: inline-block;
}
