<?xml version="1.0" encoding="utf-8"?>
<!-- configuration file for integration tests -->
<configuration>
  <appSettings>
    <add key="FileStoreSvcUri" value="http://localhost:9801/svc/filestore/files/{0}" />
    <add key="AccessControl" value="http://localhost:9101/svc/accesscontrol/" />
    <add key="ConfigControl" value="http://localhost:9101/svc/configcontrol/" />
  </appSettings>
  <connectionStrings>
    <add name="FileStoreDatabase" providerName="System.Data.SqlClient" connectionString="data source=BlueprintDevDB;initial catalog=FileStore;integrated security=True;min pool size=4;max pool size=128;load balance timeout=2;packet size=16384;connectretrycount=3;connectretryinterval=3;MultipleActiveResultSets=True;" />
    <add name="FileStreamDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=SVMINTEGRATION;Initial Catalog=Integration_Trunk_Search;Persist Security Info=True;User ID=IntegrationTestUser;Password=$Blueprint99" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
