<?xml version="1.0" encoding="utf-8"?>
<!-- configuration file for integration tests -->
<configuration>
  <appSettings>
    <add key="FileStoreSvcUri" value="http://localhost:9180/svc/filestore/files/{0}"/>
  </appSettings>
  <connectionStrings>
    <add name="FileStoreDatabase"
      providerName="System.Data.SqlClient"
      connectionString="data source=.\SQLEXPRESS;initial catalog=FileStore;integrated security=True;min pool size=4;max pool size=128;load balance timeout=2;packet size=16384;connectretrycount=3;connectretryinterval=3;MultipleActiveResultSets=True;" />
    <add name="FileStreamDatabase"
        providerName="System.Data.SqlClient"
        connectionString="Data Source=SVMINTEGRATION;Initial Catalog=Integration_Trunk_Search;Persist Security Info=True;User ID=IntegrationTestUser;Password=$Blueprint99" />
  </connectionStrings>
</configuration>
