bp-accordion {
  background: $white;
  display: block;
  height: calc(100% - #{$breadcrumbs-height});
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  .bp-accordion {
    height: 100%;
  }

  bp-accordion-panel {
    display: block;

    &.bp-accordion-panel-open .bp-accordion-panel-heading {
      background: $brand-secondary;
    }
  }

  .bp-accordion-panel {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    > input[type=checkbox].bp-accordion-panel-pin {
      position: absolute;
      right: 10px;
      top: 6px;
      visibility: hidden;
      z-index: 2;
    }

    > input[type=radio].bp-accordion-panel-state {
      cursor: pointer;
      height: $utility-panel-heading-height;
      margin: 0;
      opacity: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    > .bp-accordion-panel-heading {
      background: $gray-dark;
      border-top: solid 1px $utility-panel-border-color;
      box-sizing: border-box;
      color: $white;
      cursor: pointer;
      display: block;
      font-size: 13px;
      font-weight: 400;
      height: $utility-panel-heading-height;
      margin: 0;
      padding: 5px 10px 0;

      &.bp-accordion-panel-icon::before {
        display: inline-block;
        float: left;
        font-family: 'bp-font';
        font-size: 16px;
        margin-top: -2px;
        width: 26px;
      }
    }

    &:hover > .bp-accordion-panel-heading {
      background: $brand-secondary;
    }

    > .bp-accordion-panel-content {
      font-size: 14px;
      height: 0;
      margin: 0;
      opacity: 0;
      overflow: auto;
      z-index: 2;
    }

    > input[type=radio].bp-accordion-panel-state:checked ~ input[type=checkbox].bp-accordion-panel-pin,
    > input[type=checkbox].bp-accordion-panel-pin:checked {
      visibility: visible;
    }

    > input[type=radio].bp-accordion-panel-state:checked ~ .bp-accordion-panel-content,
    > input[type=checkbox].bp-accordion-panel-pin:checked ~ .bp-accordion-panel-content {
      opacity: 1;
      padding: 0 10px;
    }
  }

  .utility-panel-discussions > .bp-accordion-panel-heading::before {
    content: '\e806';
  }

  .utility-panel-properties > .bp-accordion-panel-heading::before {
    content: '\e826';
  }

  .utility-panel-attachments > .bp-accordion-panel-heading::before {
    content: '\e872';
    font-size: 14px !important;
    padding-left: 2px;
    margin-top: 0 !important;
  }

  .utility-panel-relationships > .bp-accordion-panel-heading::before {
    content: '\e849';
  }

  .utility-panel-history > .bp-accordion-panel-heading::before {
    content: '\e831';
  }

  .utility-panel-reviews > .bp-accordion-panel-heading::before {
    content: '\e816';
  }
}
