.project-tree,
.project-explorer {
  .ag-grid {
    height: 100%;
    padding-top: 5px;

    .ag-font-style {
      font-size: $font-size-smallest;
    }

    .ag-header-cell {
      text-align: left;

      .ag-header-cell-text {
        color: $brand-secondary;
        font-weight: 600;
      }
    }

    [class^="fonticon-"]::before, [class*=" fonticon-"]::before, [class*="fonticon-"]::after, [class*=" fonticon-"]::after {
      font-size: $font-size-root;
      margin-left: 5px;
      margin-right: 7px;
    }

    .fonticon-folder-open::before,
    .fonticon-folder::before,
    .fonticon-project::before {
      position: relative;
      top: 1px;
    }

    .ag-group-contracted,
    .ag-group-expanded {
      padding-left: 5px;
    }

    .ag-row-level-0 {
      .ag-group-contracted,
      .ag-group-expanded {
        padding-left: 0;
      }
    }

    .ag-body {
      padding-top: $aggrid-row-height;
    }

    .ag-cell {
      height: $aggrid-row-height;

      > span > span {
        display: inline-block;
        line-height: $aggrid-row-height;
      }

      span.ag-group-value {
        padding-right: 10px;
      }

      i {
        color: $brand-secondary;
        display: inline-block;
        height: $aggrid-row-height;
      }
    }

    .ag-cell-range-selected {
      outline: none;

      > span > span {
        background: $brand-secondary;
        color: $white;
      }

      .ag-group-expanded,
      .ag-group-contracted {
        background: transparent;
      }

      i {
        background: $brand-secondary;
        color: $white;
      }
    }

    .ag-overlay-loading-wrapper {
      font-size: $font-size-smallest;
      padding-top: $aggrid-row-height;
      text-align: left;
      vertical-align: top;
    }

     input {
      border: solid 1px $brand-secondary;
      box-sizing: border-box;
      color: $body-color;
      height: $aggrid-row-height;
      line-height: calc(#{$aggrid-row-height} - 2px);
      width: 100%;
    }
  }
}
