$aggrid-left-spacing: 10px;
$has-children-padding-before-arrow: 3px;

.project-tree,
.project-explorer {
    .ag-grid {
        height: 100%;
        padding-top: 5px;
        // removes focus globally inside ag-grid. May need to be reworked
        *:focus {
            outline: none;
        }

        .ag-font-style {
            font-size: $font-size-normal;
        }

        .ag-header-cell {
            text-align: left;

            .ag-header-cell-text {
                color: $brand-secondary;
                display: inline-block;
                font-weight: 600;
                text-indent: 6px;
            }
        }

        .ag-body {
            padding-top: $aggrid-row-height;
        }

        .ag-cell {
            height: $aggrid-row-height;
            overflow: visible;

            > span > span {
                display: inline-block;
                line-height: #{$aggrid-row-height - 2px};
            }

            .ag-group-contracted,
            .ag-group-expanded {
                border-color: transparent;
                border-style: solid;
                border-width: 1px 0 1px 1px;
            }

            .ag-group-inline-edit,
            .ag-group-value {
                border-color: transparent;
                border-style: solid;
                border-width: 1px;
                padding-right: 5px;
            }

            &.has-children {
                .ag-group-inline-edit,
                .ag-group-value {
                    border-width: 1px 1px 1px 0;
                }
            }

            i {
                color: $brand-secondary;
                display: inline-block;
                height: #{$aggrid-row-height - 2px};
                vertical-align: bottom;
            }
        }

        .ag-group-inline-edit input {
            border: 0;
            box-sizing: border-box;
            color: $body-color;
            height: calc(#{$aggrid-row-height} - 2px);
            line-height: calc(#{$aggrid-row-height} - 2px);
            padding: 0 1px 1px 0;
            width: calc(100% - 20px); // 20px is the width of the icon
        }

        .has-children .ag-group-inline-edit input {
            width: calc(100% + 5px); // 5px is the padding due to the children indicator
        }
        // ag-grid has a bug which causes ag-row-group-expanded/contracted not to reflect the actual status
        .ag-group-contracted[style*='inline'],
        .ag-group-expanded[style*='inline'] {
            display: inline-block !important;
        }
        //    .ag-row.ag-row-group-contracted .ag-group-contracted,
        //    .ag-row.ag-row-group-expanded .ag-group-expanded {
        //      display: inline-block !important;
        //    }
        .ag-row:hover {
            .ag-group-expanded::before,
            .ag-group-contracted::before,
            span > span,
            *::before {
                background: $tree-hover-background;
            }

            .ag-group-contracted,
            .ag-group-expanded,
            .ag-group-value {
                border-color: $tree-hover-background;
            }
        }

        .ag-row-focus {
            .ag-group-expanded::before,
            .ag-group-contracted::before,
            span > span,
            *::before {
                background: $tree-focus-background !important;
            }

            .ag-group-contracted,
            .ag-group-expanded,
            .ag-group-value {
                border-color: $tree-focus-border !important;
            }
        }

        .ag-row-selected {
            .ag-group-expanded::before,
            .ag-group-contracted::before,
            span > span,
            *::before {
                background: $brand-secondary !important;
                color: $white !important;
            }

            > span .ag-group-inline-edit::before,
            > span .ag-group-value::before {
                color: $white !important;
            }

            .ag-group-contracted,
            .ag-group-expanded,
            .ag-group-inline-edit,
            .ag-group-value {
                border-color: $brand-secondary !important;
            }
        }
    }

    .ag-cell {
        > span .ag-group-contracted i::before,
        > span .ag-group-expanded i::before,
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            box-sizing: border-box;
            color: $brand-secondary;
            display: inline-block;
            font-family: 'bp-line-icons';
            font-size: $font-size-big;
            font-style: normal;
            padding: 0 0 0 5px;
            text-align: left;
            vertical-align: bottom;
            width: 25px;
        }

        &.ag-cell-inline-editing .ag-group-value {
            display: none !important;
        }
    }
    // vertical alignment adjustments
    .ag-body-container {
        padding-left: $aggrid-left-spacing;
        z-index: 0;

        .ag-row {
            width: calc(100% - #{$aggrid-left-spacing}) !important;

            &.ag-row-level-0 .ag-cell {
                > span {
                    padding-left: 5px;
                }

                &.has-children > span {
                    margin-left: -15px;
                }
            }
        }

        .ag-cell {
            width: calc(100% - #{2 * $aggrid-left-spacing}) !important;

            &.has-children > span {
                margin-left: -$aggrid-left-spacing;
            }
        }
    }
    // icons for artifacts and folders
    .ag-cell {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e80e';
        }
    }

    .ag-cell.is-business-process {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e800';
        }
    }

    .ag-cell.is-domain-diagram {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e801';
        }
    }

    .ag-cell.is-actor {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e802';
        }
    }

    .ag-cell.is-use-case {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e803';
        }
    }

    .ag-cell.is-process {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e804';
        }
    }

    .ag-cell.is-user-story {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e805';
        }
    }

    .ag-cell.is-use-case-diagram {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e806';
        }
    }

    .ag-cell.is-ui-mockup {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e807';
        }
    }

    .ag-cell.is-textual-requirement {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e808';
        }
    }

    .ag-cell.is-storyboard {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e809';
        }
    }

    .ag-cell.is-project {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e80a';
        }
    }

    .ag-cell.is-glossary {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e80b';
        }
    }

    .ag-cell.is-generic-diagram {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e80c';
        }
    }

    .ag-cell.is-folder {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e80d';
        }
    }

    .ag-cell.is-document {
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            content: '\e80e';
        }
    }

    .ag-row-group-contracted .ag-cell,
    .ag-row-group-expanded .ag-cell {
        // disables the icons for groups (to show the group-specific ones)
        > span .ag-group-inline-edit::before,
        > span .ag-group-value::before {
            display: none;
        }
    }
    // group specific icons
    .ag-row-group .ag-group-contracted i::before,
    .ag-row-group .ag-group-expanded i::before {
        content: '\e80e';
    }

    .ag-row-group .is-folder .ag-group-contracted i::before {
        content: '\e80d';
    }

    .ag-row-group .is-folder .ag-group-expanded i::before {
        content: '\e80f';
    }

    .ag-row-group .is-project .ag-group-contracted i::before,
    .ag-row-group .is-project .ag-group-expanded i::before {
        content: '\e80a';
    }

    .ag-row-loading .ag-cell .ag-group-contracted i,
    .ag-row-loading .ag-cell .ag-group-expanded i {
        background: transparent !important;

        &::before {
            -webkit-animation: spin 1.5s infinite linear;
            -moz-animation: spin 1.5s infinite linear;
            -o-animation: spin 1.5s infinite linear;
            animation: spin 1.5s infinite linear;
            animation-delay: .5s;
            background: transparent !important;
            content: '\e031';
            font-family: 'Glyphicons Halflings';
            visibility: hidden;
        }
    }

    .ag-cell.has-children {
        .ag-group-expanded::before,
        .ag-group-contracted::before {
            box-sizing: border-box;
            color: $body-color;
            display: inline-block;
            font-family: 'bp-font';
            font-size: $font-size-normal;
            padding-left: $has-children-padding-before-arrow;
            text-align: left;
        }

        .ag-group-expanded::before {
            content: '\e81d';
        }

        .ag-group-contracted::before {
            content: '\e81f';
        }
    }
}

.project-explorer {
    .ag-overlay-loading-wrapper {
        display: none;
    }

    .ag-cell {
        top: 2px;
    }
}

.project-tree {
    .ag-grid,
    .ag-grid > div {
        height: $project-picker-tree-height;
    }

    .ag-overlay-loading-wrapper {
        font-size: $font-size-normal;
        padding-top: $aggrid-row-height;
        text-align: left;
        vertical-align: top;
    }
}

//drag and drop related styles
.project-explorer {
    .ag-row-draggable {
        .ag-group-value::before {
            cursor: move;
        }
    }

    .ag-row:not(.drag-over) .ag-cell {
        z-index: 100;

        &.drag-enter {
            .ag-group-contracted,
            .ag-group-expanded,
            .ag-group-value {
                border-color: $body-color;
                border-style: dashed;
            }
        }
    }

    .ag-row.drag-over {
        cursor: move;
        opacity: .5;
    }

    .ag-row-dnd-pre,
    .ag-row-dnd-post {
        background: transparent;
        font-size: 0;
        height: 2px;
        position: absolute;
        width: calc(100% - 10px);
    }

    .ag-row-dnd-pre {
        top: -1px;
        z-index: 200;
    }

    .ag-row-dnd-post {
        bottom: -1px;
        z-index: 300;
    }

    .ag-row:not(.drag-over) .ag-row-dnd-pre.drag-enter,
    .ag-row:not(.drag-over) .ag-row-dnd-post.drag-enter {
        //generated with http://png-pixel.com/
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mPk+Q8AAR0BDcnX0+sAAAAASUVORK5CYII=) left repeat-x;
    }

    .ag-row:not(.drag-over) .ag-row-dnd-pre.drag-enter::before,
    .ag-row:not(.drag-over) .ag-row-dnd-post.drag-enter::before {
        border: solid 5px transparent;
        border-left: solid 5px $body-color;
        content: '';
        position: relative;
        top: 1px;
    }

    $aggrid-dnd-max-level: 5;

    @for $i from 0 through $aggrid-dnd-max-level - 1 {
        .ag-row-level-#{$i} + .ag-row-level-#{$i + 1} .ag-row-dnd-pre {
            z-index: 400;
        }
    }

    @for $i from $aggrid-dnd-max-level through 1 {
        @for $j from 0 through ($i - 1) {
            .ag-row-level-#{$i} + .ag-row-level-#{$j} .ag-row-dnd-pre {
                display: none;
            }
        }
    }
}

.artifact-picker {
    .project-name{        
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 560px;
    display: inline-block;
    vertical-align: bottom;   
    }
    .fonticon2-search {
        margin-left: 10px;

        &:before {
            padding-top: 17px;
        }
    }

    .grid-header {       
        font-size: $font-size-normal;
        text-align: left;
        color: $brand-secondary;
        font-weight: 600;
        text-indent: 6px;
        position: relative;
        margin-bottom: -25px;
        z-index: 100;

        .navigate-back {
            cursor: pointer;
        }

        .fonticon2-arrow-double-left:before {
            font-size: 1rem;
            line-height: 1rem;
            margin-bottom: -10px;
            margin-left: -7px;
        }
    }

    .form-control.upper-text {
        margin-bottom: 15px;
        float: left;
        width: 95%;
    }
}
