.project-tree,
.project-explorer {
  .ag-grid {
    height: 100%;
    padding-top: 5px;

    .ag-font-style {
      font-size: $font-size-smallest;
    }

    .ag-header-cell {
      text-align: left;

      .ag-header-cell-text {
        color: $brand-secondary;
        font-weight: 600;
      }
    }

    [class^="fonticon-"]::before, [class*=" fonticon-"]::before, [class*="fonticon-"]::after, [class*=" fonticon-"]::after {
      font-size: $font-size-root;
      margin-left: 3px;
      margin-right: 5px;
    }

    .fonticon-folder-open::before,
    .fonticon-folder::before,
    .fonticon-project::before {
      position: relative;
      top: 1px;
    }

    .ag-group-contracted,
    .ag-group-expanded {
      padding-left: 5px;
    }

    .ag-row-level-0 {
      .ag-group-contracted,
      .ag-group-expanded {
        padding-left: 0;
      }
    }

    .ag-body {
      padding-top: $aggrid-row-height;
    }

    .ag-cell {
      height: $aggrid-row-height;
      overflow: visible;
      top: 2px;

      > span > span {
        display: inline-block;
        line-height: $aggrid-row-height;
      }

      span.ag-group-value {
        padding-right: 10px;
      }

      i {
        color: $brand-secondary;
        display: inline-block;
        height: $aggrid-row-height;
        vertical-align: bottom;
      }
    }

    .ag-row-focus,
    .ag-row-selected,
    .ag-cell-range-selected {
      outline: none;

      .has-children .ag-group-expanded,
      .has-children .ag-group-contracted {
        background: transparent;
      }

      .has-children .ag-group-expanded::before,
      .has-children .ag-group-contracted::before,
      span > span,
      i {
        background: $brand-secondary;
        color: $white;
      }

      > span .ag-group-inline-edit::before,
      > span .ag-group-value::before {
        color: $white;
      }
    }

    input {
      border: solid 1px $brand-secondary;
      box-sizing: border-box;
      color: $body-color;
      height: $aggrid-row-height;
      line-height: calc(#{$aggrid-row-height} - 2px);
      width: 100%;
    }
  }

  .ag-cell {
    > span {
      margin-left: 15px;
    }

    > span .ag-group-inline-edit::before,
    > span .ag-group-value::before {
      box-sizing: border-box;
      color: $brand-secondary;
      display: inline-block;
      font-family: 'bp-font';
      font-size: $font-size-smaller;
      padding: 0 0 0 5px;
      text-align: left;
      vertical-align: bottom;
      width: 25px;
    }

    &.ag-cell-inline-editing .ag-group-value {
      display: none !important;
    }
  }

// icons for artifacts and folders
  .ag-cell {
    > span .ag-group-inline-edit::before,
    > span .ag-group-value::before {
      content: '\e85f';
      font-size: $font-size-smaller;
      text-indent: -.2em;
    }
  }

  .ag-cell.is-folder {
    > span .ag-group-inline-edit::before,
    > span .ag-group-value::before {
      content: '\e802';
      text-indent: 0;
    }
  }

  .ag-cell.is-project {
    > span .ag-group-inline-edit::before,
    > span .ag-group-value::before {
      content: '\e879';
      text-indent: 0;
    }
  }

  .ag-row-group-contracted .ag-cell,
  .ag-row-group-expanded .ag-cell {
    .ag-group-contracted i::before,
    .ag-group-expanded i::before {
      line-height: $aggrid-row-height;
    }

    // disables the icons for groups (to show the group-specific ones)
    > span .ag-group-inline-edit::before,
    > span .ag-group-value::before {
      display: none;
    }
  }

// group specific icons
  .ag-row-group .ag-group-contracted i::before,
  .ag-row-group .ag-group-expanded i::before {
    content: '\e85f';
    font-size: $font-size-smaller;
    text-indent: -.2em;
  }

  .ag-row-group .is-folder .ag-group-contracted i::before {
    content: '\e802';
    text-indent: 0;
  }

  .ag-row-group .is-folder .ag-group-expanded i::before {
    content: '\e83e';
    text-indent: 0;
  }

  .ag-row-group .is-project .ag-group-contracted i::before,
  .ag-row-group .is-project .ag-group-expanded i::before {
    content: '\e879';
    text-indent: 0;
  }

  .ag-row-loading .ag-cell .ag-group-contracted i::before,
  .ag-row-loading .ag-cell .ag-group-expanded i::before {
    -webkit-animation: spin 1.5s infinite linear;
    -moz-animation: spin 1.5s infinite linear;
    -o-animation: spin 1.5s infinite linear;
    animation: spin 1.5s infinite linear;
    content: '\e031';
    font-family: 'Glyphicons Halflings';
  }

  .ag-cell.has-children {
    > span {
      margin-left: 0;
    }

    .ag-group-expanded::before,
    .ag-group-contracted::before {
      box-sizing: border-box;
      color: $body-color;
      display: inline-block;
      font-family: 'bp-font';
      font-size: $font-size-smallest;
      padding-left: 3px;
      text-align: left;
      width: 15px;
    }

    .ag-group-expanded::before {
      content: '\e81d';
    }

    .ag-group-contracted::before {
      content: '\e81f';
    }
  }
}

.project-explorer {
  .ag-overlay-loading-wrapper {
    display: none;
  }
}

.project-tree {
  .ag-overlay-loading-wrapper {
    font-size: $font-size-smallest;
    padding-top: $aggrid-row-height;
    text-align: left;
    vertical-align: top;
  }
}

//drag and drop related styles
$aggrid-dnd-handle-width: 14px;

.project-explorer {
  .ag-row-dnd-handle {
    background: transparent;
    cursor: move;
    display: none;
    font-size: $aggrid-row-height;
    height: $aggrid-row-height;
    line-height: #{$aggrid-row-height - 2px};
    position: absolute;
    text-indent: #{($aggrid-dnd-handle-width - $aggrid-row-height) / 2};
    top: 2px;
    width: $aggrid-dnd-handle-width;
  }

  .ag-row-dnd-handle::before {
    color: $brand-secondary;
    content: '\e829';
    font-family: 'bp-font';
  }

  .ag-body:not(.ag-body-inline-editing) .ag-row:hover .ag-row-dnd-handle {
    display: block;
  }

  .ag-cell {
    //margin-left: $aggrid-dnd-handle-width;
  }

  .ag-row-draggable {
    .ag-group-value::before {
      cursor: move;
    }
  }

  .ag-row:not(.drag-over) .ag-cell {
    z-index: 100;

    &.ag-group-cell.drag-enter > span > .ag-group-value {
      border: dotted 1px $body-color;
      border-left: 0;
      left: -1px;
      line-height: #{$aggrid-row-height - 2px};
      position: relative;
    }

    &.ag-group-cell.drag-enter > span > .ag-group-contracted i,
    &.ag-group-cell.drag-enter > span > .ag-group-expanded i {
      border: dotted 1px $body-color;
      border-right: 0;
      left: -1px;
      position: relative;

      &::before {
        line-height: #{$aggrid-row-height - 2px};
      }
    }

    &.drag-enter:not(.ag-group-cell) > span > .ag-group-value {
      border: dotted 1px $body-color;
      left: -1px;
      line-height: #{$aggrid-row-height - 2px};
      position: relative;
    }
  }

  .ag-row.drag-over {
    cursor: move;
    opacity: .5;
  }

  .ag-row-dnd-pre,
  .ag-row-dnd-post {
    background: transparent;
    font-size: 0;
    height: 2px;
    left: $aggrid-dnd-handle-width;
    position: absolute;
    width: calc(100% - #{$aggrid-dnd-handle-width});
  }

  .ag-row-dnd-pre {
    top: -1px;
    z-index: 200;
  }

  .ag-row-dnd-post {
    bottom: -1px;
    z-index: 300;
  }

  .ag-row:not(.drag-over) .ag-row-dnd-pre.drag-enter,
  .ag-row:not(.drag-over) .ag-row-dnd-post.drag-enter {
    //generated with http://png-pixel.com/
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mPk+Q8AAR0BDcnX0+sAAAAASUVORK5CYII=) left repeat-x;
  }

  .ag-row:not(.drag-over) .ag-row-dnd-pre.drag-enter::before,
  .ag-row:not(.drag-over) .ag-row-dnd-post.drag-enter::before {
    border: solid 5px transparent;
    border-left: solid 5px $body-color;
    content: '';
    position: relative;
    top: 1px;
  }

  $aggrid-dnd-max-level: 5;

  @for $i from 0 through $aggrid-dnd-max-level - 1 {
    .ag-row-level-#{$i} + .ag-row-level-#{$i + 1} .ag-row-dnd-pre {
      z-index: 400;
    }
  }

  @for $i from $aggrid-dnd-max-level through 1 {
    @for $j from 0 through ($i - 1) {
      .ag-row-level-#{$i} + .ag-row-level-#{$j} .ag-row-dnd-pre {
        display: none;
      }
    }
  }
}
