$aggrid-has-children-padding-before-arrow: 3px;
$aggrid-row-height: 20px;
$aggrid-text-indent: 6px;

.explorer__node-link,
.explorer__node-link:visited,
.explorer__node-link:focus,
.explorer__node-link:hover {
    font-weight: normal;
    color: inherit;
    outline: inherit;

    &:hover, &:focus {
        text-decoration: none;
        cursor: default;
    }
}

.project-tree,
.project-explorer {
    .ag-grid {
        height: 100%;
        // removes focus globally inside ag-grid. May need to be reworked
        *:focus {
            outline: none;
        }

        .ag-font-style {
            font-size: $font-size-normal;
        }

        .ag-header-cell {
            line-height: 20px;
            text-align: left;

            .ag-header-cell-text {
                color: $brand-secondary;
                display: inline-block;
                font-weight: 600;
                text-indent: $aggrid-text-indent;
            }
        }

        .ag-cell {
            height: $aggrid-row-height;
            overflow: visible;

            > span > span {
                display: inline-block;
                line-height: #{$aggrid-row-height - 2px};
            }

            .ag-group-checkbox {
                border-color: transparent;
                border-style: solid;
                border-width: 1px 0 1px 1px;
            }

            .ag-group-contracted,
            .ag-group-expanded {
                border-color: transparent;
                border-style: solid;
                border-width: 1px 0 1px 1px;
            }

            .ag-group-value {
                border-color: transparent;
                border-style: solid;
                border-width: 1px 1px 1px 0;
                padding-right: 5px;
            }

            &.has-children {
                .ag-group-checkbox {
                    border-width: 1px 0;
                }
            }

            i {
                color: $brand-secondary;
                display: inline-block;
                height: #{$aggrid-row-height - 2px};
                vertical-align: bottom;
            }

            .item-icon__loading {
                display: none;
            }
        }

        // ag-grid has a bug which causes ag-row-group-expanded/contracted not to reflect the actual status
        .ag-group-contracted[style*='inline'],
        .ag-group-expanded[style*='inline'] {
            display: inline-block !important;
        }

        .ag-row {
            &:hover {
                span > span,
                *::before,
                    &.ag-cell-value {
                    background-color: $tree-hover-background;
                }

                .ag-group-checkbox,
                .ag-group-contracted,
                .ag-group-expanded,
                .ag-group-value {
                    border-color: $tree-hover-background;
                }
            }

             &.ag-row-focus,
             &.ag-row-focus:hover {
                 .ag-cell:not(.not-selectable) {
                     span > span,
                     *::before {
                         background-color: $tree-focus-background;
                     }

                     .ag-group-checkbox,
                     .ag-group-contracted,
                     .ag-group-expanded,
                     .ag-group-value {
                         border-color: $tree-focus-border;
                     }
                 }
             }

            &.ag-row-selected,
            &.ag-row-selected:hover {
                .ag-cell:not(.not-selectable) {
                    span > span,
                    *::before {
                        background-color: $brand-secondary;
                        color: $white;
                    }

                    span .ag-group-value::before {
                        color: $white;
                    }

                    .ag-group-checkbox,
                    .ag-group-contracted,
                    .ag-group-expanded,
                    .ag-group-value {
                        border-color: $brand-secondary;
                    }
                }
            }

            .ag-cell.not-selectable {
                span > span,
                *::before,
                &.ag-cell-value {
                    background-color: $white;
                    color: $gray-light;
                }

                .ag-group-contracted,
                .ag-group-expanded {
                    i::before {
                        color: $gray-darker;
                    }
                }

                .ag-group-checkbox,
                .ag-group-contracted,
                .ag-group-expanded,
                .ag-group-value {
                    border-color: $white;
                }
            }
        }
    }

    .ag-cell, .ag-header-cell-text {
        > span .ag-group-contracted i::before,
        > span .ag-group-expanded i::before {
            box-sizing: border-box;
            color: $brand-secondary;
            display: inline-block;
            font-family: 'bp-line-icons';
            font-size: $font-size-big;
            font-style: normal;
            padding: 0 0 0 5px;
            text-align: left;
            vertical-align: bottom;
        }

        > span .ag-group-checkbox,
        > span .ag-selection-checkbox {
            height: 20px;
            padding-left: 2px;
            vertical-align: top;

            i::before {
                background-image: url("/novaweb/static/images/icons/checkboxes.gif");
                background-repeat: no-repeat;
                content: ' ';
                display: inline-block;
                height: 16px;
                vertical-align: middle;
                width: 16px;
            }

            .ag-checkbox-checked::before {
                background-position: -16px -16px;
            }

            .ag-checkbox-unchecked::before {
                background-position: -16px 0;
            }

            .ag-checkbox-indeterminate::before {
                background-position: -16px 0;
            }
        }
    }
    // vertical alignment adjustments
    .ag-row.ag-row-level-0 .ag-cell:not(.has-children) > span {
        margin-left: 15px;
    }

    .ag-row:not(.ag-row-level-0) .ag-cell:not(.has-children) > span {
        margin-left: 5px;
    }

    // icons for artifacts and folders
    .ag-cell .ag-group-value .ag-group-value-wrapper bp-item-type-icon {
        box-sizing: border-box;
        display: inline-block;
        font-size: 0;
        font-style: normal;
        padding: 0 0 0 5px;
        text-align: left;
        vertical-align: bottom;
        width: 25px;

        img {
            height: 12px;
            width: 12px;
        }
    }

    .ag-row-loading .ag-cell .ag-group-value .ag-group-value-wrapper bp-item-type-icon {
        padding:0;
    }

    .ag-row-loading .ag-cell .item-icon__loading {
        display: inline-block;
    }

    .ag-row-loading .item-icon__image {
        display: none;
    }

    .ag-group-value-wrapper i::before {
        box-sizing: border-box;
        color: $brand-secondary;
        content: '\e80e';
        display: inline-block;
        font-family: 'bp-line-icons';
        font-size: $font-size-big;
        font-style: normal;
        padding: 0 0 0 5px;
        text-align: left;
        vertical-align: bottom;
        width: 25px;
    }

    .ag-cell.is-business-process .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-business-process;
    }

    .ag-cell.is-collections .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-collections;
    }

    .ag-cell.is-artifact-collection .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-artifact-collection;
    }

    .ag-cell.is-collection-folder .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-folder;
    }

    .ag-cell.is-baselines-and-reviews .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-baseline;
    }

    .ag-cell.is-artifact-baseline .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-baseline;
    }

    .ag-cell.is-artifact-review-package .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-review;
    }

    .ag-cell.is-baseline-folder .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-folder;
    }

    .ag-cell.is-domain-diagram .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-domain-diagram;
    }

    .ag-cell.is-actor .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-actor;
    }

    .ag-cell.is-use-case .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-use-case;
    }

    .ag-cell.is-process .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-process;
    }

    .ag-cell.is-user-story .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-user-story;
    }

    .ag-cell.is-use-case-diagram .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-use-case-diagram;
    }

    .ag-cell.is-ui-mockup .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-ui-mockup;
    }

    .ag-cell.is-textual-requirement .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-textual-requirement;
    }

    .ag-cell.is-storyboard .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-storyboard;
    }

    .ag-cell.is-project .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-project;
    }

    .ag-cell.is-glossary .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-glossary;
    }

    .ag-cell.is-generic-diagram .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-generic-diagram;
    }

    .ag-cell.is-folder .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-folder;
    }

    .ag-cell.is-primitive-folder .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-folder;
    }

    .ag-row-group-expanded .ag-cell.is-folder .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-folder-open;
    }

    .ag-cell.is-document .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-document;
    }

    .ag-cell.is-subartifact .ag-group-value .ag-group-value-wrapper i::before {
        content: $icon-subartifact;
    }

    .ag-row-loading .ag-cell .ag-group-value .ag-group-value-wrapper i,
    .ag-row-loading .ag-cell .ag-group-value .ag-group-value-wrapper i {
        background-color: transparent;

        &::before {
            -webkit-animation: spin 1.5s infinite linear;
            -moz-animation: spin 1.5s infinite linear;
            -o-animation: spin 1.5s infinite linear;
            animation: spin 1.5s infinite linear;
            //animation-delay: .25s;
            background-color: transparent !important;
            content: '\e031' !important;
            font-family: 'Glyphicons Halflings' !important;
            opacity: 0;
            -ms-transform-origin: 50% 50%; // IE 9
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }
    }

    .ag-cell.has-children {
        .ag-group-expanded i::before,
        .ag-group-contracted i::before {
            box-sizing: border-box;
            color: $body-color;
            display: inline-block;
            font-family: 'bp-font';
            font-size: $font-size-normal;
            padding-left: $aggrid-has-children-padding-before-arrow;
            text-align: left;
        }

        .ag-group-expanded i::before {
            content: '\e81d';
        }

        .ag-group-contracted i::before {
            content: '\e81f';
        }
    }

    .ag-overlay-loading-wrapper {
        font-size: $font-size-normal;
        text-align: left;
        vertical-align: top;
    }
}

.project-explorer {
    .ag-overlay-loading-wrapper {
        padding-top: 4px;
        text-indent: 11px;
    }

    .ag-cell {
        top: 2px;
    }
}

.project-tree {
    .ag-overlay-loading-wrapper {
        padding-top: $aggrid-row-height;
        text-indent: $aggrid-text-indent;
    }

    .ag-grid,
    .ag-grid > div {
        height: $project-picker-tree-height;
    }

    .ag-row-group.ag-row-level-0 .ag-cell {
        margin-left: 0;
    }
}
