bp-accordion .bp-accordion-panel > input[type=radio].bp-accordion-panel-state:checked ~ .bp-accordion-panel-content {
    padding: 0;
}

.history-panel {
    $item-gap: 15px;

    height: 100%;
    
    .filter-bar {
        padding: 0 10px;
        // h6 {
        //     display: inline-block;
        //     font-weight: bold;
        //     text-transform: uppercase;
        // }
        select {
            margin: 8px;
            float: right;
        }
    }

    .scrollable-content {
        padding: 0 10px;
        width: 100%;
        height: calc(100% - 37px);
        overflow: auto;
    }
    
    .artifact-history-item-wrapper {
        position: relative;
        
        .separator {
            width: 2px;
            height: $item-gap;
            background: $gray-lighter;
            position: absolute;
            bottom: -$item-gap;
            left: 28px;
        }
        &:last-child .separator {
            display: none;
        }
    }
    .artifact-history-item {
        margin: $item-gap 0;
        border: 1px solid $gray-lighter;
        border-radius: 5px;
        padding: 5px 8px 12px 8px;
        
        .timestamp {
            color: $gray-light;
            font-size: $font-size-tiny;
            
            &::before {
                font-family: 'bp-font';
                content: '\E831';
            }
        }
        .version {
            margin-bottom: 3px;
        }
        .author {
            padding-top: 2px;
        }

        bp-avatar {
            float: left;
            margin: 0 10px 0 0;
        }

        // .overlay {
        //     position: absolute;
        //     top: 25px;
        //     bottom: 0;
        //     right: 0;
        //     display: none;

        //     button {
        //         float: right;
        //         clear: both;
        //     }
        // }
        
        &:hover {
            background: $gray-lightest;
            
            // .overlay {
            //     display: block;
            // }
        }
    }

    .empty-state {
        font-size: $font-size-smaller;
        color: $gray-light;
        padding: 50px 0 0 0;
        text-align: center;
    }
}
