bp-accordion .bp-accordion-panel > input[type=radio].bp-accordion-panel-state:checked ~ .bp-accordion-panel-content {
    padding: 0;
}

.history-panel {
    $item-gap: $padding-bigger;

    overflow: hidden;
    height: 100%;

    .app-loading {
        margin-top: 30px;
    }
    
    .filter-bar {
        bp-select .dropdown {
            min-width: 115px;

            // make the menu open on the right side
            .dropdown-menu {
                left: inherit;
                right: 0;
            }
        }
    }

    .scrollable-content {
        padding: 0 10px;
        width: 100%;
        height: calc(100% - 43px);
        overflow: auto;
    }
    
    .artifact-history-item-wrapper {
        position: relative;
        
        .separator {
            width: 2px;
            height: $item-gap;
            background: $gray-lighter;
            position: absolute;
            bottom: -$item-gap;
            left: 28px;
        }
        &:last-child .separator {
            display: none;
        }
    }

    bp-artifact-history-item {
        line-height: 100%;

        &:hover {
            cursor: pointer;
        }

        &.selected .artifact-history-item {
            background: $gray-lightest;
            border: 1px solid $brand-secondary;

            // &::before {
            //     float: right;
            //     font-family: 'bp-font';
            //     content: '\E831';
            //     color: $brand-secondary;
            // }
        }

        .artifact-history-item {
            margin: 0 0 $item-gap 0;
            border: 1px solid $gray-lighter;
            border-radius: 3px;
            padding: $padding-smaller $padding-root;
            min-height: 74px;
            
            .timestamp {
                color: $gray-light;
                font-size: $font-size-tiny;
                margin-top: $padding-smaller;
                
                &::before {
                    font-family: 'bp-font';
                    content: '\E831';
                }
            }
            .version {
                margin-bottom: 3px;
            }
            .author {
                padding-top: 2px;
                padding-bottom: 2px;
                @include text-ellipsis-flex-width(100%);
            }

            bp-avatar {
                float: left;
                margin: 0 $padding-root 0 0;
            }

            &:hover {
                background: $gray-lightest;
            }
        }
    }
    
    .empty-state {
        font-size: $font-size-smaller;
        color: $gray-light;
        padding: 50px 0 0 0;
        text-align: center;
    }
}
