bp-avatar {
    $avatar-size: 40px;

    .avatar-placeholder {
        position: relative;
        height: $avatar-size;
        width: $avatar-size;
        border: 2px solid $gray-lighter;
        border-radius: 50%;
        line-height: ($avatar-size - 8px);
        text-align: center;
        font-size: $font-size-bigger;
        text-transform: uppercase;
        
        img, .initials {
            position: absolute;
            top: 2px;
            left: 2px;
            height: ($avatar-size - 8px);
            width: ($avatar-size - 8px);
            border-radius: 50%;
            border: 0;
        }
    }

    &.guest {
        .initials {
            background-image: url('images/guest.png') !important;
            background-color: transparent !important;
            text-indent: -99999px;
            background-size: cover;
        }
    }
}
