bp-goto {
    position: relative;
    display: block;

    &:focus, &:hover {
        background-color: #eee;
        cursor: pointer;
        color: $brand-secondary;
    }

    > a {
        position: relative;
        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }

    .search {
        position: absolute;
        opacity: 0;
        display: inline-block;
        background: #E1E1E1;

        input {
            transition: width 0.3s ease-out;
            background: #E1E1E1;
            height: 42px;
            width: 50px;
            padding: 10px 0 0 28px;
            color: $gray-darker;
            border: none;
            border-bottom: 1px solid $brand-secondary;
            margin: 0 0 3px 5px;

            &:focus {
                outline: none;
            }
        }

        .fonticon-error {
            position: absolute;
            color: $gray-light;
            top: 7px;
            right: 0;
            height: 34px;
            padding-top: 8px;

            &::before {
                font-size: 2.2rem;
            }
        }
    }

    &.active {
        .search {
            opacity: 1;

            input {
                width: 170px;
            }
        }

        > a {
            cursor: default;
            pointer-events: none;
            width: initial !important;
            position: absolute;
            top: 10px;

            .icon-container {
                text-align: left;
                padding-left: 5px;
                color: $brand-secondary;
            }

            > span {
                display: none !important;
            }
        }
    }
}
