.btn {
  @include rounded-corners(#{$border-radius-amount});
  min-width: 100px;
  padding: 8px 19px;
  text-align: center;
  &.btn-small{
      padding:5px 10px;
      min-width: 20px;
      font-size: 1.2rem;
  }
 }
.btn-primary {
  background-color: transparent;
    border: 1px solid $gray-light;
    color: $gray-light;
    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
        border-color: $brand-secondary;
        color: $brand-secondary;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $gray-lighter ;
    border-color: $gray-lighter;
    color: $gray-light;
    opacity: 1;
  }
}
.btn-promoted-action {
  background-color: $brand-secondary;
  border: solid 1px $brand-secondary;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($brand-secondary, 10%);
    border-color: darken($brand-secondary, 10%);
    color: $white;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $gray-lighter ;
    border-color: $gray-light;
    color: $gray-light;
    opacity: 1;
  }
}
.btn-secondary {
  background-color: $gray-light;
  border: solid 1px $gray-light;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($gray-light, 10%);
    border-color: darken($gray-light, 10%);
    color: $white;
  }
}

.btn-white {
  background-color: $white;
  border: solid 1px $gray-lighter;
  color: $gray-darker;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($gray-lightest, 2%);
    border-color: darken($gray-lighter, 12%);
  }
}

.btn-bluelight {
  background-color: $blue-lightest;
  border: solid 2px $gray-light;
  color: $gray-light;
  padding-bottom: 7px;
  padding-top: 7px;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($blue-lightest, 2%);
    border-color: darken($gray-light, 12%);
  }
}
