.btn {
    border-radius: 4px;
    min-width: 100px;
    padding: 8px 19px;
    text-align: center;
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active,
    &.disabled,
    &.disabled:hover,
    &.disabled:focus,
    &.disabled:active {
        background-color: $gray-lighter;
        border-color: #bbb;
        color: #bbb;
        opacity: 1;

        &.active {
            background-color: transparent;
        }
    }
}
.btn-small {
        padding: 5px 10px;
        min-width: 20px;
        font-size: 1.2rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid $gray-light;
    color: $gray-light;

    &:hover,
    &:focus,
    &:active,
    &.active, {
        background-color: transparent;
        border-color: $brand-secondary;
        color: $brand-secondary;
    }
}

.btn-promoted-action {
    background-color: $brand-secondary;
    border: solid 1px $brand-secondary;
    color: $white;

    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: darken($brand-secondary, 10%);
        border-color: darken($brand-secondary, 10%);
        color: $white;
    }
}

.modal-alert .btn-promoted-action {
    background-color: $brand-warning;
    border: solid 1px $brand-warning;
    color: $white;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.focus,
    &:active:focus{
        background-color: darken($brand-warning, 10%);
        border-color: darken($brand-warning, 10%);
        color: $white;
        outline: none;
    }
}
.open > .dropdown-toggle.btn-primary {
    background-color: transparent;
    border: 1px solid $gray-light;
    color: $gray-light;
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.focus,
    &:active:hover{
          background-color: transparent;
          border-color: $brand-secondary;
          color: $brand-secondary;
           outline: none;
      }
}

.btn-secondary {
    background-color: transparent;
    border: solid 1px $brand-secondary;
    color: $brand-secondary;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.focus,
    &:active:focus{
        background-color: $brand-secondary;
        border: solid 1px $brand-secondary;
        color: $white;
        outline: none;
    }
}

.btn-block .dropdown-toggle {
    width: 100%;
}

.btn-block .dropdown-toggle .dropdown-toggle-label {
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}
.btn-icon {    
    border: 0;
    background: transparent;
    width: 24px;
    max-width: 24px;
    min-width: 24px;
    padding: 0;
    margin: 0;    
    outline: none;

    &:focus,
    &:active,
    &:hover,
    &:active:focus{
        background: transparent;
    }    
    .fonticon-error::before {
        font-size: 2.2rem;
    }
}
.input-group-btn-icon {
    max-width: 24px;
    min-width: 24px;
}
.input-group-btn-float-right {
    position: absolute;
    right: 0px;
    top: 5px;
}
