@import "../settings/_variables";

/*
 Buttons and Links

 Styleguide 3.0
*/

/*
 Bootstrap Buttons

 This chapter outlines the over-ridden buttons we have defined

 Styleguide 3.1
*/

/*
 Bootstrap Buttons

 .btn-default             - Standard button
 .btn-primary             - Provides extra visual weight and identifies the primary action in a set of buttons
 .btn-success             - Indicates a successful or positive action
 .btn-info                - Contextual button for informational alert messages
 .btn-warning             - Indicates caution should be taken with this action
 .btn-danger              - Indicates a dangerous or potentially negative action
 .btn-link                - Deemphasize a button by making it look like a link while maintaining button behavior

 markup:
 <button class="btn {$modifiers}">Button</button>

 Styleguide 3.1.1
*/

/*
 Custom Buttons

  This chapter outlines the custom buttons we have defined<br/>
  New custom buttons should be created using bootstrap button-variant mixen:

  <code>@include button-variant($color, $background, $border);</code>

 Styleguide 3.2
*/

/*
 Custom Button

 .btn-primary             - Primary Action Button
 .btn-promoted-action     - Button used on login module
 .btn-secondary           - Secondary action button
 .btn__icon               - another button with an icon?
 .btn-dropdown-toggle     - a drop down toggle
 .btn-link                - a button that looks like a link

 markup:
 <button class="btn {$modifiers}">Button</button>

 Styleguide 3.2.1
*/

.btn {
    border-radius: 4px;
    //background-color: transparent;
    min-width: 100px;
    padding: 8px 19px;
    text-align: center;

    &[disabled],
    &.active[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active,
    &.disabled,
    &.disabled:hover,
    &.disabled:focus,
    &.disabled:active {
        background-color: $gray-lighter;
        border-color: $gray-light;
        color: $gray-light;
        opacity: 1;
        &.active {
            background-color: transparent;
        }
    }
    &:focus,
    &:active,
    &:focus:active {
        outline: 0;
    }
}

.btn-primary {
    //@include button-variant($gray-light, transparent, 1px solid $gray-light);
    background-color: transparent;
    border: 1px solid $gray-light;
    color: $gray-light;

    &:focus {
        background-color: transparent;
        border: 1px solid $gray-light;
        color: $gray-light;
    }
    &:hover,
    &:active,
    &.active,
    &:hover:focus {
        background-color: transparent;
        border-color: $brand-secondary;
        color: $brand-secondary;
        outline: none;
    }
}

.btn-cancel {
    //@include button-variant($gray-light, transparent, 1px solid $gray-light);
    background-color: transparent;
    border: 1px solid $gray-light;
    color: $gray-light;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.focus,
    &:active:focus {
        background-color: transparent;
        border-color: darken($brand-secondary, 10%);;
        color: darken($brand-secondary, 10%);;
        outline: none;
    }
}

.btn-promoted-action {
    //@include button-variant($gray-light, transparent, 1px solid $gray-light);
    background-color: $brand-secondary;
    border: solid 1px $brand-secondary;
    color: $white;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.focus,
    &:active:focus {
        background-color: darken($brand-secondary, 10%);
        border-color: darken($brand-secondary, 10%);
        color: $white;
        outline: none;
    }
}

.btn-secondary {
    background-color: transparent;
    border: solid 1px $brand-secondary;
    color: $brand-secondary;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.focus,
    &:active:focus {
        background-color: $brand-secondary;
        border: solid 1px $brand-secondary;
        color: $white;
        outline: none;
    }
}

.btn__icon {
    background: transparent;
    border: 0;
    margin: 0;
    max-width: 24px;
    min-width: 24px;
    outline: none;
    padding: 0;
    width: 24px;

    &:focus,
    &:active,
    &:hover,
    &:active:focus {
        background: transparent;
        outline: none;
    }
    .fonticon-error::before {
        font-size: 2.2rem;
    }
    &[disabled],
    &.active[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active,
    &.disabled,
    &.disabled:hover,
    &.disabled:focus,
    &.disabled:active {
        color: $gray-lightest;
        background-color: transparent;
        border: 0;
    }
}

.btn-dropdown-toggle {
    width: auto;
    min-width: 20px;
    padding-left: 9px;
    padding-right: 9px;
    background: $brand-secondary;
    color: $white;

    &:hover, &:focus {
        color: $white;
    }
}

.modal-alert {
    .btn-promoted-action {
        background-color: $brand-warning;
        border: solid 1px $brand-warning;
        color: $white;

        &:hover,
        &:focus,
        &:active,
        &.active,
        &.focus,
        &:active:focus {
            background-color: darken($brand-warning, 10%);
            border-color: darken($brand-warning, 10%);
            color: $white;
            outline: none;
        }
    }

    .btn-cancel {
        &:hover,
        &:focus,
        &:active,
        &.active,
        &.focus,
        &:active:focus {
            border-color: darken($brand-warning, 10%);;
            color: darken($brand-warning, 10%);;
        }
    }
}

.open > .dropdown-toggle.btn-primary {
    background-color: transparent;
    border: 1px solid $gray-light;
    color: $gray-light;
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.focus,
    &:active:hover {
        background-color: transparent;
        border-color: $brand-secondary;
        color: $brand-secondary;
        outline: none;
    }
}

.btn-block .dropdown-toggle {
    width: 100%;
}

.btn-block .dropdown-toggle .dropdown-toggle-label {
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 88%;
}

.input-group-btn__icon {
    max-width: 24px;
    min-width: 24px;
}

/*
Helper classes
*/
.btn--absolute-right {
    position: absolute;
    right: 0;
    top: 5px;
}

/*malformed button classes*/
.btn-small {
    padding: 5px 10px;
    min-width: 20px;
    font-size: 1.2rem;
}

.btn-icon {
    padding: 3px;
    min-width: 10px;
}

.btn-action {
    float: right;
    height: 34px;
    font-size: 1.4rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
}

.btn-search {
    border-radius: 0;
}

.btn-white-link {
    color: white;
    text-decoration: underline;
    &:hover {
        color: white;
        opacity: .80;
    }
}

.btn-link {
    padding: 0;
    min-width: initial;
    color: $gray-dark;
    text-align: inherit;
    border: none !important;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &[disabled] {
        cursor: $cursor-disabled;
    }
}

