button.btn {
  @include rounded-corners(3px);
}

.btn-primary {
  background-color: $brand-secondary;
  border: $brand-secondary;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($brand-secondary, 10%);
    border: darken($brand-secondary, 10%);
    color: $white;
  }
}

.btn-secondaary {
  background-color: $gray-light;
  border: $gray-light;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($gray-light, 10%);
    border: darken($gray-light, 10%);
    color: $white;
  }
}