.collapsed {
    .show-less {
        display: none;
    }

    .show-more {
        display: block;
    }

    overflow: hidden !important;
    margin-bottom: 15px;
}

.show-more {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    color: $blue-light;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 70%);

    span {
        cursor: pointer;
    }
}

.show-less {
    display: block;
    color: $blue-light;
    margin-top: 5px;

    span {
        cursor: pointer;
    }
}
