.dropdown-menu {
    button {
        width: 100%;
        border-radius: 0;
        border: 0;
        color: $text-color;
        line-height: inherit;
        padding: 6px 20px;
        &:hover:not([disabled]) {
            background: $brand-secondary;
            color: $white;
        }
        &[disabled] {
            &:hover {
                background: transparent;
            }
            background: transparent;
            cursor: not-allowed;
            color: $gray-light !important;
        }
    }

}

.dropdown-menu__filter{
    left:auto;
    right: 0;
    top: 31px;
    border-radius: 0;
    list-style: none;
    border: none;
    width:200px;
    padding: 0;
}

.dropdown-menu__filter-type{
    border-radius: 0;
    font-size: $font-size-normal;
    max-height: 180px;
    overflow: auto;
    list-style: none;
    border: 1px solid $gray-lighter;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.dropdown-menu__filter-tooltip {
    border-radius: 0;
    border: 1px solid $gray-lighter;
    font-size: $font-size-small;
    padding: 4px;
    color: $gray-light;
    text-align: right;
}

.dropdown-menu__filter-item{
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.first {
        font-weight: bold;
    }
}

.dropdown-menu__filter-item-btn {
    width:100%;
    background: $white;
    border: none;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: $padding-small-vertical;
    padding-bottom: $padding-small-vertical;
    padding-left: $padding-large-horizontal;

    &:hover {
        background: $brand-secondary;
        color: $white;
    }
}

.dropdown-menu__filter-item-text{
    @include text-ellipsis-any-width();
}
.dropdown.open {
    .btn-secondary:focus {
        background-color: $brand-secondary;
        border: solid 1px $brand-secondary;
        color: $white;
        outline: none;
    }
}
