messages-container,
bp-messages-container {
  display: block;
  flex-shrink: 0;
}

message,
bp-message {
  display: block;
  font-size: 0;

  .container {
    border-radius: $border-radius-amount;
    box-shadow: 0 2px 5px 0 rgba($black,.5);
    color: $white;
    margin: 0 20px 6px;
    padding: 10px 0;
    position: relative;
    width: calc(100% - 40px);

    .icon {
      display: inline-block;
      float: left;
      text-align: center;
      width: 54px;
    }

    .text {
      display: inline-block;
      float: left;
      font-size: $font-size-smaller;
      //overflow: hidden;
      padding-top: 2px;
      //text-overflow: ellipsis;
      vertical-align: middle;
      //white-space: nowrap;
      width: calc(100% - 98px);
    }

    .fonticon-close {
      color: $white;
      cursor: pointer;
      opacity: 1;
      position: absolute;
      right: 3px;
      text-decoration: none;
      top: 6px;

      &::before {
        font-size: 1rem;
      }
    }

    &:first-child {
      margin-top: 4px;
    }

    &::after { //self clearing
      clear: both;
      content: '';
      display: table;
    }

    &.error {
      background-color: $messages-bg-error;

      .icon span::before {
        content: '\e823';
      }
    }

    &.warning {
      background-color: $messages-bg-warning;

      .icon span::before {
        content: '\e824';
      }
    }

    &.info {
      background-color: $messages-bg-info;

      .icon span::before {
        content: '\e87f';
      }
    }
  }
}
