messages-container,
bp-messages-container {
  display: block;
  flex-shrink: 0;
}

message,
bp-message {
  display: block;
  font-size: 0;

  .container {
    border-radius: $border-radius-amount;
    box-shadow: 0 2px 5px 0 rgba($black,.5);
    color: $white;
    margin: 0 20px 6px;
    padding: 10px 0;
    position: relative;
    width: calc(100% - 40px);

    .icon {
      display: inline-block;
      float: left;
      text-align: center;
      width: 54px;
    }

    .text {
      display: inline-block;
      float: left;
      font-size: $font-size-smaller;
      //overflow: hidden;
      padding-top: 2px;
      //text-overflow: ellipsis;
      vertical-align: middle;
      //white-space: nowrap;
      width: calc(100% - 98px);
    }

    .fonticon-close {
      color: $white;
      cursor: pointer;
      opacity: 1;
      position: absolute;
      right: 3px;
      text-decoration: none;
      top: 6px;

      &::before {
        font-size: 1rem;
      }
    }

    &:first-child {
      margin-top: 4px;
    }

    &::after { //self clearing
      clear: both;
      content: '';
      display: table;
    }

    &.error {
      background-color: $messages-bg-error;
    }

    &.warning {
      background-color: $messages-bg-warning;
    }


}
}

.error-page_container{
    background-color:$blue-lightest;
    width:100%;
    height:100%; 
    position:fixed;
    top:0; 
    left:0;
    color: $gray-medium;
    font-weight:bold;

        .error-page_msg{
            position:fixed;
            top: 50%; 
            left: 50%;
            width:30em;
            height:8em;
            margin-top: -4em;
            margin-left: -15em;
            background-color: $gray-lightest;
            border:1px solid $gray-medium;

            .error-page_msg-left{
               
                  width:8em; 
                  height:5em; 
                  text-align:center; 
                  vertical-align:middle;
                  border-right:1px solid $gray-medium;
                  display: table-cell;
                  font-size:1.3rem;
              
                  div:nth-child(1){
                      text-align:center;                
                      display: inline-block;
               
                  }
              } 

             .error-page_msg-right{
                 width:21em;
                 height:8em;
                 display: table-cell;
                 vertical-align: middle;
                 text-align: center;
             }

             .error-page_msg-right-inner{
                 text-align:center; 
                 font-size:0.8rem;
                 display: inline-block;
                 height:7em;
             }
         }


}



