.nova-form-group {
    margin-bottom: 19px;
    position: relative;

    &.error::after {
        color: $brand-error;
    }

    &.nova-form-buttons {
        text-align: right;
    }

    .nova-form-control ~ .nova-label {
        color: $gray-lighter;
        font-size: $font-size-smaller;
        margin-bottom: 0;
        top: 0;
    }
}

.nova-label {
    font-weight: 400;
    text-align: left;
}

.nova-form-control {
    background: transparent;
    border-bottom: solid 1px $gray-light; //reduced to 1px as per PSD
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: none;
    color: $text-color;
    font-size: $font-size-bigger;
    height: 37px;
    padding: 0;
    width: 100%;

    &.placeholder {
        color: $gray-light;

        option {
            color: $text-color;
        }
    }
}
.storyteller-helper-text {
    float: right;
}

.error .nova-form-control {
    border-bottom-color: $brand-error;
}

.nova-form-control.required ~ .nova-label::before,
.nova-form-control[required] ~ .nova-label::before {
    bottom: -$font-size-smallest;
    color: $gray-dark;
    content: attr(required);
    text-transform: lowercase;
    display: block;
    font-size: $font-size-smallest;
    position: absolute;
    right: 0;
}

.error .nova-form-control.required ~ .nova-label::before,
.error .nova-form-control[required] ~ .nova-label::before {
    color: $brand-error;
}

.nova-form-control[disabled],
.nova-form-control[readonly],
fieldset[disabled] .nova-form-control {
    background-color: transparent;
    color: $gray-lighter;
}

.nova-form-control[disabled] ~ .nova-label::after,
.nova-form-control[readonly] ~ .nova-label::after,
fieldset[disabled] .nova-form-control ~ .nova-label::after,
.nova-form-control[disabled] ~ .nova-form-control-line::after,
.nova-form-control[readonly] ~ .nova-form-control-line::after,
fieldset[disabled] .nova-form-control ~ .nova-form-control-line::after {
    display: none;
}

textarea.nova-form-control {
    padding: 4px 0;
}

textarea.textarea-autosize {
    min-height: 38px;
}

textarea[rows="2"].nova-form-control {
    height: 50px;
}

.form .nova-form-group,
.form-inline .nova-form-group {
    padding-top: 16px;
}

.nova-form-group .nova-form-control:not(.static) ~ .nova-label,
.nova-form-group .nova-form-control:not(.static) ~ .form-control-line {
    -o-transition: .2s ease all;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
}

.nova-form-group .nova-form-control ~ .nova-label,
.nova-form-group .nova-form-control ~ .nova-form-control-line {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.nova-form-group .nova-form-control ~ .nova-label::after,
.nova-form-group .nova-form-control ~ .nova-form-control-line::after {
    background-color: $brand-secondary;
    bottom: 0;
    content: '';
    height: 1px; //reduced to 1px as per PSD
    left: 45%;
    position: absolute;
    -o-transition: .2s ease all;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    visibility: hidden;
    width: 10px;
}

.nova-form-group textarea.nova-form-control ~ .nova-label::after,
.nova-form-group textarea.nova-form-control ~ .nova-form-control-line::after {
    bottom: 3px;
}

.nova-form-group .nova-form-control:focus,
.nova-form-group .nova-form-control.fake-focus {
    box-shadow: none !important;
    outline: none !important;
}

.nova-form-group .nova-form-control[required]:focus ~ .nova-label,
.nova-form-group .nova-form-control:focus ~ .nova-label,
.nova-form-group .nova-form-control.fake-focus ~ .nova-label {
    color: $brand-secondary !important;

    &::before {
        color: $brand-secondary;
    }

    i {
        color: $brand-secondary;
    }
}

.nova-form-group .nova-form-control:focus ~ .nova-label::after,
.nova-form-group .nova-form-control.fake-focus ~ .nova-label::after,
.nova-form-group .nova-form-control:focus ~ .nova-form-control-line::after,
.nova-form-group .nova-form-control.fake-focus ~ .nova-form-control-line::after {
    left: 0;
    visibility: visible;
    width: 100%;
}

.nova-floating-label .nova-form-control ~ .nova-label {
    font-size: $font-size-bigger;
    top: 6px;

    i {
        color: $gray-dark;
        margin-right: 2px;
    }

    i::before {
        font-size: 1.5 * $font-size-bigger;
        line-height: 1.2em;
        margin-left: 0;
        margin-right: 0;
    }
}

.nova-floating-label .nova-form-control[required]:valid ~ .nova-label,
.nova-floating-label .nova-form-control:focus ~ .nova-label,
.nova-floating-label .nova-form-control.fake-focus ~ .nova-label,
.nova-floating-label .nova-form-control.ng-not-empty ~ .nova-label,
.nova-floating-label .nova-form-control.input-is-dirty ~ .nova-label {
    color: $gray-dark;
    font-size: $font-size-normal !important;
    top: -16px;

    i::before {
        font-size:1.3rem;
    }
}
