bp-glossary {
    display: block;
    font-size: 1.2rem;

    .selected-term {
        // background: #e1edf5;
        background: $tree-hover-background;
    }

    .empty-state {
        color: $gray-light;
        text-align: center;
    }

    > table {
        width: 100%;
        border-left: 1px solid $gray-lighter;
        border-right: 1px solid $gray-lighter;

        > thead {
            background: $gray;

            th {
                color: $white;
                padding: 8px 25px;
            }

            th:first-child {
                width: 120px;
            }
        }
        > tbody {
            background: $white;

            > tr {
                border-bottom: 1px solid $gray-lighter;

                > td {
                    padding: 8px 25px;
                }

                &:hover:not(.selected-term):not(.empty-state) {
                    background: lighten($tree-hover-background, 2%);
                }
            }
        }

    }
}
