bp-loading-overlay {

    div //apply to div instead
    {
        background-color: rgba($white, 0);
        height: 100%;
        left: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        visibility: hidden;
        width: 100%;
        z-index: $zindex-overlay;
    }

    //The overlay is separate from the overlay-graphic because we use a transition-delay on the graphic
    //This will slow down switching the size/visibility; but we want to prevent clicking right away.
    .overlay,
    .overlay-graphic {
        pointer-events: auto;
        visibility: visible;
    }

    .overlay-graphic {
        background-color: rgba($white, .8);

        transition-delay: .2s;
        transition-duration: 1s;
        transition-property: all;
        transition-timing-function: linear;

        span.container {
            position: fixed;
            left: auto;
            right: auto;
            top: 20%;
            width: 100%;
            text-align: center;

            color: $black;
            font-size: 50px;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            span {
                display: inline-block;
            }
        }
    }
}
