.manage-traces{
  > div{
    float: left;

    &:first-child{
      width: 45%;
    }

    &:last-child{
      width: 45%;
    }

    &.trace-direction{
      width: 10%;
      padding-top: 150px;
      font-size: $font-size-big;
    }
  }

  &.artifact-picker {
    .project-name{
      width: 100%;
    }
  }

  .trace-manager-wrapper{
    .trace-main{
      padding: 5px 0;

      > div{
        float: left;

        &:first-child{
          text-align: center;
          width: 10%;
        }

        &.trace-icon-wrapper{
          width: 9%;
        }
        &:last-child{
          width: 75%;
        }
      }
    }
    width: 100%;
    height:300px;
    background-color: $white;

    .trace-icon{
      width: 2em;
      height: 2em;
      border: 2px solid #ccc;
      border-radius: 50%;
      float: left;
      line-height: 1.75em;
      text-align: center;

      &.trace-icon-regular{
        color: $brand-secondary;
      }

      i{
        &::before{
          content: "\E830";
          font-family: "bp-font2";
          font-size: $font-size-big;
          font-style: normal;
        }
      }
    }

    .icons {
      color: $gray-light;
      display: inline-block;
      float:right;
      padding: 5px;

      .icon{
        &:hover{
          color:$brand-secondary;
        }
      }

      .dropdown{
        display: inline-block;
      }
    }

    .selected {
      background: $brand-secondary;
      color:$white;

      a, i{
        color:$white;
      }

      .icons{

        i{
          &:hover{
            color: lighten($brand-secondary, 50%);
          }
        }

        .dropdown-menu{
          a, i{
            color:$gray-darker;
          }

          i{
            &:hover{
              color:$gray-darker;
            }
          }
        }
      }
    }

    [class^="fonticon2-"],
    [class*=" fonticon2-"],
    [class^="fonticon-"],
    [class*=" fonticon-"] {
      &::before {
        font-size: 1.4rem;
      }
    }
  }

  .actions-panel{
    padding: 5px;
    background: $gray-lightest;
    text-align: right;
    margin-bottom: 10px;
    font-size: 1.8rem;

    .dropdown{
      display: inline-block;

      .icon{
        &:hover{
          background: $brand-secondary;
          color:$white;
        }
      }

      .dropdown-menu{

        .icon{
          &:hover{
            background: $white;
          }

          &::before{
            color:$gray-light;
          }
        }
      }
    }

    .icon{
      background: $white;
      padding: 0 3px;
      border: 1px solid $gray-lighter;
      border-radius: 2px;
      padding-bottom: 2px;

      &::before{
        font-size: $font-size-big;
        color: $gray-light;
        border: $gray-dark;
      }

      &:hover{
        background: $brand-secondary;
        color: $white;

        &::before{
          color: $white;
        }
      }
    }
  }
}