.manage-traces-wrapper{

  .disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }

  &.modal{
    .modal-dialog{
      min-width: 820px;
    }
  }

  .form-control{
    &.upper-text{
      width:90%;
    }
  }

  .manage-traces{
    > div{
      float: left;

      &:first-child{
        width: 44%;
      }

      &:last-child{
        width: 44%;
      }

      &.trace-direction{
        width: 12%;
        padding-top: 130px;
        font-size: $font-size-normal;

        label{
          display: block;
          font-size: $font-size-smaller;
          text-align: center;
          font-weight: normal;
        }

        .dropdown{
          margin-left: 10px;

          i{
            &:before{
              font-size: $font-size-smaller;
              line-height: 40%;
            }
          }

          .btn{
            font-size: $font-size-smaller;
            min-width: 10px;
            padding: 5px;
            border-radius: $border-radius-small;
          }
        }
      }

      .dropdown-menu{
        right:0;
        left:auto;
        padding: 0;
        margin: 4px 0 0 -10px;
        min-width: 70px;

        li{
          padding: 0;
          margin: 0;
          a{
            padding: 2px 8px 2px 2px;
            margin: 0;
            font-size:$font-size-small;
            cursor:pointer;

            i{
              padding-left: 5px;
              &::before{
                line-height: 40%;
                font-size:$font-size-small;
              }
            }
          }
        }
      }
    }

    &.artifact-picker {
      .project-name{
        width: auto;
      }
    }

    .trace-manager-wrapper{
      width: 100%;
      height:225px;
      padding-bottom: 15px;
      background-color: $white;
      overflow: auto;
      border: solid 1px $gray-lightest;
      border-radius: $border-radius-amount;

      .trace{
        border-bottom: 1px solid $gray-lightest;
      }

      .trace-main{
        padding: 5px 0;

        > div{
          float: left;

          &:first-child{
            text-align: center;
            width: 10%;
          }

          &.trace-icon-wrapper{
            width: 9%;
          }
          &:last-child{
            width: 75%;
          }
        }


      }

      .trace-icon{
        width: 2.4rem;
        height: 2.4rem;
        border: 2px solid #ccc;
        border-radius: 50%;
        float: left;
        line-height: 2.3rem;
        text-align: center;
        background: $white;

        &.trace-icon-suspect{
          background: $brand-error;

          i{
            color: $white;
          }
        }

        &.trace-icon-regular{
          color: $brand-secondary;
        }

        i{
          &::before{
            font-size: $font-size-big;
            font-style: normal;
          }
        }
      }

      .icons {
        color: $gray-light;
        display: inline-block;
        float:right;
        padding: 5px 15px 5px 5px;

        .icon{
          &:hover{
            color:$brand-secondary;
          }
        }

        .dropdown{
          display: inline-block;
        }
      }

      .selected {
        background: $brand-secondary;
        color:$white;

        a, i{
          color:$white;
        }

        .trace-icon {
          i{
            color: $brand-secondary;
          }

          &.trace-icon-suspect{
            background: $brand-error;

            i{
              color: $white;
            }
          }
        }

        .icons{

          i{
            &:hover{
              color: lighten($brand-secondary, 50%);
            }
          }

          .dropdown-menu{
            a, i{
              color:$gray-darker;
            }

            i{
              &:hover{
                color:$gray-darker;
              }
            }
          }
        }
      }

      [class^="fonticon2-"],
      [class*=" fonticon2-"],
      [class^="fonticon-"],
      [class*=" fonticon-"] {
        &::before {
          font-size: 1.4rem;
        }
      }
    }

    .actions-panel{
      padding: 5px;
      background: $gray-lightest;
      text-align: right;
      margin-bottom: 6px;
      font-size: 1.8rem;
      visibility: hidden;

      &.active-panel{
        visibility: visible;
      }

      .dropdown{
        display: inline-block;

        .icon{
          &:hover{
            background: $brand-secondary;
            color:$white;
          }
        }

        .dropdown-menu{

          .icon{
            &:hover{
              background: $white;
            }

            &::before{
              color:$gray-light;
            }
          }
        }
      }

      .icon{
        background: $white;
        padding: 0 3px;
        border: 1px solid $gray-lighter;
        border-radius: 2px;
        padding-bottom: 2px;

        &::before{
          font-size: $font-size-big;
          color: $gray-light;
          border: $gray-dark;
        }

        &:hover{
          background: $brand-secondary;
          color: $white;

          &::before{
            color: $white;
          }
        }
      }
    }
  }
}
