.modal-content {
  border: 0;
  @include rounded-corners($border-radius-amount $border-radius-amount $border-radius-amount $border-radius-amount);
}

.modal-header {
  @include rounded-corners($border-radius-amount $border-radius-amount 0 0);
  background-color: $brand-secondary;

  .modal-title {
    color: $white;
  }
}

.modal.in.nova-messaging,
.modal.in.nova-login {
  margin: 0;

  .modal-header{
    .modal-close {
      color: $blue-lightest;
      cursor: pointer;
      float: right !important;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }

  .modal-dialog {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 450px;
    max-width: 440px;
    min-width: 320px;
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .modal-body {
    padding: 11px 56px;
  }

  .modal-footer {
    @include rounded-corners(0 0 $border-radius-amount $border-radius-amount);
    background: $gray-lightest;
    border-top: solid 1px $gray-lighter;
    color: $gray-light;
    padding: 15px 23px;
    width: 100%;

    .nova-form-group {
      margin: 0;
    }
  }
}

.modal.in.nova-messaging {
  .modal-body {
    .nova-message {
      box-sizing: content-box;
      font-size: $font-size-smallest;
      min-height: 3em;
      padding: 9px 0 18px;
    }
  }
}

.modal.in.nova-login {
  .modal-header {
    background: $brand-secondary url('images/bp_logo_white.svg') center center no-repeat;
    background-size: 180px;
    height: 89px;
  }

  .modal-body {
    .modal-panel-container {
      min-height: 330px;
      overflow: hidden;
      position: relative;

      &.modal-panel-not-login .modal-panel {
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
        -ms-transform: translate(-120%, 0); /* IE 9 */
        -webkit-transform: translate(-120%, 0); /* Safari */
        transform: translate(-120%, 0); /* Standard syntax */
      }

      &.modal-panel-login .modal-panel {
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
        -ms-transform: translate(0, 0); /* IE 9 */
        -webkit-transform: translate(0, 0); /* Safari */
        transform: translate(0, 0); /* Standard syntax */
      }
    }

    .modal-panel {
      background: $white;
      left: 120%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .modal-panel:first-child {
      left: 0;
    }

    .nova-login-message {
      box-sizing: content-box;
      font-size: $font-size-smallest;
      min-height: 3em;
      padding: 17px 0 25px;
      text-align: center;

      &.error {
        color: $brand-error;
      }
    }

    #modal-login-saml {
      .nova-login-message {
        font-size: $font-size-smaller;
        text-align: left;
      }
    }

    .nova-form-beneath {
      margin-top: -12px;

      a {
        color: $gray;
        font-size: $font-size-smallest;
        text-decoration: none;
      }

      a:hover {
        color: $brand-secondary;
        text-decoration: underline;
      }
    }

    .nova-login-to {
      color: $brand-secondary;
      font-size: $font-size-smallest;
      margin-top: 4px;
    }
  }

  .modal-footer {
    padding: 0;
    display: table;
    min-height: 60px;

    div {
      display: table-cell;
      font-size: $font-size-smallest;
      padding: 8px 0;
      text-align: center;
      vertical-align: middle;
    }
  }
}
