$modal-side-clearance: 8px;

.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden; // possibly fix some graphic corruption in IE
    overflow-y: hidden;
}

.modal-open .modal.nova-login {
    background-color: transparent;
}

.modal {
    margin: 0;

    .modal-content {
        @include rounded-corners($border-radius-amount $border-radius-amount $border-radius-amount $border-radius-amount);
        border: 0;
    }

    .modal-header {
        @include rounded-corners($border-radius-amount $border-radius-amount 0 0);
        background-color: $brand-secondary;
        padding: 15px 30px;

        .modal-title {
            color: $white;
            font-size: $font-size-biggest;

            .fonticon-modal::before {
                content: $fonticon-information;
                vertical-align: bottom;
            }
        }

        .modal-close {
            color: $blue-lightest;
            background-color: transparent;
            border: none;
            padding: 5px;
            margin: 0;
            cursor: pointer;
            float: right !important;
            text-decoration: none;

            &:hover {
                color: $white;
            }

            .fonticon-close::before {
                font-size: 1.6rem;
            }
        }
    }

    .modal-dialog {
        bottom: 0;
        left: 0;
        margin: auto;
        max-height: 450px;
        max-width: 440px;
        min-width: 320px;
        padding: 0 $modal-side-clearance;
        position: absolute;
        right: 0;
        top: 0;
    }

    .modal-footer {
        @include rounded-corners(0 0 $border-radius-amount $border-radius-amount);
        background: $gray-lightest;
        border-top: solid 1px $gray-lighter;
        color: $gray-light;
        padding: 15px 30px;
        width: 100%;

        .nova-form-group {
            margin: 0;
        }
    }
}

.modal.modal-alert {
    z-index: $zindex-popover !important;

    .modal-header {
        background-color: $brand-warning;

        .modal-title .fonticon-modal::before {
            content: $fonticon-warning;
        }
    }

    /* Note: '.modal-alert .btn-promoted-action' is defined in _button.scss */

    .bp-artifact-list__load-more {
        color: $brand-warning;
        font-weight: $font-weight-bold;

        &:hover,
        &:active,
        &:focus {
            color: $brand-warning;
        }
    }
}

$modal-open-project-height: 450px;
.modal.nova-open-project {
    .modal-dialog {
        min-height: $modal-open-project-height;
        min-width: #{700px + (2 * $modal-side-clearance)};
    }

    .modal-content {
        min-height: $modal-open-project-height;
        min-width: 700px;
    }

    .modal-header {
        h3 {
            line-height: 40px;
        }
    }

    .modal-header,
    .modal-footer {
        height: 70px;
    }

    .modal-body {
        background: $modal-bg-color;
        height: calc(100% - 70px - 70px); // only the main body of the dialog will resize, no header or footer
        min-height: 310px;
        padding: 15px 30px;

        .search-form {
            margin-bottom: 15px;

            .search-input {
                position: relative;
                overflow: hidden;
            }

            .form-control {
                padding-right: 31px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .fonticon-error {
                position: absolute;
                color: $gray-light;
                top: 0;
                right: 0;
                height: 34px;
                padding-top: 8px;

                &::before {
                    font-size: 2.2rem;
                }
            }

            .filter {
                width: 100%;
                font-size: $font-size-normal;
                background: $white;
                border: 1px solid $gray-lighter;
                padding: 2px 2px 2px 12px;
                margin-top: 0;
                margin-bottom: -23px;
                position: relative;
                color: $gray-light;
            }

            .filter__icon-clear-search {
                padding-top: 2px;
            }

            .fonticon2-search::before {
                display: inline;
            }
        }

        .search-wrapper {
            background: $white;
            border: solid 1px $gray-lightest;
            border-radius: $border-radius-amount;
            box-sizing: content-box;
            min-height: $artifact-picker-tree-height;
        }

        .search-message {
            font-size: $font-size-big;
            color: $gray-light;
            padding: 30px 10px;
            text-align: center;
        }

        .search-results {
            max-height: $artifact-picker-tree-height;
            box-sizing: content-box;
            overflow: auto;
        }

        .search-result {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $gray-lightest;
            padding: 8px;

            .checkbox {
                min-width: 25px;
            }
            
            .search-hidden-checkbox {
                visibility: hidden;
            }

            & > i {
                color: $brand-secondary;
                font-size: 24px;
                line-height: 36px;
            }

            .item-icon__fallback {
                color: $brand-secondary;
                font-size: 24px;
                line-height: 36px;
                width: 36px;
            }

            .item-icon__image--fallback {
                max-height: 36px;
                max-width: 32px;
            }

            &:hover {
                background-color: $tree-hover-background;
            }

            &.selected {
                background: $brand-secondary;
                color: $white;

                & > i {
                    color: $white;
                }
            }

            &:not(.selectable) {
                color: $gray-light;
            }
        }

        .search-details {
            overflow: hidden;
            padding-left: 3px;
            & > div {
                @include text-ellipsis-flex-width(unset);
                font-size: 1.2rem;
                line-height: 18px;
                cursor: default;
                padding-top: 2px;
            }
        }

        .more-search-results {
            font-size: 1.2rem;
            font-style: italic;
            padding: 8px;
            text-align: center;
        }

        .project-wrapper {
            height: 100%;
        }

        .artifact-picker-container {
            box-sizing: border-box;
            display: block;
            float: left;
            height: calc(100% - 50px);
            margin: 0 15px 0 0;
            min-height: $artifact-picker-tree-height;
            width: $artifact-picker-data-width;
        }

        .artifact-picker-insert-selection {
            font-size: $font-size-normal;

            input {
                outline: none;
            }
        }

        .grid-wrapper {
            position: relative;
        }

        .grid-header {
            color: $brand-secondary;
            display: flex;
            font-size: $font-size-normal;
            font-weight: 600;
            height: 18px;
            left: 1px;
            line-height: 18px;
            position: absolute;
            top: 2px;
            width: calc(100% - 2px); // to account for the grid borders
            z-index: 100;

            i {
                flex: none;
            }

            .project-navigation {
                cursor: pointer;
                margin: 0 0 0 1px;
                text-align: center;
                width: 16px;

                &::before {
                    font-size: 1rem;
                    line-height: 1rem;
                }
            }

            .hide-project-navigation {
                pointer-events: none;
                visibility: hidden;
            }

            .project-icon {
                text-align: center;
                width: 25px;
            }

            .project-name,
            .instance-name {
                @include text-ellipsis-any-width();
                display: inline-block;
            }

            .instance-name {
                text-indent: 6px;
            }
        }

        .project-tree {
            background: $white;
            border: solid 1px $gray-lightest;
            border-radius: $border-radius-amount;
            height: 100%;
            min-height: $project-picker-tree-height;
        }

        &::before {
            content: ' ';
            display: table;
        }

        &::after {
            clear: both;
            content: ' ';
            display: table;
        }
    }
}

.modal.nova-messaging {
    .modal-body {
        padding: 30px 56px;

        .nova-message {
            box-sizing: content-box;
            font-size: $font-size-normal;
            min-height: 3em;
        }
    }
}

.modal.nova-publish {
    .modal-header {
        padding: 15px;

        .modal-title .fonticon-modal::before {
            font-size: 2.8rem;
        }
    }

    .modal-body {
        padding: 20px 56px 0;

        .nova-message {
            box-sizing: content-box;
            font-size: $font-size-normal;
            min-height: 3em;
            padding-bottom: 5px;
        }
    }

    .bp-artifact-list--complete {
        margin-bottom: 20px;
    }
}

.nova-login-confirm,
.modal.nova-login {
    z-index: $zindex-popover !important;
}

.modal.nova-login {
    .modal-header {
        background: $brand-secondary url('/novaweb/static/images/logo-storyteller-white.svg') center center no-repeat;
        background-size: 180px;
        height: 89px;
    }

    .modal-body {
        padding: 11px 56px;

        input[type=text],
        input[type=password] {
            box-shadow: inset 0 0 0 1000px $white !important;
        }

        .modal-panel-container {
            min-height: 330px;
            overflow: hidden;
            position: relative;

            &.modal-panel-not-login .modal-panel {
                -webkit-transition-duration: .5s;
                -moz-transition-duration: .5s;
                -o-transition-duration: .5s;
                transition-duration: .5s;
                -ms-transform: translate(-120%, 0); /* IE 9 */
                -webkit-transform: translate(-120%, 0); /* Safari */
                transform: translate(-120%, 0); /* Standard syntax */
            }

            &.modal-panel-login .modal-panel {
                -webkit-transition-duration: .5s;
                -moz-transition-duration: .5s;
                -o-transition-duration: .5s;
                transition-duration: .5s;
                -ms-transform: translate(0, 0); /* IE 9 */
                -webkit-transform: translate(0, 0); /* Safari */
                transform: translate(0, 0); /* Standard syntax */
            }
        }

        .modal-panel {
            background: $white;
            left: 120%;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .modal-panel:first-child {
            left: 0;
        }

        .nova-login-message {
            box-sizing: content-box;
            font-size: $font-size-normal;
            min-height: 3em;
            padding: 17px 0 25px;
            text-align: center;

            &.error {
                color: $brand-error;
            }
        }

        #modal-login-form {
            button[type='submit'] {
                position: relative;

                span {
                    left: 9px;
                    position: absolute;
                    top: 11px;
                }
            }
        }

        #modal-login-saml {
            .nova-login-message {
                font-size: $font-size-big;
                text-align: left;
            }
        }

        .nova-form-beneath {
            color: $gray-dark;
            font-size: $font-size-normal;
            margin-top: -12px;

            a:hover {
                color: $brand-secondary;
                text-decoration: underline;
            }
        }

        .nova-login-to {
            color: $brand-secondary;
            font-size: $font-size-normal;
            margin-top: 4px;
        }

        .btn-link {
            color: inherit;
            font-size: inherit;
            padding: 0;
        }

        .btn-link:hover {
            color: $brand-secondary;
        }
    }

    .modal-footer {
        display: table;
        height: 60px;
        padding: 0;

        div {
            display: table-cell;
            font-size: $font-size-smaller;
            padding: 8px 0;
            text-align: center;
            vertical-align: middle;
        }
    }
}

.modal.change-password {
    .change-password__message {
        box-sizing: content-box;
        font-size: $font-size-normal;
        padding: 17px 0 25px;
        text-align: center;

        &.error {
            color: $brand-error;
        }
    }

    .change-password__body--form {
        box-sizing: border-box;
        min-height: 344px;
    }

    .change-password__body--success {
        font-size: $font-size-normal;
        padding: 30px 56px;
    }

    .change-password__header .modal-title {
        display: none;
    }

    .change-password__header--success {
        background-image: none;
        height: auto;
        padding: 15px;

        .modal-title {
            display: block;
        }

        .fonticon-modal::before {
            font-size: 2.8rem;
        }
    }

    .change-password__footer .nova-form-buttons {
        padding: 15px 56px;
        text-align: right;
    }

    .change-password__footer--success .nova-form-buttons {
        padding: 15px 30px;
    }
}
