.modal-content {
  border: 0;
  @include rounded-corners(0 0 $border-radius-amount $border-radius-amount);
}

.modal-header {
  @include rounded-corners($border-radius-amount $border-radius-amount 0 0);
  background-color: $brand-secondary;

  .modal-title {
    color: $white;
  }
}

.modal.in.nova-login {
  margin: 0;

  .modal-dialog {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 450px;
    max-width: 440px;
    min-width: 320px;
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .modal-header {
    background: $brand-secondary url('images/bp_logo_white.svg') center center no-repeat;
    background-size: 180px;
    height: 89px;
  }

  .modal-body {
    padding: 11px 56px;

    .nova-login-message {
      box-sizing: content-box;
      font-size: $font-size-smallest;
      min-height: 3em;
      padding: 17px 0 25px;
      text-align: center;

      &.error {
        color: $brand-error;
      }
    }

    .nova-forgot-password {
      margin-top: -12px;

      a {
        color: $gray;
        font-size: $font-size-smallest;
        text-decoration: none;
      }

      a:hover {
        color: $brand-secondary;
        text-decoration: underline;
      }
    }

    .nova-login-to {
      color: $brand-secondary;
      font-size: $font-size-smallest;
      margin-top: 4px;
    }
  }

  .modal-footer {
    @include rounded-corners(0 0 $border-radius-amount $border-radius-amount);
    background: $gray-lightest;
    border-top: solid 1px $gray-lighter;
    color: $gray-light;
    display: table;
    min-height: 60px;
    padding: 0;
    width: 100%;

    div {
      display: table-cell;
      font-size: $font-size-smallest;
      padding: 8px 0;
      text-align: center;
      vertical-align: middle;
    }
  }
}
