.navbar {
  border: 0;
  margin: 0;
  padding: 0;

  .navbar-header {
    background: $navbar-color url('images/bp_logo_white.svg') 9px no-repeat;
    background-size: 120px;
    border: 0;
    float: none;
    height: $navbar-height;
    margin: 0;
    padding: 0;

    .navbar-brand {
      background: $brand-secondary;
      border: 0;
      color: $white;
      display: none; //we don't want to show "blueprint Blueprint". It will be used for other products
      font-size: $font-size-smaller;
      font-weight: 600;
      height: $navbar-height;
      line-height: $navbar-height;
      margin: 0 0 0 144px;
      padding: 0 32px;
    }

    .navbar-right {
      color: $white;
      float: right !important; //override media query
      font-size: $font-size-smallest;
      line-height: $navbar-height;
      margin: 0 0 0 15px;
      white-space: nowrap;

      span {
        font-weight: 600;
        font-style: italic;
      }

      .signed-in-as {
        font-weight: 700;
        font-style: normal;
        margin: 0 4px;
      }

      .fonticon, .fonticon::before {
        color: $white;
        cursor: pointer;
        display: inline-block;
        font-size: $font-size-biggest;
        margin-top: -3px;
        text-decoration: none;
        vertical-align: middle;
      }

      .fonticon-help {
        margin-left: 8px;
        margin-right: 10px;
      }
    }
  }

  .navbar-toolbar {
    background: $gray-lighter;
    height: $navbar-toolbar-height;
    padding: 0 0 0 12px;

    .navbar-nav {
      float: left;
      margin: 0;

      > li {
        float: left !important; //override media query
      }

      > .separator {
        background: $gray-light;
        border-left: solid 1px lighten($gray-light, 16);
        border-right: solid 1px lighten($gray-light, 16);
        height: $navbar-toolbar-height;
        width: 3px;
      }
    }

    > ul > li {
      > a {
        box-sizing: border-box;
        color: $gray-dark;
        height: $navbar-toolbar-height;
        line-height: normal;
        padding: 6px 4px 0;
        text-align: center;

        .fonticon::before {
          font-size: $font-size-biggest;
          margin: 0;
        }

        .caret {
          margin: 0;
        }

        span {
          display: block;
          font-size: $font-size-nano;
          font-weight: 700;
          margin-top: -3px;
          white-space: nowrap;
        }
      }

      &.open > a {
        background: $gray-lightest;
        color: $brand-secondary !important;
      }

      &.open > a:hover,
      > a:hover {
        color: $brand-secondary !important;
      }
    }
  }

  .dropdown-menu {
    border: solid 1px $white;
    border-top: 0;
    margin: 0;
    padding: 0;

    a {
      background: $gray-light;
      border: 0;
      border-top: solid 1px $white;
      color: $white;
      padding: 6px 20px;

      &:hover {
        background: $brand-secondary;
        color: $white;
      }
    }

    .dropdown-submenu {
      position: relative;

      > .dropdown-menu {
        left: 100%;
        top: 0;
      }

      &:hover > .dropdown-menu {
        display: block;
      }

      > a::after {
        border-color: transparent;
        border-left-color: $white;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        content: ' ';
        display: block;
        float: right;
        height: 0;
        margin-right: -10px;
        margin-top: 5px;
        width: 0;
      }
    }
  }
}
