.navbar {
    border: 0;
    display: block;
    left: 0;
    margin: 0;
    min-height: $navbar-height;
    min-width: $app-minimum-width;
    padding: 0;
    position: absolute;
    top: 0;

    .navbar__header {
        background: $navbar-color url('/novaweb/static/images/logo-storyteller-white.svg') 15px no-repeat;
        background-size: 120px 25px;
        border: 0;
        float: none;
        height: $navbar-height;
        margin: 0;
        padding: 0;
    }

    .navbar__brand {
        background: $brand-secondary;
        border: 0;
        color: $white;
        display: none; //we don't want to show "blueprint Blueprint". It will be used for other products
        font-size: $font-size-smaller;
        font-weight: 600;
        height: $navbar-height;
        line-height: $navbar-height;
        margin: 0 0 0 144px;
        padding: 0 32px;
    }

    .navbar__right {
        display: flex;
        flex-flow: row nowrap;
        float: right;
        margin: 0;
        white-space: nowrap;
    }

    .navbar__welcome {
        color: $white;
        font-size: $font-size-normal;
        font-style: italic;
        font-weight: 600;
        line-height: $navbar-height;

        span {
            font-style: normal;
            font-weight: 700;
            margin-left: 4px;
        }
    }

    .navbar__avatar {
        height: 24px;
        margin: 8px;
        width: 24px;

        .avatar-placeholder {
            border-color: $white;
        }

        .initials {
            font-size: $font-size-smallest;
            height: 100%;
            left: 0;
            line-height: 22px;
            top: 0;
            width: 100%;
        }
    }

    .navbar__help {
        color: $white;
        padding-right: 15px;

        a {
            line-height: 37px;
        }

        .fonticon, .fonticon::before {
            color: $white;
            cursor: pointer;
            margin-top: -3px;
            text-decoration: none;
            vertical-align: middle;
        }

        .fonticon2-help::before {
            font-size: 23px;
        }
    }

    .navbar__dropdown {
        background: $navbar-color;
        margin-top: 0;
        min-width: 100px;
        @include rounded-corners(0);
    }

    .navbar__dropdown-btn {
        background: transparent;
        border: 0;
        color: $white;
        text-align: left;
        width: 100%;

        &:hover {
            background: $brand-secondary;
            color: $white;
        }
        &:hover,
        &:active,
        &:focus {
            outline: 0;
        }
    }

    .dropdown-menu-caret {
        color: $white;
        margin-left: 5px;
    }

    .dropdown-menu-item {
        line-height: 27px;
    }
}
