$page-body-min-width: 386px;

.empty-main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    display: flex;
    align-items: center;
    overflow: auto;
}

.empty-main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.empty-main__logo {
    background: url('/novaweb/static/images/logo-storyteller-gray.svg') center center no-repeat;
    width: 400px;
    height: 150px;
    min-height: 150px;
}

.empty-main__heading {
    display: inline-block;
    font-size: 2.3em;
    color: $brand-secondary;
    padding-bottom: 50px;
    margin-bottom: 15px;
    border-bottom: 1px solid $gray-lighter;
    text-align: center;
}

.empty-main__heading--strong {
    font-weight: bold;
}

.empty-main__button {
    color: $white;
    background-color: $brand-secondary;
    padding: 8px 20px;

    &:hover {
        color: $brand-secondary;
        background-color: $white;
    }
}

.empty-main__resources {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: $font-size-big;
}

.empty-main__hyperlink {
    font-weight: normal;
    font-size: $font-size-normal;
    text-decoration: underline;
}


pagecontent, bp-properties-panel {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0;
    padding: 0;
    //transition: all .4s ease;
    width: 100%;

    .page-content-wrapper {
        height: 100%;
        overflow: hidden;
        width: 100%;
    }

    .page-content {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
    }

    .page-heading {
        flex: none;
        font-size: 0; // to remove unwanted space around elements. Specify font-size for inner elements!
        margin: 15px 20px 0;
        min-width: $page-body-min-width;
        white-space: nowrap;

        &::after {
            clear: both;
            content: '';
            display: table;
        }
    }

    .page-body-wrapper {
        overflow:auto;
        height: 100%;
        padding: 0 20px 10px;
        min-width: $page-body-min-width;
        z-index: 0;
    }

    .process-page-body-wrapper {
        @extend .page-body-wrapper;
        overflow:hidden;
    }

    .responsive-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .artifact-state {
        height: 100%;
        width: 100%;
    }

    .artifact-status {
        color: $white;
        margin: 0 0 10px;
        padding: 10px 10px 10px 0;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;

        .icon {
            display: inline-block;
            margin: -10px 10px;
            font-size: 2.5rem;

            &::before {
                font-size: 2.5rem;
                line-height: inherit;
            }
        }
    }
    .artifact-status--historical {
        background-color: $messages-bg-warning;
    }
    .artifact-status__text {
        display: inline-block;
        font-size: $font-size-big;
        white-space: normal;
    }
    .artifact-status__open-latest,
    .artifact-status__open-latest:visited {
        margin-left: 10px;
        cursor: pointer;
        color: $white;
        text-decoration: underline;
    }

    .load-project{
        flex: none;
        padding-bottom: $padding-large-vertical;
    }

    .btn-load-project{
        background: $white;
    }

    .artifact-heading {
        display: flex;
        width: 100%;

        .icon,
        .artifact-heading-group1 {
            display: block;
            margin: 0 10px 15px 0;
            min-height: 30px;
            vertical-align: top;
        }

        .icon {
            flex-grow: 0;
            flex-shrink: 0;

            &::before {
                color: $gray;
                font-family: 'bp-line-icons';
                font-size: 24px;
                line-height: 1.5em;
                margin: 0;
            }

            bp-item-type-icon {
                display: block;
                margin-top: 5px;
            }
        }

        .artifact-heading-group1 {
            width: 100%;
        }

        .artifact-heading-group2 {
            align-items: baseline;
            display: flex;
            justify-content: flex-start;
        }

        .name {
            color: $gray-dark;
            display: block;
            font-size: $font-size-biggest;
            white-space: pre-wrap;
            //word-break: break-all;
            word-wrap: break-word;
        }

        .indicators {
            display: block;
            flex: none;

            i {
                color: $gray;
                display: inline-block;
                font-style: normal;
                text-align: center;
                vertical-align: bottom;
                height: 12px;
                padding-left: 5px;
                &::before {
                    font-size: $font-size-big;
                    line-height: normal;
                }
            }

            .readonly-indicator {
                width: 24px;
            }

            .fonticon-lock.self-locked::before {
                color: $brand-secondary;
            }

            .legacy-indicator {
                width: 24px;
            }
        }

        .type-id {
            color: $gray;
            font-size: $font-size-smaller;
            white-space: nowrap;
        }
    }

    .artifact-overview {
        background: $white;
        position: relative;

        > .content {
            border: solid 1px $gray-lighter;
            padding: 18px 15px;
        }

        .tab-slider__next,
        .tab-slider__prev {
            font-size: $font-size-normal;
            padding-top: 6px;
        }

        .tab-pane {
            font-size: $font-size-normal;
        }
    }
}

.right-panel .sidebar-content {
    .utility-panel-title {
        background: $blue-lightest;
        border-left: solid 2px $right-sidebar-border;
        border-right: solid 1px $utility-panel-border-color;
        height: $utility-panel-title-height;
        line-height: $utility-panel-title-height;

        > span {
            color: $gray-dark;
            display: inline-block;
            font-size: $font-size-small;
            font-weight: 600;
            overflow: hidden;
            padding: 0 10px 0 26px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }

        .icon {
            display: block;
            float: left;
            left: 10px;
            position: absolute;

            &::before {
                font-size: $font-size-normal;
                margin: 0;
                padding: 0;
                text-align: left;
            }
        }

        bp-item-type-icon {
            display: block;
            float: left;
            left: 10px;
            position: absolute;

            img {
                height: 12px;
                width: 12px;
            }
        }
    }

    .utility-panel-content {
        height: calc(100% - #{$utility-panel-title-height});

        &.empty-panel{
            border-left: solid 2px $right-sidebar-border;
        }
    }
}
