bp-select, .bp-select {
    .bp-select__button {
        text-align: left;
        font-weight: $font-weight-bold;
    }

    &.disabled {
        opacity: 0.6;
        pointer-events: none;
        .bp-select__selected-label,.caret{
               opacity: 0.6;
               pointer-events: none;
               color:  $gray-lighter;
        }
    }

    .dropdown {
        border: 1px solid $gray-light;
        border-radius: 3px;
        float: right;

        .dropdown-toggle {
            color: $text-color;
            display: block;
            text-decoration: none;
            padding: 3px $padding-smaller;

            &:hover {
                color: $brand-secondary;
            }

            span {
                padding-right: 4px;
                padding-left: 5px;
                padding-top: 2px;
                font-size: $font-size-normal;
            }

            .caret {
                position: absolute;
                top: 47%;
                right: $padding-smaller;
            }
        }
        .dropdown-menu {
            > li > a:hover {
                background-color: $brand-secondary;
                color: #fff;
            }
        }
    }
}
