bp-sidebar-layout {
  display: block;
  height: calc(100% - #{$toolbar-height});
  width: 100%;

  .bp-sidebar-wrapper {
    height: 100%;
  }

  .content-center {
    background: $body-bg-color;
    display: block;
    height: calc(100% - #{$wrapper-height + $toolbar-height});
    position: fixed;
    top: #{$wrapper-height + $toolbar-height};
    transition: padding .4s ease;
    width: 100%;
  }

  .left-panel-visible {
    .content-center {
      padding-left: $sidebar-size;
    }

    .sidebar.left-panel {
      left: $sidebar-size;

      .sidebar-toggle {
        color: $white;
        right: -4px;
        transition-duration: .01s;
      }
    }
  }

  .right-panel-visible {
    .content-center {
      padding-right: $sidebar-size;
    }

    .sidebar.right-panel {
      right: $sidebar-size;

      .sidebar-toggle {
        color: $white;
        left: -4px;
        transition-duration: .01s;
      }
    }
  }

  .sidebar {
    background: $white;
    display: block;
    height: calc(100% - #{$wrapper-height + $toolbar-height});
    position: fixed;
    top: #{$wrapper-height + $toolbar-height};
    transition: all .4s ease;
    width: $sidebar-size;
    z-index: $sidebar-z-index;

    .sidebar-title {
      background: $brand-secondary;
      box-sizing: border-box;
      color: $white;
      font-size: $font-size-root;
      font-weight: 600;
      height: $breadcrumbs-height;
      padding: 13px 15px 0;
    }

    .sidebar-toggle {
      color: $brand-secondary;
      cursor: pointer;
      position: absolute;
      top: 12px;
      transition-duration: .4s;
      transition-property: color, left, right;
      transition-timing-function: steps(1, end);

      &:hover {
        text-decoration: none;
      }
    }

    .sidebar-content {
      height: calc(100% - #{$breadcrumbs-height});
    }

    &.left-panel {
      border-right: solid 1px $left-sidebar-border;
      left: 0;
      margin-left: -$sidebar-size;

      .sidebar-title {
        padding-right: 36px;
      }

      .sidebar-toggle {
        right: -47px;
      }

      .project-explorer {
        border-right: solid 5px $brand-secondary;
        height: 100%;
        padding-left: 1px;
      }
    }

    &.right-panel {
      border-left: solid 1px $right-sidebar-border;
      margin-right: -$sidebar-size;
      right: 0;

      .sidebar-content {
        height: calc(100% - #{$breadcrumbs-height - 1px});
      }

      .sidebar-title {
        height: $breadcrumbs-height - 1px;
        padding-left: 36px;
      }

      .sidebar-toggle {
        left: -47px;
      }
    }
  }
}
