body {
    .mce-mention {
        margin: 0;
        z-index: 65536;
    }

    .mce-btn-group {
        padding-right: 3px;
    }

    .mce-floatpanel.mce-popover.mce-bottom {
        border: 1px solid rgba(0,0,0,0.2);
        margin-top: -1px;

        &.mce-start {
            margin-left: -20px;
        }

        > .mce-arrow {
            display: none;
        }
    }

    .mce-flow-layout-item.mce-last {
        margin-right: 0;
    }

    .mce-btn-group:nth-child(2) .mce-listbox.mce-btn-has-text button span { // font-family button
        overflow: hidden;
        text-overflow: initial;
        width: 40px;

        &::before {
            color: #333;
            content: $fonticon2-font-family;
            display: inline-block;
            font-family: 'bp-font2';
            font-size: 22px;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            height: 16px;
            margin-right: 40px;
            overflow: hidden;
            vertical-align: top;
            width: 25px;
        }
    }

    i.mce-ico.mce-i-font-size::before {
        content: '\e241';
        font-family: 'Glyphicons Halflings' !important;
    }

    i.mce-ico.mce-i-format::before {
        content: $fonticon2-format;
        font-family: 'bp-font2' !important;
    }

    bp-comment-edit {
        .mce-btn-group {
            padding-right: 1px;

            &:not(:first-child) {
                margin-left: 0;
                padding-left: 1px;
            }
        }

        .mce-btn-group:nth-child(2) .mce-listbox.mce-btn-has-text button {
            span { // font-family button
                width: 30px;

                &::before {
                    font-size: 18px;
                    margin-top: 2px;
                    width: 20px;
                }
            }

            .mce-caret {
                right: 2px;
            }
        }

        .mce-btn button {
            font-size: 12px;
            padding: 1px;
        }

        .mce-ico {
            font-size: 12px;
            width: 12px;
        }

        .mce-colorbutton {
            .mce-preview {
                margin-left: -15px;
            }

            .mce-open {
                padding-left: 2px;
                padding-right: 2px;
            }
        }

    }
}
