.bp-tooltip {
  border: 0;
  display: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: fixed;
  z-index: $tooltip-z-index;

  &.show {
    display: block;
    opacity: 1;
  }
}

.bp-tooltip-content {
  background: $black;
  border: 0;
  border-radius: $border-radius-amount;
  -webkit-box-shadow: 0px 2px 8px 0px rgba($black, .75);
  -moz-box-shadow: 0px 2px 8px 0px rgba($black, .75);
  box-shadow: 0 2px 6px 0 rgba($black, .75);
  color: $white;
  font-family: "Open Sans", sans-serif;
  font-size: $font-size-tiniest;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  padding: 0 20px;
  white-space: nowrap;
}

.bp-tooltip-top-tip::after,
.bp-tooltip-bottom-tip::after {
  //border-color: rgba($black, 0);
  //border-style: solid;
  //border-width: 7px;
  //content: ' ';
  //height: 0;
  //margin-left: -5px;
  color: $black;
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  height: 8px;
  line-height: 8px;
  pointer-events: none;
  position: absolute;
  text-shadow: 0 2px 6px rgba($black, .75);
  transform: scaleX(1.5);
  //width: 0;
}

.bp-tooltip-top-tip::after {
  //border-bottom-color: $black;
  bottom: 100%;
  content: '▲';
}

.bp-tooltip-bottom-tip::after {
  //border-top-color: $black;
  content: '▼';
  top: 100%;
}

.bp-tooltip-left-tip::after {
  left: 10px;
}

.bp-tooltip-right-tip::after {
  left: calc(100% - 20px);
}
