bp-toolbar-2 {
    display: flex;
    flex-direction: row;

    button.btn {
        min-width: 0;
    }

    .dropdown {
        a {
            cursor: pointer;
        }

        a.disabled,
        a.disabled:visited ,
        a.disabled:active,
        a.disabled:hover {
            cursor: default;
            background-color:#d9d9d9 !important;
            color:#aaa !important;
        }
    }
}