bp-utility-panel {
    $item-gap: $padding-bigger;

    bp-accordion .bp-accordion-panel > input[type=radio].bp-accordion-panel-state:checked ~ .bp-accordion-panel-content {
        padding: 0;
    }

    .app-loading {
        margin-top: 30px;
    }

    .disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
    }
    
    /*.btn {
        background-color: #fff;
        color: $blue-light;
        border: solid 1px $gray-lighter;
        border-radius: 3px;
        padding: 2px $padding-smallest;
        min-width: 0;
    }*/

    .bp-accordion-panel-content {
        bp-attachments-panel, bp-history-panel, bp-discussion-panel, bp-relationships-panel {
            display: flex;
            flex-flow: column;
            height: 100%;
        }
    }
    
    .filter-bar {
        flex: none;
        padding: $padding-root;

        bp-select {
            .dropdown {
                min-width: 115px;

                // make the menu open on the right side
                .dropdown-menu {
                    left: inherit;
                    right: 0;
                }
            }
        }
    }
    
    .scrollable-content {
        clear: both;
        padding: 0 10px;
        width: 100%;
        flex: auto;
        overflow: auto;
    }

    .empty-state {
        font-size: $font-size-big;
        color: $gray-light;
        padding: 30px 10px;
        text-align: center;
    }

    .nav-tabs {
        clear: both;
        padding-top: 7px;
        margin-bottom: 0;
        border-bottom: 1px solid $gray-lightest;

        > li, > li.active {
            font-size: $font-size-small;
        }

        > li > a {
            margin: 0;
            padding-left: 6px;
            padding-right: 6px;
        }
    }
    .tab-content {
        display: none;
    }
    
    .artifact-item-wrapper {
        position: relative;
        
        .separator {
            width: 2px;
            height: $item-gap;
            background: $gray-lighter;
            position: absolute;
            bottom: -$item-gap;
            left: 28px;
        }

        &:last-child .separator {
            display: none;
        }

        h6 {
            margin: 0 0 3px 0;
            line-height: 1.2em;
            @include text-ellipsis-flex-width(100%);
        }
    }

    .timestamp {
        color: $gray-light;
        font-size: $font-size-small;
        margin-top: $padding-smaller;

        .icon:before {
            font-size: $font-size-small;
        }
    }

    .thumb {
        float: left;
        margin: 0 $padding-root 0 0;
    }
    
    .author {
        padding-top: 2px;
        padding-bottom: 2px;
        @include text-ellipsis-flex-width(100%);
    }

    .icon {
        &[ng-click] {
            &:hover {
                color: $brand-secondary;
                cursor: pointer;
            }
        }
    }

    .dropdown {
        span {
            .icon:hover {
                color: $brand-secondary;
                cursor: pointer;
            }
        }
    }

    .button-bar {
        border-top: 1px solid $gray-lighter;
        margin-top: $padding-root;
        margin-left: -$padding-root;
        margin-right: -$padding-root;
        font-size: $font-size-tiny;
        color: $gray-light;
        text-align: right;
        padding: $padding-smaller $padding-smaller 0 $padding-smaller;

        .icon {
            padding: 0 5px;
            &:before {
                font-size: $font-size-normal;
            }
        }
    }

    &:first-child {
        overflow: hidden;
        height: 100%;
    }
    
    .utility-panel-artifact-item {
        line-height: 100%;
        margin: 0 0 $item-gap 0;
        border: 1px solid $gray-lighter;
        border-radius: 3px;
        padding: $padding-smaller $padding-root;
        min-height: 74px;
        display: block;
    }

    .status {
        position: absolute;
        top: 8px; //$padding-smaller;
        right: 10px; //$padding-smaller;
        color: $gray-light;
        cursor: pointer;

        .icon:before {
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            color: $gray-darker;
            font-size: $font-size-bigger;
            margin: 0;
        }

        &.expanded .icon:before {
            @include transform-rotate(180);
        }
    }

    .add-empty {
        margin: 30px 0;

        p {
            font-size: 1.2rem;
            color: $gray-darker;
        }
    }
}

@import './utility-panel/history';
@import './utility-panel/attachments';
@import './utility-panel/discussion';
@import './utility-panel/relationships';
@import './utility-panel/properties';
