.wrappable-breadcrumbs {
    align-items: center;
    box-sizing: border-box;
    color: $gray;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    /*display:inline;*/
    font-size: $font-size-small;

    &::after {
        clear: both;
        content: '';
        display: table;
    }

    li {
        color: $gray;
        list-style-type: none;
        padding-left: 2px;
        padding-right: 2px;
        display: inline;
        /*word-break:break-all;*/

        &::before {
            content: '>';
        }

        &:first-child {
            padding-left: 0;

            &::before {
                content: ' ';
            }
        }
        a {
            color: $gray-darkest;
            text-decoration: none;

        }
    }
}
