<div class="navbar-toolbar page-toolbar__wrapper">
    <ul class="page-toolbar__container">
        <li class="page-toolbar__item" uib-dropdown>
            <button type="button"
                    class="page-toolbar__item-button"
                    title="{{::$root.config.labels['App_Toolbar_Project']}}"
                    uib-dropdown-toggle>
                <i class="page-toolbar__item-icon fonticon2-project"></i>
                <span class="caret"></span>
                <span class="page-toolbar__item-label">{{::$root.config.labels['App_Toolbar_Project']}}</span>
            </button>
            <ul class="page-toolbar__item-dropdown dropdown-menu">
                <li class="page-toolbar__sub-item">
                    <button type="button"
                            class="btn btn-link"
                            ng-click="$ctrl.openProject($event)"
                            title="{{::$root.config.labels['App_Toolbar_Open_Project']}}">
                        {{::$root.config.labels['App_Toolbar_Open_Project']}}
                    </button>
                </li>
                <li class="page-toolbar__sub-item">
                    <button type="button"
                            class="btn btn-link"
                            title="{{::$root.config.labels['App_Toolbar_Close_Project']}}"
                            ng-disabled="!$ctrl.isArtifactSelected"
                            ng-click="$ctrl.closeProject($event)">
                        {{::$root.config.labels['App_Toolbar_Close_Project']}}
                    </button>
                </li>
                <li class="page-toolbar__sub-item">
                    <button type="button"
                            class="btn btn-link"
                            ng-disabled="!$ctrl.isProjectOpened"
                            title="{{::$root.config.labels['App_Toolbar_Close_All_Projects']}}"
                            ng-click="$ctrl.closeAllProjects($event)">
                        {{::$root.config.labels['App_Toolbar_Close_All_Projects']}}
                    </button>
                </li>
            </ul>
        </li>
        <li class="page-toolbar__separator"></li>
        <li class="page-toolbar__item">
            <button type="button"
                    class="page-toolbar__item-button"
                    title="{{::$root.config.labels['App_Toolbar_New']}}"
                    ng-click="$ctrl.createNewArtifact($event)"
                    ng-disabled="!$ctrl.canCreateNew">
                <i class="page-toolbar__item-icon fonticon2-new"></i>
                <span class="page-toolbar__item-label">{{::$root.config.labels['App_Toolbar_New']}}</span>
            </button>
        </li>
        <li class="page-toolbar__item">
            <button type="button"
                    class="page-toolbar__item-button"
                    ng-click="$ctrl.publishAll($event)"
                    title="{{::$root.config.labels['App_Toolbar_Publish_All']}}">
                <i class="page-toolbar__item-icon fonticon2-publish-line"></i>
                <span class="page-toolbar__item-label">{{::$root.config.labels['App_Toolbar_Publish_All']}}</span>
            </button>
        </li>
        <li class="page-toolbar__item">
            <button type="button"
                    class="page-toolbar__item-button"
                    title="{{::$root.config.labels['App_Toolbar_Discard_All']}}"
                    ng-click="$ctrl.discardAll($event)">
                <i class="page-toolbar__item-icon fonticon2-discard-line"></i>
                <span class="page-toolbar__item-label">{{::$root.config.labels['App_Toolbar_Discard_All']}}</span>
            </button>
        </li>
        <li class="page-toolbar__item">
            <button type="button"
                    class="page-toolbar__item-button"
                    title="{{::$root.config.labels['App_Toolbar_Refresh_All']}}"
                    ng-click="$ctrl.refreshAll($event)">
                <i class="page-toolbar__item-icon fonticon2-refresh-line"></i>
                <span class="page-toolbar__item-label">{{::$root.config.labels['App_Toolbar_Refresh_All']}}</span>
            </button>
        </li>
        <li class="page-toolbar__item" uib-dropdown>
            <button type="button"
                    class="page-toolbar__item-button"
                    title="{{::$root.config.labels['App_Toolbar_Generate']}}"
                    ng-disabled="!$ctrl.canGenerateTestCases"
                    id="generate-dropdown"
                    uib-dropdown-toggle>
                <i class="page-toolbar__item-icon fonticon2-generate"></i>
                <span class="caret"></span>
                <span class="page-toolbar__item-label">{{::$root.config.labels['App_Toolbar_Generate']}}</span>
            </button>
            <ul class="page-toolbar__item-dropdown dropdown-menu" aria-labelledby="generate-dropdown">
                <li class="page-toolbar__sub-item">
                    <button type="button"
                            class="btn btn-link"
                            title="{{::$root.config.labels['App_Toolbar_Generate_Test_Cases']}}"
                            ng-click="$ctrl.generateTestCases($event)">
                        {{::$root.config.labels['App_Toolbar_Generate_Test_Cases']}}
                    </button>
                </li>
            </ul>
        </li>
        <li class="page-toolbar__separator"></li>
        <li class="page-toolbar__item">
            <bp-goto></bp-goto>
        </li>
    </ul>
    <ul class="nav navbar-nav nav-right full-height">
        <li class="full-height">
            <quick-search class="full-height block"></quick-search>
        </li>
    </ul>
</div>
