<div class="navbar-toolbar">
    <ul class="nav navbar-nav">
        <li uib-dropdown>
            <a href="#" uib-dropdown-toggle>
                <div class="icon-container">
                    <i class="fonticon fonticon2-project"></i><b class="caret"></b>
                </div>
                <span>{{::$root.config.labels['App_Toolbar_Project']}}</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <button type="button"
                            class="btn btn-link"
                            ng-click="$ctrl.openProject($event)"
                            title="{{::$root.config.labels['App_Toolbar_Open_Project']}}">
                        {{::$root.config.labels['App_Toolbar_Open_Project']}}
                    </button>
                </li>
                <li>
                    <button type="button"
                            class="btn btn-link"
                            title="{{::$root.config.labels['App_Toolbar_Close_Project']}}"
                            ng-disabled="!$ctrl.isArtifactSelected"
                            ng-click="$ctrl.closeProject($event)">
                        {{::$root.config.labels['App_Toolbar_Close_Project']}}
                    </button>
                </li>
                <li>
                    <button type="button"
                            class="btn btn-link"
                            ng-disabled="!$ctrl.isProjectOpened"
                            title="{{::$root.config.labels['App_Toolbar_Close_All_Projects']}}"
                            ng-click="$ctrl.closeAllProjects($event)">
                        {{::$root.config.labels['App_Toolbar_Close_All_Projects']}}
                    </button>
                </li>
            </ul>
        </li>
        <li class="separator"></li>
        <li>
            <button type="button"
                    class="btn btn-link"
                    title="{{::$root.config.labels['App_Toolbar_New']}}"
                    ng-click="$ctrl.createNewArtifact($event)"
                    ng-disabled="!$ctrl.canCreateNew">
                <i class="fonticon fonticon2-new"></i>
                <span class="icon-label">{{::$root.config.labels['App_Toolbar_New']}}</span>
            </button>
        </li>
        <li>
            <button type="button"
                    class="btn btn-link"
                    ng-click="$ctrl.publishAll($event)"
                    title="{{::$root.config.labels['App_Toolbar_Publish_All']}}">
                <i class="fonticon fonticon2-publish-line"></i>
                <span class="icon-label">{{::$root.config.labels['App_Toolbar_Publish_All']}}</span>
            </button>
        </li>
        <li>
            <button type="button"
                    class="btn btn-link"
                    title="{{::$root.config.labels['App_Toolbar_Discard_All']}}"
                    ng-click="$ctrl.discardAll($event)">
                <i class="fonticon fonticon2-discard-line"></i>
                <span class="icon-label">{{::$root.config.labels['App_Toolbar_Discard_All']}}</span>
            </button>
        </li>
        <li>
            <button type="button"
                    class="btn btn-link"
                    title="{{::$root.config.labels['App_Toolbar_Refresh_All']}}"
                    ng-click="$ctrl.refreshAll($event)">
                <i class="fonticon fonticon2-refresh-line"></i>
                <span class="icon-label">{{::$root.config.labels['App_Toolbar_Refresh_All']}}</span>
            </button>
        </li>
        <li uib-dropdown>
            <a href="#" ng-class="{disabled: !$ctrl.canGenerateTestCases}" uib-dropdown-toggle>
                <div class="icon-container">
                    <i class="fonticon2-generate navbar-generate-icon"></i><b class="caret"></b>
                </div>
                <span>{{::$root.config.labels['App_Toolbar_Generate']}}</span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.generateTestCases($event)">{{::$root.config.labels['App_Toolbar_Generate_Test_Cases']}}</a>
                </li>
            </ul>
        </li>
        <li class="separator"></li>
        <li>
            <bp-goto></bp-goto>
        </li>
    </ul>
    <ul class="nav navbar-nav nav-right full-height">
        <li class="full-height">
            <quick-search class="full-height block"></quick-search>
        </li>
    </ul>
</div>
