<div class="navbar-toolbar">
    <ul class="nav navbar-nav">
        <li uib-dropdown>
            <a href="#" uib-dropdown-toggle>
                <div class="icon-container">
                    <i class="fonticon fonticon2-project"></i><b class="caret"></b>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Project"]}}</span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.openProject($event)">{{::$root.config.labels["App_Toolbar_Open_Project"]}}</a>
                </li>
                <!-- The following second level menu has been temporarily disabled -->
                <!-- <li class="dropdown-submenu">
                     <a href="#" ng-click="$ctrl.showSubLevel($event)">{{::$root.config.labels["App_Toolbar_Open_Recent_Projects"]}}</a>
                     <ul class="dropdown-menu">
                         <li><a href="#" ng-click="$ctrl.execute($event)">Recent project #1</a></li>
                         <li><a href="#" ng-click="$ctrl.execute($event)">Recent project #2</a></li>
                         <li><a href="#" ng-click="$ctrl.execute($event)">Recent project #3</a></li>
                     </ul>
                 </li> -->
                <li><a href="#" ng-class="{disabled: !$ctrl.isArtifactSelected}" ng-click="$ctrl.closeProject($event)">{{::$root.config.labels["App_Toolbar_Close_Project"]}}</a>
                </li>
                <li><a href="#" ng-class="{disabled: !$ctrl.isProjectOpened}" ng-click="$ctrl.closeAllProjects($event)">{{::$root.config.labels["App_Toolbar_Close_All_Projects"]}}</a>
                </li>
            </ul>
        </li>
        <li class="separator"></li>
        <li>
            <a href="#" ng-class="{disabled: !$ctrl.canCreateNew}" ng-click="$ctrl.createNewArtifact($event)">
                <div class="icon-container">
                    <i class="fonticon fonticon2-new"></i>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_New"]}}</span>
            </a>
        </li>
        <li>
            <a href="#" ng-click="$ctrl.publishAll($event)">
                <div class="icon-container">
                    <i class="fonticon fonticon2-publish-line"></i>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Publish_All"]}}</span>
            </a>
        </li>
        <li>
            <a href="#" ng-click="$ctrl.discardAll($event)">
                <div class="icon-container">
                    <i class="fonticon fonticon2-discard-line"></i>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Discard_All"]}}</span>
            </a>
        </li>
        <li>
            <a href="#" ng-click="$ctrl.refreshAll($event)">
                <div class="icon-container">
                    <i class="fonticon fonticon2-refresh-line"></i>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Refresh_All"]}}</span>
            </a>
        </li>
        <li uib-dropdown>
            <a href="#" ng-class="{disabled: !$ctrl.canGenerateTestCases}"  uib-dropdown-toggle>
                <div class="icon-container">
                    <i class="fonticon2-generate"></i><b class="caret"></b>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Generate"]}}</span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.generateTestCases($event)">{{::$root.config.labels["App_Toolbar_Generate_Test_Cases"]}}</a>
                </li>
            </ul>
        </li>
        <li class="separator"></li>
        <li>
            <bp-goto></bp-goto>
        </li>
    </ul>
    <ul class="nav navbar-nav nav-right full-height">
        <li class="full-height">
            <quick-search class="full-height block"></quick-search>
        </li>
        

    </ul>
</div>
