<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".sql" #>

-- -----------------------------------------------------------------------------------------------
-- Migration 9.0.0.0
-- -----------------------------------------------------------------------------------------------
IF NOT ([FileStore].[IsSchemaVersionLessOrEqual](N'9.0.0') <> 0)
	set noexec on
Print 'Migrating 9.0.0.0 ...'
-- -----------------------------------------------------------------------------------------------

<#= System.IO.File.ReadAllText ( this.Host.ResolvePath ( @"DeleteBlueprint_FileStorage_Maintenance.sql" ) ) #>

<#= System.IO.File.ReadAllText ( this.Host.ResolvePath ( @"..\..\Jobs\Blueprint_FileStorage_FS_Maintenance.sql" ) ) #>

-- -----------------------------------------------------------------------------------------------
-- Always add your code just above this comment block
-- -----------------------------------------------------------------------------------------------
IF ([FileStore].[IsSchemaVersionLessOrEqual](N'9.0.0') <> 0)
	EXEC [FileStore].[SetSchemaVersion] @value = N'9.0.0';
GO
set noexec off
-- -----------------------------------------------------------------------------------------------
