<div class="utility-panel-artifact-item">

    <div class="details">
        <div class="status" ng-click="$ctrl.expand()" ng-class="{'expanded': $ctrl.expanded}"
             bp-tooltip="{{$ctrl.expanded ? 'Collapse' : 'Expand'}}">
            <span></span>
            <i class="icon fonticon-circle-up"></i>
        </div>
        <div class="trace-icon" data-ng-class="{'false': 'trace-icon-regular', 'true' : 'trace-icon-suspect'}[$ctrl.artifact.suspect]">
            <i data-ng-class="{'0': 'fonticon-relationship-right', '1' : 'fonticon-relationship-left', '2' : 'fonticon-relationship-bi'}[$ctrl.artifact.traceDirection]"></i>

        </div>
        <div class="inner-details">
            <a ng-click="$ctrl.navigateToArtifact($ctrl.artifact)">
                <item-type-icon data-predefined-type="{{$ctrl.artifact.primitiveItemTypePredefined}}"></item-type-icon> {{$ctrl.artifact.itemTypePrefix}}{{$ctrl.artifact.artifactId}} - {{$ctrl.artifact.artifactName}}
            </a>
            <div><item-type-icon data-predefined-type="{{$ctrl.artifact.primitiveItemTypePredefined}}"></item-type-icon>{{$ctrl.artifact.projectName}} </div>
            <div ng-if="$ctrl.expanded" ng-class="{'desc-visible': $ctrl.expanded, 'desc-hidden': !$ctrl.expanded}">
                <div>
                    <ul class="wrappable-breadcrumbs" >
                        <li ng-repeat="o in $ctrl.relationshipExtendedInfo.pathToProject">
                            <a ng-click="$ctrl.navigateToArtifact(o.itemId)">{{o.itemName}}</a>
                        </li>
                    </ul>
                </div>
                <div>
                    {{$ctrl.limitChars($ctrl.relationshipExtendedInfo.description)}}
                </div>
            </div>
        </div>
    </div>

    <div class="icons">
        <div>
            <i class="fonticon-exchange"></i>
            <i class="fonticon-flag-1"></i>
            <i class="fonticon-delete-filled"></i>
        </div>
    </div>
</div>