<div
    ng-class='$ctrl.relationship.hasAccess ? "utility-panel-artifact-item" : "utility-panel-artifact-item unauthorized-details"'>
    <div class="details" ng-show="!$ctrl.relationship.hasAccess">
        <div class="unauthorize-icon fonticon2-unauthorize"></div>
        <div class="inner-details">
            <div>
                <div>
                    <h6 bp-tooltip="{{$ctrl.relationship.itemTypePrefix}}{{$ctrl.relationship.itemId}} - {{::$ctrl.localization.get('App_UP_Relationships_Unauthorized')}}"
                        bp-tooltip-truncated="true">
                        <span class="no-access">
                            <i class="icon-textual"></i> {{$ctrl.relationship.itemTypePrefix}}{{$ctrl.relationship.itemId}} -
                                {{::$ctrl.localization.get('App_UP_Relationships_Unauthorized')}}
                        </span>
                    </h6>
                </div>

            </div>
        </div>
    </div>
    <div class="details" ng-show="$ctrl.relationship.hasAccess" ng-class="{selected : $ctrl.relationship.isSelected}"
         ng-click="$ctrl.select()">
        <div class="trace-icon"
             data-ng-class="{'false': 'trace-icon-regular', 'true' : 'trace-icon-suspect'}[$ctrl.relationship.suspect]">
            <i data-ng-class="{'0': 'fonticon2-relationship-right', '1' : 'fonticon2-relationship-left', '2' : 'fonticon2-relationship-bi'}[$ctrl.relationship.traceDirection]"></i>

        </div>
        <div class="inner-details">
            <div>
                <div>
                    <a class="artifact-name" ui-sref="main.item({id: $ctrl.relationship.itemId})" ui-sref-opts="{inherit: false}"
                       bp-tooltip="{{$ctrl.relationship.itemTypePrefix}}{{$ctrl.relationship.itemId}} - {{$ctrl.relationship.itemName ? $ctrl.relationship.itemName : $ctrl.relationship.itemLabel }}"
                       bp-tooltip-truncated="true">{{$ctrl.relationship.itemTypePrefix}}{{$ctrl.relationship.itemId}} - {{$ctrl.relationship.itemName ? $ctrl.relationship.itemName : $ctrl.relationship.itemLabel}}</a>
                    <div class="status" ng-click="$ctrl.expand($event)" ng-class="{'expanded': $ctrl.expanded}"
                         bp-tooltip="{{$ctrl.expanded ? $ctrl.localization.get('App_UP_Relationships_Collapse') : $ctrl.localization.get('App_UP_Relationships_Expand')}}">
                        <span></span>
                        <i class="icon fonticon-circle-up relationship-panel__circle-icon"></i>
                    </div>
                </div>

                <div ng-hide="$ctrl.relationship.itemId==$ctrl.relationship.artifactId"><span
                    class="bolded-text">Main artifact: </span>{{::$ctrl.relationship.artifactTypePrefix}}{{::$ctrl.relationship.artifactId}}
                    - {{::$ctrl.relationship.artifactName}}
                </div>
                <div class="project-name"
                     bp-tooltip="{{$ctrl.relationship.projectName}}" bp-tooltip-truncated="true"><i class="icon-project"></i> {{$ctrl.relationship.projectName}}</div>
                <div ng-if="$ctrl.expanded" ng-class="{'desc-visible': $ctrl.expanded, 'desc-hidden': !$ctrl.expanded}">
                    <div ng-if="!$ctrl.fromOtherProject" class="left-arrow"></div>
                    <ul class="wrappable-breadcrumbs">
                        <li ng-repeat="pathLink in $ctrl.relationshipExtendedInfo.pathToProject track by pathLink.itemId">
                            <a ui-sref="main.item({id: pathLink.itemId})" ui-sref-opts="{inherit: false}">{{::pathLink.name}}</a>
                        </li>
                    </ul>

                    <div class="desc" ng-if="$ctrl.traceDescription">
                        <span class="bolded-text ">{{::$ctrl.localization.get('Label_Description')}}: &nbsp;</span>{{::$ctrl.traceDescription}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="icons" ng-if="$ctrl.showActionsPanel">
        <div>
            <input type="checkbox" ng-checked="$ctrl.relationship.isSelected"
                   ng-click="$ctrl.selectTrace()"
                   ng-if="$ctrl.canModifyItem()"/>
        </div>
        <div>
            <div uib-dropdown>
                <span uib-dropdown-toggle>
                    <button type="button" class="btn-icon fonticon-exchange"
                       ng-disabled="!$ctrl.canModifyItem()"
                       ng-class="{'btn-icon--disabled': !$ctrl.canModifyItem()}"
                       bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Change_Trace')}}"></button>
                </span>
                <ul class="dropdown-menu"
                    ng-hide="!$ctrl.canModifyItem()">
                    <li ng-class="{disabled: $ctrl.relationship.traceDirection == 0}">
                        <a ng-click="$ctrl.setDirection(0)"><i class="fonticon2-relationship-right"></i>
                            {{::$ctrl.localization.get('App_UP_Relationships_To')}}</a></li>
                    <li ng-class="{disabled: $ctrl.relationship.traceDirection == 1}">
                        <a ng-click="$ctrl.setDirection(1)"><i class="fonticon2-relationship-left"></i>
                            {{::$ctrl.localization.get('App_UP_Relationships_From')}}</a></li>
                    <li ng-class="{disabled: $ctrl.relationship.traceDirection == 2}">
                        <a ng-click="$ctrl.setDirection(2)"><i class="fonticon2-relationship-bi"></i>
                            {{::$ctrl.localization.get('App_UP_Relationships_Bidirectional')}}</a></li>
                </ul>
            </div>
            <button type="button" class="btn-icon fonticon-flag-1" ng-click="$ctrl.toggleItemFlag()"
                    ng-disabled="!$ctrl.canModifyItem()"
                    ng-class="{'fonticon-flag-empty': $ctrl.relationship.suspect == true,
                    'btn-icon--disabled': !$ctrl.canModifyItem()}"
                    bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Flag_Trace')}}">
            </button>

            <button type="button" class="btn-icon fonticon-delete-filled"
               ng-disabled="!$ctrl.canModifyItem()"
               ng-class="{'btn-icon--disabled': !$ctrl.canModifyItem()}"
               ng-click="$ctrl.deleteItem()"
               bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Delete')}}"></button>
        </div>

    </div>
</div>
