<div ng-class='$ctrl.artifact.hasAccess ? "utility-panel-artifact-item" : "utility-panel-artifact-item unauthorized-details"'>
    <div class="details" ng-show="!$ctrl.artifact.hasAccess">
        <div class="unauthorize-icon fonticon2-unauthorize"></div>
        <div class="inner-details">
            <div>
                <div>
                    <h6 bp-tooltip="{{$ctrl.artifact.itemTypePrefix}}{{$ctrl.artifact.itemId}} - {{::$ctrl.localization.get('App_UP_Relationships_Unauthorized')}}"
                        bp-tooltip-truncated="true">
                        <span class="no-access">
                            <i class="icon-textual"></i> {{$ctrl.artifact.itemTypePrefix}}{{$ctrl.artifact.itemId}} -
                                {{::$ctrl.localization.get('App_UP_Relationships_Unauthorized')}}
                        </span>
                    </h6>
                </div>

            </div>
        </div>
    </div>
    <div class="details" ng-show="$ctrl.artifact.hasAccess" ng-class="{'selected' : $ctrl.isSelected}" ng-click="$ctrl.select()">
        <div class="trace-icon" data-ng-class="{'false': 'trace-icon-regular', 'true' : 'trace-icon-suspect'}[$ctrl.artifact.suspect]">
            <i data-ng-class="{'0': 'fonticon2-relationship-right', '1' : 'fonticon2-relationship-left', '2' : 'fonticon2-relationship-bi'}[$ctrl.artifact.traceDirection]"></i>

        </div>
        <div class="inner-details">
            <div>
                <div>
                    <h6 bp-tooltip="{{$ctrl.artifact.itemTypePrefix}}{{$ctrl.artifact.itemId}} - {{$ctrl.artifact.itemName ? $ctrl.artifact.itemName : $ctrl.artifact.itemLabel }}"
                        bp-tooltip-truncated="true">
                        <a ng-click="$ctrl.navigateToArtifact($ctrl.artifact)">
                            <i class="icon-textual"></i> {{$ctrl.artifact.itemTypePrefix}}{{$ctrl.artifact.itemId}} -
                                {{$ctrl.artifact.itemName ? $ctrl.artifact.itemName : $ctrl.artifact.itemLabel}}
                        </a>
                    </h6>
                    <div class="status" ng-click="$ctrl.expand($event)" ng-class="{'expanded': $ctrl.expanded}"
                         bp-tooltip="{{$ctrl.expanded ? $ctrl.localization.get('App_UP_Relationships_Collapse') : $ctrl.localization.get('App_UP_Relationships_Expand')}}">
                        <span></span>
                        <i class="icon fonticon-circle-up"></i>
                    </div>
                </div>

                <div ng-hide="$ctrl.artifact.itemId==$ctrl.artifact.artifactId"><span class="bolded-text">Main artifact: </span>{{$ctrl.artifact.artifactTypePrefix}}{{$ctrl.artifact.artifactId}} - {{$ctrl.artifact.artifactName}}</div>
                <div class="bolded-text"><i class="icon-project"></i>{{$ctrl.artifact.projectName}} </div>
                <div ng-if="$ctrl.expanded" ng-class="{'desc-visible': $ctrl.expanded, 'desc-hidden': !$ctrl.expanded}">
                    <div ng-if="!$ctrl.fromOtherProject" class="left-arrow"></div>
                    <ul class="wrappable-breadcrumbs">
                        <li ng-repeat="o in $ctrl.relationshipExtendedInfo.pathToProject">
                            <a ng-click="$ctrl.navigateToArtifact(o.itemId)">{{o.itemName}}</a>
                        </li>
                    </ul>

                    <div class="desc">
                        <span class="bolded-text ">Description:&nbsp;</span>{{$ctrl.limitChars($ctrl.relationshipExtendedInfo.description)}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="icons" ng-show="$ctrl.artifact.hasAccess && $ctrl.selectable">
        <div>
            <input type="checkbox" ng-checked="$ctrl.isSelected" bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Select')}}" ng-click="$ctrl.selectTrace()"
                   ng-disabled="!$ctrl.artifact.hasAccess || $ctrl.isItemReadOnly"/>
        </div>
        <div>
            <div uib-dropdown>
                <span uib-dropdown-toggle >
                    <i class="icon fonticon-exchange" ng-class="{disabled: !$ctrl.artifact.hasAccess || $ctrl.isItemReadOnly}"
                       bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Change_Trace')}}"></i>
                </span>
                <ul class="dropdown-menu" ng-hide="!$ctrl.artifact.hasAccess || $ctrl.isItemReadOnly">
                    <li ng-class="{disabled: $ctrl.artifact.traceDirection == 0}">
                        <a ng-click="$ctrl.setDirection(0)"><i class="fonticon2-relationship-right"></i> {{::$ctrl.localization.get('App_UP_Relationships_To')}}</a></li>
                    <li ng-class="{disabled: $ctrl.artifact.traceDirection == 1}">
                        <a ng-click="$ctrl.setDirection(1)"><i class="fonticon2-relationship-left"></i> {{::$ctrl.localization.get('App_UP_Relationships_From')}}</a></li>
                    <li ng-class="{disabled: $ctrl.artifact.traceDirection == 2}">
                        <a ng-click="$ctrl.setDirection(2)"><i class="fonticon2-relationship-bi"></i> {{::$ctrl.localization.get('App_UP_Relationships_Bidirectional')}}</a></li>
                </ul>
            </div>
            <i class="icon fonticon-flag-1" ng-click="$ctrl.toggleFlag()"
                ng-class="{'fonticon-flag-empty': $ctrl.artifact.suspect == true, disabled: !$ctrl.artifact.hasAccess || $ctrl.isItemReadOnly || $ctrl.artifact.readOnly}"
                bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Flag_Trace')}}"></i>

            <i class="icon fonticon-delete-filled"  ng-class="{disabled: !$ctrl.artifact.hasAccess || $ctrl.isItemReadOnly || $ctrl.artifact.readOnly}"
                ng-click="$ctrl.deleteItem()" bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Delete')}}"></i>
        </div>

    </div>
</div>