<div class="utility-panel-title">
    <span bp-tooltip="{{ $ctrl.itemDisplayName }}" bp-tooltip-truncated="true">
        <bp-item-type-icon ng-if="$ctrl.hasCustomIcon"
                           item-type-id="$ctrl.itemTypeId"
                           item-type-version-id="$ctrl.itemTypeVersionId"></bp-item-type-icon>
        <i class="icon" ng-if="!$ctrl.hasCustomIcon"
           ng-class="$ctrl.itemClass"></i>{{ $ctrl.itemDisplayName }}
    </span>
</div>
<div class="utility-panel-content" ng-class="{ 'empty-panel' : !$ctrl.isAnyPanelVisible}">
    <p ng-if="!$ctrl.isAnyPanelVisible" class="empty-state">{{::$root.config.labels['App_UtilityPanel_NoPanel']}}</p>
    <bp-accordion accordion-heading-height="31">
        <bp-accordion-panel accordion-panel-heading="{{::$root.config.labels['App_UtilityPanel_Properties']}}"
                            accordion-panel-class="utility-panel-properties">

            <bp-properties-panel></bp-properties-panel>
        </bp-accordion-panel>
        <bp-accordion-panel accordion-panel-heading="{{::$root.config.labels['App_UtilityPanel_Relationships']}}"
                            accordion-panel-class="utility-panel-relationships">

            <bp-relationships-panel></bp-relationships-panel>
        </bp-accordion-panel>
        <bp-accordion-panel accordion-panel-heading="{{::$root.config.labels['App_UtilityPanel_Discussions']}}"
                            accordion-panel-class="utility-panel-discussions">

            <bp-discussion-panel></bp-discussion-panel>
        </bp-accordion-panel>
        <bp-accordion-panel accordion-panel-heading="{{::$root.config.labels['App_UtilityPanel_Attachments']}}"
                            accordion-panel-class="utility-panel-attachments">

            <bp-attachments-panel></bp-attachments-panel>
        </bp-accordion-panel>
        <bp-accordion-panel
            accordion-panel-heading="{{::$root.config.labels['App_UtilityPanel_History']}}"
            accordion-panel-class="utility-panel-history">

            <bp-history-panel></bp-history-panel>
        </bp-accordion-panel>
    </bp-accordion>
</div>
