@import "./../../../../styles/modules/variables";

$quick-search__results--input-panel-color: #EAEFF4;
$quick-search__item--focus-color: #E8F6FB;

.quick-serach__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;
}

.modal {
    .modal-dialog {
        &.modal-full-screen {
            height: 100%;
            max-height: 100%;
            width: 100%;
            max-width: 100%;
            padding: 0;
            .modal-content {
                background: $white;
                height: 100%;
                width: 100%;
                border-radius: 0;
            }
        }
    }
}

.navbar .navbar-light {
    background: $white;
    border-bottom: 1px solid $gray;

    .navbar-header {
        background-color: transparent;
    }
}

.quick-serach__input--full-width {
    width: 100%;
}

.quick-serach__input {
    border: none;
    border-bottom: solid 1px $gray;
    background: transparent;
    padding: .2em .2em .2em 1.5em;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $gray-dark !important;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: $gray-dark !important;
    }

    &:-ms-input-placeholder {
        color: $gray-dark !important;
    }

    &:focus {
        & + i {
            color: $brand-secondary;
        }
        outline: none;
        border-color: $brand-secondary;
    }

}

.quick-serach__form-control {
    resize: vertical;
    position: relative;
    display: block;
}

.quick-serach__icon--fixed {
    color: $gray-dark;
    position: absolute;
    left: 0;
    top: 6px
}

.block {
    display: block;
}

.quick-search__results--content {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 40px;
    height: 100%;

    overflow: hidden;
}

.quick-search__results--content--center {
    border: none;
    border-right: 1px solid $gray;
    border-left: 1px solid $gray;
    width: 60%;
    height: 100%;

}

.quick-search__results--input-panel {
    position: relative;
    background: $quick-search__results--input-panel-color;
    padding: 1em 2em;
    font-size:16px;
    border-bottom: 1px solid $gray;

    .close {
        position: absolute;
        top: 0;
        right: .2em;
    }
}

.quick-search__results {
}
