<nav class="navbar navbar-light navbar-fixed-top">
    <div class="navbar-header">
        <img class="logo" src="/novaweb/668f48fbcbda805a8a10b21184c7e996.svg"/>
        <div class="navbar-brand">Blueprint</div>
    </div>
</nav>
<div class="quick-search__results--content">
    <div class="quick-search__results--content--center">
        <div class="quick-search__results--side-border" ng-class="{'quick-search__results':$ctrl.results.length===0}">
            <div class="quick-search__results--input-panel">
                <form name="$ctrl.form"
                      ng-submit="$ctrl.search($ctrl.searchTerm)"
                      novalidate>
                    <div class="quick-serach__form-control" ng-class="{'has-error':$ctrl.hasError()}">
                         <div class="input-group">
                            <span class="input-group-btn input-group-btn-icon">
                                <button class="btn btn-default btn-icon"
                                        type="submit"               
                                        ng-disabled="quickSearch.quickSearchService.canSearch()">
                                    <i class="glyphicon glyphicon-search quick-search__icon--fixed"></i>
                                </button>
                            </span>
                            <input type="text"
                                required
                                autocomplete="off"
                                ng-minlength="3"
                                placeholder="Search open project"
                                class="quick-serach__input quick-serach__input--full-width"
                                name="searchTerm"
                                ng-model="$ctrl.searchTerm">
                            <span class="input-group-btn input-group-btn-icon input-group-btn-float-right">
                                <button type="button" 
                                        class="btn btn-default btn-icon" 
                                        ng-show="$ctrl.showHide" 
                                        ng-click="$ctrl.clearSearch()">
                                    <i class="fonticon-error fonticon-gray"></i>
                                </button>
                            </span>
                        </div>
                        <div class="error-messages"
                             ng-messages="$ctrl.form.$error"
                             role="alert"
                             ng-if="$ctrl.form.$submitted">
                            <span ng-message="required">{{$ctrl.localization.get('Search_Validation_Required')}}</span>
                            <span ng-message="minlength">{{::$root.config.labels["Search_Validation_MinThreeChars"]}}</span>
                        </div>
                    </div>
                </form>
                <button type="button"
                        class="close"
                        ng-click="$ctrl.closeModal()">&times;</button>
            </div>
            <div class="quick-search__results">
                <ul class="list-unstyled quick-search__results--list" ng-if="$ctrl.results.length>0">
                    <li class="quick-search__results--item"
                        ng-repeat="item in $ctrl.results track by $index">
                        <div class="row small-gutter">
                            <div class="col-md-1 text-center">
                                <div class="icon quick-search__results--large-font font-blue" ng-class="!item.artifactTypeIcon ? item.artifactClass : ''"
                                    bp-tooltip="{{ item.typeName }}">
                                    <bp-item-type-icon
                                        ng-if="!!item.artifactTypeIcon"
                                        item-type-id="item.itemTypeId"
                                        item-type-icon="item.artifactTypeIcon"></bp-item-type-icon>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="font-blue margin-bottom--none quick-search__text--no-wrap">
                                            <a class="quick-search__results--link" ui-sref="main.item({id: item.artifactId})">
                                                {{item.typePrefix}}{{item.itemId}} - {{item.name}}
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="row" ng-if="!item.isSubartifact">
                                    <div class="col-md-4">
                                        <strong>{{::$root.config.labels["Search_Results_Author"]}} </strong>
                                        <span>{{item.createdBy}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>{{::$root.config.labels["Search_Results_CreatedOn"]}} </strong>
                                        <span>{{item.createdDateTime|momentDate:'MMMM DD, YYYY'}}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>{{::$root.config.labels["Search_Results_LastEdited"]}} </strong>
                                        <span> {{item.lastModifiedDateTime|momentDate:'MMMM DD, YYYY'}}</span>
                                    </div>
                                </div>
                                <div class="row" ng-if="!!item.isSubartifact">
                                    <div class="col-md-12" >
                                        <span><i>{{::$root.config.labels["Search_Results_SubartifactMessage"]}}</i></span>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <span class="quick-search__results--truncate">
                                        <strong>{{item.propertyName}}: </strong>
                                        <span ng-if="item.searchableValue">
                                            {{item.searchableValue}}
                                        </span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="quick-search__response" ng-if="$ctrl.isLoading">
                    <div class="quick-serach__loading">
                        <div class="quick-serach__loading-overlay"></div>
                        <span class="glyphicon glyphicon-refresh spin quick-serach__loading-icon"></span>
                    </div>
                </div>

                <div class="quick-search__response" ng-if="$ctrl.results.length===0">
                    <div class="center-item font-larger">
                        <span>{{::$root.config.labels["Search_Results_NoResults"]}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
