<form name="quickSearch.form"
      class="full-height quick-serach__form"
      ng-submit="quickSearch.openModal()"
      novalidate>
    <div class="quick-serach__form-control" ng-class="{'has-error':quickSearch.hasError()}">
        <input type="text"
               ng-blur="quickSearch.onBlur()"               
               required
               ng-minlength="3"
               ng-disabled="quickSearch.quickSearchService.canSearch()"
               autocomplete="off"
               placeholder="Search open project"
               class="quick-serach__input"
               name="searchTerm"
               ng-model="quickSearch.quickSearchService.searchTerm">
        <i class="glyphicon glyphicon-search quick-serach__icon--fixed"></i>
        <div class="error-messages"
             ng-messages="quickSearch.form.$error"
             role="alert"
             ng-if="quickSearch.form.$submitted">
            <span ng-message="minlength">{{quickSearch.localization.get('Search_Validation_MinimumLength')}}</span>
            <span ng-message="required">{{quickSearch.localization.get('Search_Validation_Required')}}</span>
        </div>
    </div>


</form>
