@import "../../../../styles/settings/variables";
@import "../../../../styles/settings/colors";
@import "../../../../styles/settings/typography";

.quick-serach__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.modal-open .modal.quick-search__modal {
    background-color: rgba(255, 255, 255, 0.5);
}
.modal {
    .modal-dialog {
        &.modal-full-screen {
            height: 100%;
            max-height: 100%;
            width: 100%;
            max-width: 100%;
            padding: 0;
            overflow: hidden;

            .modal-content {
                background: transparent;
                height: 100%;
                width: 100%;
                border-radius: 0;
            }
        }
    }
}

.navbar.navbar-light {
    background: $white;
    border-bottom: 1px solid $gray-lightest;
    position: fixed;

    .navbar-header {
        padding-left: 1.65em;
        padding-top: 1em;
        padding-bottom: 1em;
        background: white;
    }

    .logo {
        fill: $gray-dark;
        stroke: $gray-dark;
        height: 100%;
    }
}

.quick-serach__input--full-width {
    width: 100%;
}

.input-group--short-width {
    max-width: 200px;
}

.quick-serach__input {
    border: none;
    background: transparent;

    border-bottom: solid 1px $gray;
    padding: .2em 1.5em .2em .2em;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $gray-light !important;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: $gray-light !important;
    }

    &:-ms-input-placeholder {
        color: $gray-light !important;
    }

    &:focus {
        & + i {
            color: $brand-secondary;
        }
        outline: none;
        border-color: $brand-secondary;
    }
}

.quick-serach__form-control {
    position: relative;
    display: block;

    .error-messages {
        position: absolute;
        right: 0;
        color: $brand-error;
        font-size: 1rem;
        margin-top: -2px;
    }
    &.has-error {
        color: $brand-error;

        .quick-serach__input {
            border-bottom-color: $brand-error;
        }

        .glyphicon {
            color: $brand-error;
        }
    }
    .fonticon-gray {
        color: $gray;
    }
}

.quick-search__icon--fixed {
    color: $gray-dark;
}

.block {
    display: block;
}

.quick-search__results--content {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: calc(100% - 40px);
    overflow: auto;
}

.quick-search__results--content--center {
    border: none;
    width: 60%;
    margin: auto;
    background-color: $white;
}

.quick-search__results--side-border {
    border-right: 1px solid $gray-lightest;
    border-left: 1px solid $gray-lightest;
    min-height: 100%;
}

.quick-search__results--input-panel {
    position: relative;
    background: $blue-lightest;
    padding: 1em 2.5em;
    font-size: $font-size-bigger;
    border-bottom: 1px solid $gray-lightest;

    .close {
        position: absolute;
        top: 0;
        right: .2em;
        font-size: 30px;
        font-weight: 800;
        color: #333;
    }
}

.quick-search__results {
    height: 100%;
    .quick-search__results {
        height: calc(100% - 132px);
    }
}

.quick-search__results--padding {
    padding: 1em;
}

.quick-search__results--item {
    padding: 0 15px 10px;
    margin: 1px auto 0;
    background: lighten($gray-lightest, 7%);
    border-bottom: 1px solid $gray-lightest;
    font-size: $font-size-normal;
    &:focus, &:hover {
        background: $tree-hover-background;
    }
}

.quick-search__results--link,
.quick-search__results--link:visited {
    color: inherit;
    font-weight: inherit;
}

.quick-search__response {
    height: calc(100% - 62px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $gray-dark;
    overflow: auto;
}

.center-item {
    align-self: center;
    margin: auto;
}

.font-larger {
    font-size: $font-size-h3;
}

.font-blue {
    color: $blue-light;
}

.quick-serach__loading {
    height: 100%;
}

.quick-serach__loading-overlay {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .25);
}

.quick-serach__loading-icon {
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 24px;
    margin-left: -24px;
}
.quick-search__results--large-font,
.quick-search__results--large-font::before {
    font-size: $font-size-large;
}
.quick-search__results--large-font.icon {
    margin-top: 10px;
}
.small-gutter > [class*='col-'] {
    padding-right: 7px;
    padding-left: 7px;
}

.quick-search__results--truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3em;
}

.margin-bottom--none {
    margin-bottom: 0;
}

.quick-search__text--no-wrap {
    margin-bottom: 0;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-big;
}

.quick-search__total-results {
    text-align: right;
    font-size: $font-size-big;
    padding-top: 0.5em;
    padding-bottom: 1em;
}


.quick-search__pagination {
    font-size: $font-size-bigger;
}
