<nav class="navbar navbar-light navbar-fixed-top">
    <div class="navbar-header">
        <img class="logo" src="/novaweb/668f48fbcbda805a8a10b21184c7e996.svg"/>
        <div class="navbar-brand">Blueprint</div>
    </div>
</nav>
<div class="quick-search__results--content">
    <div class="quick-search__results--content--center">
        <div class="quick-search__results--input-panel">
            <form name="$ctrl.form"
                  ng-submit="$ctrl.search($ctrl.searchTerm)"
                  novalidate>
                <div class="quick-serach__form-control">
                    <input type="text"
                           required
                           ng-minlength="3"
                           placeholder="Search open project"
                           class="quick-serach__input quick-serach__input--full-width"
                           name="searchTerm"
                           ng-model="$ctrl.searchTerm">
                    <i class="glyphicon glyphicon-search quick-serach__icon--fixed"></i>
                </div>
            </form>
            <button type="button"
                    class="close"
                    ng-click="$ctrl.closeModal()">&times;</button>
        </div>
        <div class="quick-search__results">
            <ul class="quick-search__results--list" ng-if="$ctrl.results.FullTextSearchItems.length>0">
                <li class="quick-search__results--item"
                    ng-repeat="item in $ctrl.results.FullTextSearchItems track by $index">

                </li>
            </ul>

            <div class="quick-search__response">

                <div ng-if="$ctrl.isLoading" class="quick-serach__loading">
                    <div class="quick-serach__loading-overlay"></div>
                    <span class="glyphicon glyphicon-refresh spin quick-serach__loading-icon"></span>
                </div>
                <div class="center-item larger-font">
                    <span ng-if="$ctrl.results.FullTextSearchItems.length==0">No results Found</span>
                </div>
            </div>
        </div>
    </div>
</div>
