<form name="quickSearch.form"
      class="full-height quick-serach__form"
      ng-submit="quickSearch.openModal()"
novalidate>
    <div class="quick-serach__form-control">
        <input type="text"
               required
               ng-minlength="3"
               placeholder="Search open project"
               class="quick-serach__input"
               name="searchTerm"
               ng-model="quickSearch.quickSearchService.searchTerm">
        <i class="glyphicon glyphicon-search quick-serach__icon--fixed"></i>
    </div>

</form>
