<div class="edit-container">
    <textarea placeholder="{{$ctrl.commentPlaceHolderText}}" autofocus></textarea>
    <div class="comment-edit-button-bar">
        <div class="pull-left">
            <button class="btn btn-new-comment" type="button" ng-click="">{{$ctrl.addButtonText}}</button>
        </div>
        <div class="pull-right">
            <button class="btn btn-new-comment" type="button" ng-click="$ctrl.cancelComment()">{{$ctrl.cancelButtonText}}</button>
        </div>
    </div>
</div>
