<page-toolbar ng-if="$ctrl.currentUser"></page-toolbar>

<div ng-if="$ctrl.currentUser" class="bp-sidebar-wrapper"
     ng-class="{'left-panel-visible': $ctrl.isLeftToggled, 'right-panel-visible': $ctrl.isRightToggled}">

    <div class="sidebar left-panel" ng-class="{'left-panel-expanded': $ctrl.isLeftPanelExpanded}">
        <button class="sidebar-toggle hamburger hamburger--collapse" ng-class="{'is-active': $ctrl.isLeftToggled}"
                type="button" ng-click="$ctrl.toggleLeft()" bp-tooltip="{{::$ctrl.localization.get('App_Sidebar_Left')}}">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
        </button>
        <button class="btn btn-link btn-sidebar-expand" ng-click="$ctrl.toggleExpandLeft()">
            <span class="fonticon2-expand"></span>
        </button>
        <div class="sidebar-title">{{::$ctrl.localization.get('App_Sidebar_Left')}}</div>
        <div class="sidebar-content">
            <bp-project-explorer class="explorer"></bp-project-explorer>
        </div>
    </div>

    <div class="content-center">
        <pagecontent></pagecontent>
    </div>

    <div class="sidebar right-panel">
        <button class="sidebar-toggle hamburger hamburger--collapse" ng-class="{'is-active': $ctrl.isRightToggled}"
                type="button" ng-click="$ctrl.toggleRight()" bp-tooltip="{{::$ctrl.localization.get('App_Sidebar_Right')}}">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
        </button>
        <div class="sidebar-title">{{::$ctrl.localization.get('App_Sidebar_Right')}}</div>
        <div class="sidebar-content">
            <bp-utility-panel></bp-utility-panel>
        </div>
    </div>
</div>
