<div class="navbar-toolbar">
    <ul class="nav navbar-nav">
        <li uib-dropdown>
            <a href="#" uib-dropdown-toggle>
                <div class="icon-container">
                    <i class="fonticon fonticon2-project"></i><b class="caret"></b>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Project"]}}</span>
                </a>
            <ul class="dropdown-menu">
                <li><a href="#" id="openProject" ng-click="$ctrl.execute($event)">{{::$root.config.labels["App_Toolbar_Open_Project"]}}</a></li>
                <!-- The following second level menu has been temporarily disabled -->
                <!-- <li class="dropdown-submenu">
                     <a href="#" ng-click="$ctrl.showSubLevel($event)">{{::$root.config.labels["App_Toolbar_Open_Recent_Projects"]}}</a>
                     <ul class="dropdown-menu">
                         <li><a href="#" ng-click="$ctrl.execute($event)">Recent project #1</a></li>
                         <li><a href="#" ng-click="$ctrl.execute($event)">Recent project #2</a></li>
                         <li><a href="#" ng-click="$ctrl.execute($event)">Recent project #3</a></li>
                     </ul>
                 </li> -->
                <li><a href="#" id="ProjectClose" ng-click="$ctrl.execute($event)">{{::$root.config.labels["App_Toolbar_Close_Project"]}}</a></li>
                <li><a href="#" id="ProjectCloseAll" ng-click="$ctrl.execute($event)">{{::$root.config.labels["App_Toolbar_Close_All_Projects"]}}</a></li>
            </ul>
        </li>
         <li>
            <a href="#" id="refresh" ng-click="$ctrl.execute($event)">
                <div class="icon-container">
                    <i class="fonticon fonticon2-relationship-right"></i>
                </div>
                <span>Go to</span>
            </a>
        </li>
        <li uib-dropdown>
            <a href="#" uib-dropdown-toggle>
                <div class="icon-container">
                    <i class="fonticon fonticon2-new"></i><b class="caret"></b>
                </div>
                <span>New</span>
                </a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.execute($event)">Actor</a></li>
                <li><a href="#" ng-click="$ctrl.execute($event)">Textual</a></li>
                <li><a href="#" ng-click="$ctrl.execute($event)">Process</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="discardAll" ng-click="$ctrl.execute($event)">
                <div class="icon-container">
                    <i class="fonticon fonticon2-discard-line"></i>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Discard_All"]}}</span>
            </a>
        </li>
        <li>
            <a href="#" id="publishAll" ng-click="$ctrl.execute($event)">
                <div class="icon-container">
                    <i class="fonticon fonticon2-publish-line"></i>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Publish_All"]}}</span>
            </a>
        </li>
        <li>
            <a href="#" id="refreshAll" ng-click="$ctrl.execute($event)">
                <div class="icon-container">
                    <i class="fonticon fonticon2-refresh-line"></i>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Refresh_All"]}}</span>
            </a>
        </li>
        <li class="separator"></li>
        <li>
            <a href="#" id="deleteartifact" ng-click="$ctrl.execute($event)">
                <div class="icon-container">
                    <i class="fonticon fonticon2-delete"></i>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Delete"]}}</span>
            </a>
        </li>
       
    </ul>
    <ul class="nav navbar-nav nav-right">
        <li>
            <a href="#" id="tour" ng-click="$ctrl.execute($event)">
                <div class="icon-container">
                    <i class="fonticon fonticon2-tour-1"></i><span>
                </div>
                <span>{{::$root.config.labels["App_Toolbar_Tour"]}}</span></a>
        </li>
    </ul>
    <ul class="nav navbar-nav nav-right" ng-show="$ctrl.currentArtifact">
        <li><a href="#" ng-click="$ctrl.goToImpactAnalysis()"><i class="fonticon-bp-impact-analysis"></i></a></li>
    </ul>
</div>
