<div class="input-group has-messages">
	<ui-select class="has-scrollbar"
		multiple
		ng-model="model[options.key]"
		ng-disabled="{{to.disabled}}"
		remove-selected="false"
		on-remove="bpFieldUserPicker.onRemove($item, $select, fc, options)"
		on-select="bpFieldUserPicker.onSelect($item, $select)"
		close-on-select="false"
		uis-open-close="bpFieldUserPicker.onOpenClose(isOpen, $select)"
		ng-mouseover="bpFieldUserPicker.setUpDropdown($event, $select)"
		ng-keydown="bpFieldUserPicker.setUpDropdown($event, $select)">
		<ui-select-match placeholder="{{to.placeholder}}">
			<div class="ui-select-match-item-chosen" bp-tooltip="{{$item[to.labelProp]}}" bp-tooltip-truncated="true">{{$item[to.labelProp]}}</div>
		</ui-select-match>
		<ui-select-choices class="ps-child"
			on-highlight="bpFieldUserPicker.onHighlight(option, $select)"
			refresh="bpFieldUserPicker.refreshResults($select)"
			ui-disable-choice="option.selected == true"
			data-repeat="option[to.valueProp] as option in to.options | filter: {'name': $select.search} | limitTo: bpFieldUserPicker.maxItems">
			<div class="ui-select-choice-item" bp-tooltip="{{option[to.labelProp]}}" bp-tooltip-truncated="true" ng-bind-html="option[to.labelProp] | bpEscapeAndHighlight: $select.search"></div>
		</ui-select-choices>
		<ui-select-no-choice>
			<span ng-switch="bpFieldUserPicker.currentState">
				<span ng-switch-when="no-match">${localization.get("Property_No_Matching_Options")}</span>
				<span ng-switch-when="loading">Searching...</span>
				<span ng-switch-default>{{"Type {0} characters to start searching".replace("{0}", bpFieldUserPicker.minimumInputLength)}}</span>
			</span>
		</ui-select-no-choice>
	</ui-select>
	<div ng-messages="fc.$error" ng-if="showError" class="error-messages">
		<div id="{{::id}}-{{::name}}" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages" class="message">{{ message(fc.$viewValue)}}</div>
	</div>
</div>