<form class="search-form" ng-submit="$ctrl.search()">
    <div uib-dropdown>
        <button type="button" uib-dropdown-toggle class="btn btn-action btn-dropdown-toggle dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span class="caret btn-dropdown-toggle__caret"></span>
        </button>

        <div class="dropdown-menu dropdown-menu__filter">
            <div class="dropdown-menu__filter-tooltip">
                {{::$ctrl.localization.get('Label_Filter_By_Type')}}
            </div>
            <ul class="dropdown-menu__filter-type">
                <li class="dropdown-menu__filter-item" ng-if="type.id"
                    ng-repeat="type in $ctrl.itemTypes track by type.id">
                        <button  ng-click="$ctrl.searchByFilter(type);"
                                 class="dropdown-menu__filter-item-btn">{{::type.name}}</button>
                </li>
            </ul>
        </div>
    </div>

    <button type="submit" class="btn btn-action btn-small btn-search btn-promoted-action"
            ng-disabled="$ctrl.isSearching || !$ctrl.searchText || $ctrl.searchText.trim().length === 0">
        <i class="fonticon2-search"></i>
    </button>

    <div class="search-input">
        <input type="text" class="form-control" ng-if="!$ctrl.project"
               placeholder="{{::$root.config.labels['Label_Search_Projects']}}" ng-model="$ctrl.searchText"/>
        <input type="text" class="form-control" ng-if="$ctrl.project"
               placeholder="{{::$root.config.labels['Label_Search_Artifacts']}}" ng-model="$ctrl.searchText"/>
        <i class="fonticon-error" ng-show="$ctrl.searchText || $ctrl.searchResults" ng-click="$ctrl.clearSearch()"></i>
    </div>

    <div ng-show="$ctrl.filterItemType.name" class="filter">
        {{::$ctrl.localization.get('Label_Filter_By_Type')}}: <strong>{{::$ctrl.filterItemType.name}}</strong>
        <i class="fonticon-error filter__icon-clear-search" ng-click="$ctrl.clearFilter()"></i>
    </div>
</form>

<div class="project-wrapper">
    <div class="artifact-picker-container">
        <div class="search-wrapper" ng-show="$ctrl.isSearching || $ctrl.searchResults">
            <div class="search-message" ng-if="$ctrl.isSearching">
                {{::$root.config.labels['Label_Searching']}}
            </div>
            <div class="search-message" ng-if="!$ctrl.isSearching && $ctrl.searchResults.length === 0">
                {{::$root.config.labels['Label_No_Results_Found']}}
            </div>
            <div class="search-results" ng-if="!$ctrl.isSearching && $ctrl.searchResults.length !== 0">
                <div class="search-result"
                     ng-repeat="searchResult in $ctrl.searchResults"
                     ng-class="{selected: searchResult.selected(), selectable: searchResult.isSelectable}"
                     ng-click="$ctrl.currentSelectionMode === 'single' ? searchResult.selected(true) : undefined"
                     ng-dblclick="$ctrl.onDouble(searchResult)">
                    <input class="checkbox" type="checkbox" ng-class="{'search-hidden-checkbox': !searchResult.isSelectable}" ng-model="searchResult.selected" ng-model-options="{ getterSetter: true }" ng-if="$ctrl.currentSelectionMode !== 'single'">

                    <i ng-if="!$ctrl.hasCustomIcon(searchResult)" ng-class="searchResult.iconClass"></i>
                    <bp-item-type-icon ng-if="$ctrl.hasCustomIcon(searchResult)"
                                       item-type-id="searchResult.model.itemTypeId"
                                       item-type-icon-id="searchResult.model.itemTypeIconId">
                    </bp-item-type-icon>

                    <div class="search-details">
                        <div bp-tooltip="{{searchResult.model.name}}" bp-tooltip-truncated="true">
                            {{searchResult.id}} <span ng-bind-html="::searchResult.model.name | bpEscapeAndHighlight:$ctrl.searchText"></span>
                        </div>
                        <div bp-tooltip="{{searchResult.model.path}}" bp-tooltip-truncated="true">
                            Path: {{searchResult.model.path}}
                        </div>
                    </div>
                </div>
                <div class="more-search-results" ng-if="$ctrl.isMoreSearchResults">
                    <p>{{::$root.config.labels['Label_Search_Results'] | bpFormat:$ctrl.searchResults.length}}</p>
                    <p>{{::$root.config.labels['Label_Search_Refine']}}</p>
                </div>
            </div>
        </div>
        <div class="grid-wrapper" ng-hide="$ctrl.isSearching || $ctrl.searchResults">
            <div class="grid-header">
                <i ng-if="$ctrl.project" class="project-navigation fonticon2-arrow-double-left" ng-class="{'hide-project-navigation': $ctrl.isOneProjectLevel}" ng-click="$ctrl.project = undefined"></i>
                <i ng-if="$ctrl.project" class="project-icon icon-project"></i>
                <span ng-if="$ctrl.project" class="project-name"
                      bp-tooltip="{{$ctrl.project.name}}" bp-tooltip-truncated="true">{{$ctrl.project.name}}</span>
                <span ng-if="!$ctrl.project" class="instance-name"
                      bp-tooltip="{{::$root.config.labels['App_Header_Name']}}" bp-tooltip-truncated="true">{{::$root.config.labels['App_Header_Name']}}</span>
            </div>
            <bp-tree-view grid-class="project-tree"
                          selection-mode="$ctrl.currentSelectionMode"
                          row-height="20"
                          row-data="$ctrl.rowData"
                          api="$ctrl.treeApi"
                          root-node-visible="false"
                          columns="$ctrl.columns"
                          header-height="20"
                          on-select="$ctrl.onSelect(vm, isSelected, selectedVMs)"
                          on-double-click="$ctrl.onDouble(vm)">
            </bp-tree-view>
        </div>
    </div>
</div>
