<form class="search-form">
    <button type="submit" class="btn btn-small btn-promoted-action" ng-click="$ctrl.search()"
            ng-disabled="$ctrl.isSearching || !$ctrl.searchText || $ctrl.searchText.trim().length === 0">
        <i class="fonticon2-search"></i>
    </button>
    <div class="search-input">
        <input type="text" class="form-control" ng-if="!$ctrl.project"
               placeholder="{{::$root.config.labels['Label_Search_Projects']}}" ng-model="$ctrl.searchText"/>
        <input type="text" class="form-control" ng-if="$ctrl.project"
               placeholder="{{::$root.config.labels['Label_Search_Artifacts']}}" ng-model="$ctrl.searchText"/>
        <i class="fonticon-error" ng-show="$ctrl.searchText || $ctrl.searchResults" ng-click="$ctrl.clearSearch()"></i>
    </div>
</form>
<div class="project-wrapper">
    <div class="artifact-picker-container">
        <div class="search-wrapper" ng-show="$ctrl.isSearching || $ctrl.searchResults">
            <div class="search-message" ng-if="$ctrl.isSearching">
                {{::$root.config.labels['Label_Searching']}}
            </div>
            <div class="search-message" ng-if="!$ctrl.isSearching && $ctrl.searchResults.length === 0">
                {{::$root.config.labels['Label_No_Results_Found']}}
            </div>
            <div class="search-results" ng-if="!$ctrl.isSearching && $ctrl.searchResults.length !== 0">
                <div class="search-result"
                     ng-repeat="searchResult in $ctrl.searchResults"
                     ng-class="{selected: searchResult.selected(), selectable: searchResult.isSelectable}"
                     ng-click="$ctrl.currentSelectionMode === 'single' ? searchResult.selected(true) : undefined"
                     ng-dblclick="$ctrl.onDouble(searchResult)">
                    <input class="checkbox" type="checkbox" ng-model="searchResult.selected" ng-model-options="{ getterSetter: true }" ng-if="$ctrl.currentSelectionMode !== 'single'">
                    <i ng-class="searchResult.iconClass"></i>
                    <div class="search-details">
                        <div bp-tooltip="{{searchResult.model.name}}" bp-tooltip-truncated="true">
                            {{searchResult.id}} <span ng-bind-html="::searchResult.model.name | bpEscapeAndHighlight:$ctrl.searchText"></span>
                        </div>
                        <div bp-tooltip="{{searchResult.model.path}}" bp-tooltip-truncated="true">
                            Path: {{searchResult.model.path}}
                        </div>
                    </div>
                </div>
                <div class="more-search-results" ng-if="$ctrl.isMoreSearchResults">
                    <p>{{::$root.config.labels['Label_Search_Results'] | bpFormat:$ctrl.searchResults.length}}</p>
                    <p>{{::$root.config.labels['Label_Search_Refine']}}</p>
                </div>
            </div>
        </div>
        <div class="grid-wrapper" ng-hide="$ctrl.isSearching || $ctrl.searchResults">
            <div class="grid-header">
                <i ng-if="$ctrl.project" class="project-navigation fonticon2-arrow-double-left" ng-class="{'hide-project-navigation': $ctrl.isOneProjectLevel}" ng-click="$ctrl.project = undefined"></i>
                <i ng-if="$ctrl.project" class="project-icon icon-project"></i>
                <span ng-if="$ctrl.project" class="project-name"
                      bp-tooltip="{{$ctrl.project.name}}" bp-tooltip-truncated="true">{{$ctrl.project.name}}</span>
                <span ng-if="!$ctrl.project" class="instance-name"
                      bp-tooltip="{{::$root.config.labels['App_Header_Name']}}" bp-tooltip-truncated="true">{{::$root.config.labels['App_Header_Name']}}</span>
            </div>
            <bp-tree-view grid-class="project-tree"
                          selection-mode="$ctrl.currentSelectionMode"
                          row-height="20"
                          root-node="$ctrl.rootNode"
                          root-node-visible="false"
                          columns="$ctrl.columns"
                          header-height="20"
                          on-select="$ctrl.onSelect(vm, isSelected, selectedVMs)"
                          on-double-click="$ctrl.onDouble(vm)">
            </bp-tree-view>
        </div>
    </div>
</div>
