<bp-loading-overlay class="loading-overlay"></bp-loading-overlay>
<nav class="navbar navbar-default navbar-fixed-top" ng-if="app.currentUser">
    <div class="navbar__header">
        <div class="navbar__brand">{{::$root.config.labels["App_Header_Name"]}}</div>
        <div class="navbar__right">
            <div class="navbar__welcome">
                {{::$root.config.labels["App_Header_Welcome"]}}
            </div>
            <div uib-dropdown class="navbar__account">
                <a href="#" uib-dropdown-toggle>
                    <span class="navbar__name">{{app.currentUser.displayName}}</span>
                    <bp-avatar class="navbar__avatar"
                               user-id="::app.currentUser.id"
                               user-name="{{::app.currentUser.displayName}}"></bp-avatar>
                </a>
                <ul class="dropdown-menu dropdown-menu-right navbar__dropdown">
                    <li class="dropdown-menu-item" ng-if="app.isDatabaseUser()">
                        <button class="navbar__dropdown-btn" type="button"
                                ng-click="app.changePassword($event)">{{::$root.config.labels['App_Header_ChangePassword']}}</button>
                    </li>
                    <li class="dropdown-menu-item">
                        <button class="navbar__dropdown-btn" type="button"
                                ng-click="app.logout($event)">{{::$root.config.labels['App_Header_Logout']}}</button>
                    </li>
                </ul>
            </div>
            <div uib-dropdown class="navbar__help">
                <a href="#" uib-dropdown-toggle><span class="navbar__question-mark">?</span><b class="caret dropdown-menu-caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right navbar__dropdown">
                    <li class="dropdown-menu-item">
                        <button class="navbar__dropdown-btn" type="button"
                                ng-click="app.navigateToHelpUrl($event)">{{::$root.config.labels["App_Header_Help"]}}</button>
                    </li>
                    <li class="dropdown-menu-item">
                        <button class="navbar__dropdown-btn" type="button"
                                ng-click="app.openTour($event)">{{::$root.config.labels['App_Header_Tour']}}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<ui-view id="wrapper"></ui-view>
<messages-container class="messages__container"></messages-container>
