<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <span class="navbar-brand nova-title">Blueprint</span>
    </div>
    <div ng-if="app.currentUser">
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{app.currentUser.DisplayName}}</a>
            <a style="padding-right:30px;" ng-click="app.logout($event)" class="glyphicon glyphicon-log-out btn-menu">
            </a>
        </p>
    </div>
</div>
<div ng-show="app.currentUser">
    <ui-view></ui-view>
</div>