<bp-loading-overlay class="loading-overlay"></bp-loading-overlay>
<nav class="navbar navbar-default navbar-fixed-top" ng-if="app.currentUser">
    <div class="navbar-header">
        <div class="navbar-brand">{{::$root.config.labels["App_Header_Name"]}}</div>
        <div class="navbar-right">
            <span>{{::$root.config.labels["App_Header_Welcome"]}}</span> <span class="signed-in-as">{{app.currentUser.displayName}}</span>
            <a ng-click="app.logout($event)" class="fonticon fonticon-sign-out"
               bp-tooltip="{{::$root.config.labels['Tooltip_App_Header_Logout']}}"></a>
            <!--<a ng-click="app.navigateToHelpUrl($event)" class="fonticon fonticon2-help"
               bp-tooltip="{{::$root.config.labels['Tooltip_App_Header_Help']}}"></a>-->  
            
            <div uib-dropdown class="navbar-help">
                <a href="#" uib-dropdown-toggle >
                    <div class="icon-container">
                        <i class="fonticon fonticon2-help"></i><b class="caret dropdown-menu-caret"></b>
                    </div>    
                </a>
                <ul class="dropdown-menu dropdown-menu-help">
                    <li class="dropdown-menu-item">
                        <button class="dropdown-menu-help-btn" ng-click="app.navigateToHelpUrl($event)">Help</button>
                    </li>
                    <li class="dropdown-menu-item">
                        <button class="dropdown-menu-help-btn" ng-click="app.openTour($event)">Tour</button>
                    </li>
                </ul>    
            </div>                      
        </div>
    </div>
</nav>

<ui-view id="wrapper"></ui-view>
<messages-container class="messages__container"></messages-container>
