<div class="filter-bar">
    <!--<bp-select
        ng-if="$ctrl.artifactDiscussionList.length"
        ng-model="$ctrl.sortAscending"
        options="$ctrl.sortOptions">
    </bp-select>-->
    <button class="btn btn-new-comment" type="button" ng-click="" ng-if="$ctrl.artifactDiscussionList.length">+ new comment</button>
</div>
<div ng-if="$ctrl.artifactDiscussionList.length"
     class="scrollable-content"
     perfect-scrollbar>

    <div ng-repeat="discussion in $ctrl.artifactDiscussionList" class="artifact-item-wrapper">
        <!--<div class="separator"></div>-->
        <bp-artifact-discussion-item 
            class="utility-panel-artifact-item"
            discussion-info="discussion"
            get-replies="$ctrl.expandCollapseDiscussion(discussion)">
        </bp-artifact-discussion-item>
        <!--<div class="separator"></div>-->
        <div ng-if="discussion.expanded" ng-repeat="reply in discussion.replies" class="artifact-item-wrapper">
            <bp-discussion-reply-item class="utility-panel-artifact-item"
                                      reply-info="reply">
            </bp-discussion-reply-item>
        </div>
    </div>
    <div>

    </div>
</div>

<div ng-if="!$ctrl.artifactDiscussionList.length && $ctrl.isLoading" class="app-loading">
    <span class="glyphicon glyphicon-refresh spin"></span>
</div>

<div ng-if="!$ctrl.artifactDiscussionList.length && !$ctrl.isLoading" class="empty-state">{{ $ctrl.localization.get('App_UP_History_No_Artifact') }}</div>
