<div>
    <storytellerheader></storytellerheader>
    <storytellerdiagram ng-if="vm.isProcess()"></storytellerdiagram>

    <!-- Non-Process artifacts -->
    <div id="non-process-artifact-container" ng-show="!vm.isProcess()">
        
        <!-- Visual artifact diagram that's not a Process -->
        <div ng-if="vm.isVisualArtifact()" class="silverlight-rich-text" diagram></div>

        <!-- Non-visual artifact properties -->
        <artifact-properties ng-if="!vm.isVisualArtifact() && !vm.isProcess()"
                             id="vm.artifactInfo.id"
                             properties="vm.artifactProperties.properties"
                             author-histories="vm.artifactProperties.authorHistory"
                             description="vm.artifactProperties.description"></artifact-properties>

        <!-- Glossary list -->
        <div ng-if="vm.artifactInfo.baseItemTypePredefined == 4099">
            <glossary properties-mw="null" glossary-id="vm.artifactInfo.id"></glossary>
        </div>
    </div>

    <properties-mw ng-if="vm.needUtilityPanel" data-properties-mw="vm.propertiesMw" data-is-draft-allowed="true" data-panels-list="properties,discussions,files,relationships,history"></properties-mw>

</div>
