/*
* This file is used to inject new classes and variables into the styleguide generation framework. must be wrapped inside
* the define mixen for it to scope properly
*/
@define-mixin styleguide_custom_styles {
    code {
        color: #333;
        display: block;
        white-space: pre;
        font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
        word-wrap: normal;
        margin: 0;
        word-break: normal;
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: #f7f7f7;
        border-radius: 3px;
    }
}
