<div class="modal-header">
    <h3 class="modal-title">{{::$root.config.labels["Change_Password_Dialog_Header"]}}</h3>
</div>
<form name="novaChangePasswordForm" ng-submit="ctrl.changePassword()" role="form"
      onsubmit="this.querySelectorAll('button[type=submit]')[0].focus();" autocomplete="off">
    <div class="modal-body" ng-if="ctrl.isChangePasswordScreenEnabled">
        <input class="change-password__focus-stealer" type="text">
        <div class="change-password__message" ng-class="{error: ctrl.hasChangePasswordScreenError}"><span
            ng-bind-html="ctrl.changePasswordScreenMessage"></span></div>
        <div class="nova-form-group nova-floating-label"
             ng-class="{error: ctrl.isCurrentPasswordFieldErrorStyleShowing}">
            <input type="password" class="nova-form-control required" id="nova-current-password"
                   name="novaCurrentPassword" ng-model="ctrl.novaCurrentPassword" autocomplete="off">
            <label for="nova-current-password" class="nova-label"
                   ng-attr-required='{{::$root.config.labels["Input_Required"]}}'><i class="fonticon-lock"></i>{{::$root.config.labels["Login_ChangePassword_CurrentPassword"]}}</label>
        </div>
        <div class="nova-form-group nova-floating-label"
             ng-class="{error: ctrl.isNewPasswordFieldErrorStyleShowing}">
            <input type="password" class="nova-form-control required" id="nova-new-password"
                   name="novaNewPassword" ng-model="ctrl.novaNewPassword" autocomplete="new-password">
            <label for="nova-new-password" class="nova-label"
                   ng-attr-required='{{::$root.config.labels["Input_Required"]}}'><i class="fonticon-lock"></i>{{::$root.config.labels["Login_ChangePassword_NewPassword"]}}</label>
        </div>
        <div class="nova-form-group nova-floating-label"
             ng-class="{error: ctrl.isConfirmPasswordFieldErrorStyleShowing}">
            <input type="password" class="nova-form-control required" id="nova-confirm-new-password"
                   name="novaConfirmNewPassword" ng-model="ctrl.novaConfirmNewPassword" autocomplete="new-password">
            <label for="nova-confirm-new-password" class="nova-label"
                   ng-attr-required='{{::$root.config.labels["Input_Required"]}}'><i class="fonticon-lock"></i>{{::$root.config.labels["Login_ChangePassword_ConfirmPassword"]}}</label>
        </div>
    </div>
    <div class="change-password__success" ng-if="!ctrl.isChangePasswordScreenEnabled">{{::$root.config.labels["Login_Session_PasswordChangedSuccessfully"]}}</div>
    <div class="modal-footer">
        <div class="nova-form-group nova-form-buttons">
            <button class="btn btn-promoted-action" type="button"
                    ng-click="ctrl.cancel()" ng-if="!ctrl.isChangePasswordScreenEnabled">
                <span ng-bind="ctrl.dialogSettings.okButton"></span>
            </button>
            <button class="btn btn-cancel" type="button"
                    ng-click="ctrl.cancel()" ng-if="ctrl.isChangePasswordScreenEnabled">
                <span ng-bind="ctrl.dialogSettings.cancelButton"></span>
            </button>
            <button class="btn btn-promoted-action" type="submit"
                    ng-if="ctrl.isChangePasswordScreenEnabled">
                <span ng-bind="ctrl.dialogSettings.okButton"></span>
            </button>
        </div>
    </div>
</form>
