<div class="modal-header storyteller-modal-header">
    <h3 class="modal-title" style="display: inline-block">{{this.dialogModel.label}}</h3>
    <h3 ng-show="!$ctrl.isLabelAvailable()" class="modal-title" style="color: red; display: inline-block;">{{::$root.config.labels['ST_TaskNameNotValid_Label']}}</h3>
    <div class="contextual-help-container contextual-help-modal-container">
        <contextual-help image-src={{'/novaweb/static/bp-process/images/contextual-help/decisionpoint.png'}}></contextual-help>
    </div>
</div>
<div class="modal-body storyteller-modal-body">
    <div>
        <div class="nova-form-group nova-floating-label">
            <input type="text" ng-class="dialogModel.label ? 'nova-form-control input-is-dirty' : 'nova-form-control'" id="storyteller-action" ng-model="dialogModel.label" maxlength="32" ng-disabled="$ctrl.isReadonly">
            <label for="storyteller-action" class="nova-label"><i class="fonticon-storyteller-title"></i>{{::$root.config.labels['ST_Decision_Modal_Decision_Label']}}</label>
        </div>
        <div class="condition-list">
            <div class="row" ng-repeat="condition in dialogModel.conditions">
                <!-- branch group -->
                <div class="col-sm-7" style="display: inline-block">
                    <div class="nova-form-group nova-floating-label">
                        <input type="text" ng-class="condition.label ? 'nova-form-control input-is-dirty' : 'nova-form-control'" id="storyteller-new-condition-edge-{{$index}}" ng-model="condition.label" maxlength="{{::$ctrl.CONDITION_MAX_LENGTH }}" ng-disabled="$ctrl.isReadonly">
                        <label for="storyteller-new-condition-edge-{{$index}}" class="nova-label"><i class="fonticon-decision-diamond"></i>{{::$root.config.labels['ST_Decision_Modal_Decision_Condition_Label']}}</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="nova-form-group nova-floating-label" ng-if="!$ctrl.isFirstBranch(condition)">
                        <div class="btn-group btn-block" uib-dropdown on-toggle="$ctrl.refreshView()">
                            <button uib-dropdown-toggle type="button" class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" ng-disabled="$ctrl.isReadonly">
                                <div class="dropdown-toggle-label">{{$ctrl.getMergeNodeLabel(condition)}} </div>
                                <span class="pull-right">
                                    <span class="caret"></span>
                                </span>
                            </button>
                            <ul class="dropdown-menu dropdown-next-node">
                                <li ng-repeat="node in condition.validMergeNodes">
                                    <a class="dropdown-menu__item" ng-click="condition.mergeNode = node" href="javascript:void(0);" ng-attr-title="{{node.label}}">
                                        <i ng-class="$ctrl.getNodeIcon(node)"></i>{{node.label}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 delete-condition" ng-if="$ctrl.isDeleteConditionVisible(condition)">
                    <span ng-click="$ctrl.deleteCondition(condition)" bp-tooltip="{{::$root.config.labels['ST_Decision_Modal_Delete_Condition_Button_Label']}}" ng-disabled="!$ctrl.canDeleteCondition(condition)">
                        <span class="fonticon2-delete" ng-class="{'icon--disabled':isReadonly}"></span>
                    </span>
                </div>
            </div>
            <div id="decision-modal-list-bottom"></div>
        </div>
        <div>
            <button class="btn btn-default" type="button" ng-click="$ctrl.addCondition()" ng-disabled="!$ctrl.canAddCondition">{{::$root.config.labels['ST_Decision_Modal_Add_Condition_Button_Label']}}</button>
        </div>
    </div>
</div>
<div class="modal-footer storyteller-modal-footer">
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{::$root.config.labels['App_Button_Cancel']}}</button>
    <button class="btn btn-promoted-action" type="button" ng-click="$ctrl.ok()" ng-disabled="!$ctrl.canApplyChanges">{{::$root.config.labels['App_Button_Ok']}}</button>
</div>
