<div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <breadcrumbs></breadcrumbs>
            <h2 class="module-title">
                <span ng-if="vm.header.baseItemTypePredefined !== vm.processArtifact"><a href="javascript:void(0);" ng-click="vm.openInParentWindow(vm.header.id)">{{vm.header.artifactPrefix }}</a></span>
                <span ng-if="vm.header.baseItemTypePredefined === vm.processArtifact">{{vm.header.artifactPrefix }}</span>
                {{ vm.header.name }}
                <i class="fonticon-asterisk" ng-show="vm.header.isChanged"></i>
                <i class="fonticon-lock fonticon-locked-by-others" ng-show="vm.header.showLock"></i>
                <i class="fonticon-lock fonticon-locked-by-me" ng-show="vm.header.showLockOpen"></i>
                <i class="fonticon-unauthorize" ng-show="vm.header.isReadonly"></i>
                <span ng-show="vm.header.isReadonly" class="storyteller-header-readonly-label">{{::$root.config.labels["ST_Readonly_Label"]}}</span>
            </h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" ng-if="vm.header.showSystemStateSwitch">
            <div class="extra-control-container">
                <div class="extra-control-inner-container pull-right">
                    <div ng-class="[1 && 'nova-switch', {'nova-switch-is-disabled':vm.header.isReadonly}]">
                        <input type="checkbox" name="nova-switch" class="nova-switch-checkbox" id="systemstateswitch" ng-checked="vm.header.isUserToSystemProcess" ng-disabled="vm.header.isReadonly" ng-click="vm.updateSelection($event, e.id)">
                        <label class="nova-switch-label" for="systemstateswitch">
                            <span class="nova-switch-inner"></span>
                            <span class="nova-switch-switch"></span>
                        </label>
                        <span class="nova-switch-outer-text nova-switch-unchecked-label">{{::$root.config.labels["ST_Process_Type_Business"]}}</span>
                        <span class="nova-switch-outer-text nova-switch-checked-label">{{::$root.config.labels["ST_Process_Type_UserToSystem"]}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="vm.header.showDescription">
        <div class="col-md-12">
            <div class="bp-module-header-desc-container">
                <input type="checkbox" id="descexpander" class="bp-module-header-desc-expander-checkbox"/>
                <label for="descexpander">
                    <span class="fonticon-caret-left" onclick="setTimeout(Shell.fireUIEvent, 150, 'resize');"  ng-show="vm.isHeaderTextOverflown"/>
                </label>
                <div id="desctext" class="bp-module-header-desc" ng-bind-html="vm.header.description"></div>
            </div>
        </div>
    </div>
</div>
