body {
   margin:0;
   overflow:hidden;
}

/*** top blue bar */
#blueprint-bar {
   display: block; 
   color: white; 
   position: absolute; 
   top: 0px; 
   height: 28px; 
   width: 100%; 
   background-color: #1c295c;
}

#blueprint-bar > span.left {
   position: fixed; 
   left: 1em; 
   top: 3px; 
   font-size: large;
   font-weight: 600;
}

#blueprint-bar > span.right {
   position: fixed; 
   right: 1em; 
   top: 6px;
   font-size: small;
}

/*** angular custom styles */
.ng-hide { 
   display: none!important; 
}

/*** jstree customization */
.jstree-default .jstree-wholerow-clicked {
   background: #CFDDE9;
   background: -webkit-linear-gradient(top, #CFDDE9 0%, #D1DFEA 100%);    
   background: linear-gradient(to bottom, #CFDDE9 0%, #D1DFEA 100%);
}

/*** jqx customization */
.jqx-layout-group-auto-hide-content-vertical {
   width: 200px;
}