/**
*
* Shame - hacks, stuff to be refactored
*
**/


html,
body {
    height: 100%;
}

body {
    background-color: $body-bg-color;
    background-image: url('/novaweb/static/images/logo-storyteller-gray.svg'), radial-gradient(ellipse 70% 50% at top, rgba(253, 253, 253, 0) 15%, #c4c4c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat, no-repeat;
    background-position: center 48%, top;
    background-size: 60%, 120%;
    color: $body-color;
    overflow: auto;
    overflow-y: hidden;
}
a, a:visited {
    color: $brand-secondary;
    font-weight: 600;
    outline: 0;
}
a:hover, a:focus {
    text-decoration: underline;
    outline: 0;
}
p {
    padding: 0;
    margin: 0;
    font-size: $font-size-normal;
    color: $text-color;
}

.app-loading {
    color: $gray-light;
    font-size: $font-size-bigger;
    padding: 32px;
    text-align: center;
    width: 100%;
}

#wrapper {
    display: block;
    height: calc(100% - #{$wrapper-height});
    left: 0;
    margin-top: $wrapper-height;
    min-width: $app-minimum-width;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
