<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
      <add key="SessionTimeoutInterval" value="1200"/>
    </appSettings>
    <connectionStrings>
      <add name="AdminStoreDatabase"
          providerName="System.Data.SqlClient"
          connectionString="data source=.\SQLEXPRESS;initial catalog=FileStore;integrated security=True;min pool size=4;max pool size=128;load balance timeout=2;packet size=16384;connectretrycount=3;connectretryinterval=3;MultipleActiveResultSets=True;" />
    </connectionStrings>    
</configuration>