<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SessionTimeoutInterval" value="1200"/>
    <add key="ConfigControl" value="http://localhost:9101/svc/configcontrol/"/>
  </appSettings>
  <connectionStrings>
    <add name="AdminStorage" connectionString="data source=Blueprint_AdminStorage"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
