
<div class="modal-content">
    <div class="modal-header">
        <div class="modal-confirmation_header-msg">
            <div style="float:left;">
                <i ng-class="{0:'fonticon-information', 1:'fonticon-warning',2:'fonticon-error',3:'fonticon-information'}[vm.params.dialogType]"></i>
                <span class="header-msg-text">{{::vm.params.header}}</span>
            </div>
            <div class="header-close-btn">
                <span ng-click="vm.cancel()">x</span>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <p>{{::vm.params.message}}</p>
    </div>
    <div class="modal-footer">
        <div class="footer-left">
            <button type="button" ng-disabled="vm.params.discardDisabled" ng-class="{0:'btn button-branded-action', 1:'btn button-branded-action button-branded-warning',2:'btn button-branded-action button-branded-error', 3:'btn button-gray'}[vm.params.dialogType]" ng-click="vm.ok(3)">{{::vm.params.discardButton}}</button>
        </div>
        <div class="footer-right">
            <button type="button" ng-class="{0:'btn button-branded-action', 1:'btn button-branded-action button-branded-warning',2:'btn button-branded-action button-branded-error', 3:'btn button-gray'}[vm.params.dialogType]" ng-click="vm.ok(1)">{{::vm.params.publishButton}}</button>
            <button type="button" ng-class="{0:'btn button-branded-action', 1:'btn button-branded-action button-branded-warning',2:'btn button-branded-action button-branded-error', 3:'btn button-branded-action'}[vm.params.dialogType]" ng-click="vm.ok(2)" autofocus>{{::vm.params.saveButton}}</button>
        </div>
        </div>
    </div><!-- /.modal-content -->
