
<div class="modal-content">
    <div class="modal-header">
        <div class="modal-confirmation_header-msg">
            <i ng-class="{0:'fonticon-information', 1:'fonticon-warning',2:'fonticon-error'}[vm.params.dialogType]"></i>
            <span class="header-msg-text">{{::vm.params.header}}</span>
        </div>       
    </div>
    <div class="modal-body">
        <p>{{::vm.params.message}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn button-gray" ng-click="vm.cancel()">{{::vm.params.denyButton}}</button>
        <button type="button" ng-class="{0:'btn button-branded-action', 1:'btn button-branded-action button-branded-warning',2:'btn button-branded-action button-branded-error'}[vm.params.dialogType]" ng-click="vm.ok()">{{::vm.params.confirmButton}}</button>
    </div>
</div><!-- /.modal-content -->
