<form ng-submit="$ctrl.ok()">
    <input type="text" class="modal-focus-stealer" />
    <div class="modal-header">
        <button class="modal-close" ng-if="$ctrl.hasCloseButton" ng-click="$ctrl.cancel()"><i
            class="fonticon-close"></i></button>
        <h3 class="modal-title"><i class="fonticon-modal"></i><span ng-bind="$ctrl.dialogSettings.header"></span></h3>
    </div>
    <div class="modal-body">
        <div class="nova-message"><span ng-bind-html="$ctrl.dialogSettings.message"></span></div>
    </div>
    <div class="modal-footer">
        <div class="nova-form-group nova-form-buttons">
            <button type="button" class="btn btn-cancel" ng-click="$ctrl.cancel()" ng-if="$ctrl.dialogSettings.cancelButton"><span
                ng-bind="$ctrl.dialogSettings.cancelButton"></span></button>
            <button type="submit" class="btn btn-promoted-action" ><span
                ng-bind="$ctrl.dialogSettings.okButton"></span></button>
        </div>
    </div>
</form>
