@import '../../../../styles/modules/variables';
@import "../../../../styles/settings/colors";
@import '../../../../styles/modules/fonticons2';

.tab-slider {
    display: block;
    overflow: hidden;
}

.tab-slider__wrapper {
    display: flex;
    flex-flow: row nowrap;
 }

.tab-slider__container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.tab-slider__content {
    display: flex;
    left: 0;
    position: relative;
    transition: left ease .5s;
}

.tab-slider__slide {
    flex: none;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;

    > * {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.tab-slider__prev,
.tab-slider__next {
    background: transparent;
    border: 0;
    color: $brand-secondary;
    display: block;
    flex: none;
    font-family: "bp-font2";
    font-size: 1.8rem;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.8rem;
    outline: none;
    padding: 0;
    speak: none;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: width ease .4s;
    width: 0;

    &::before {
        display: none;
    }
}

.tab-slider__prev--invalid,
.tab-slider__next--invalid {
    color: $brand-error;
}

.tab-slider__prev--show,
.tab-slider__next--show {
    width: 32px;

    &::before {
        display: inline;
    }
}

.tab-slider__prev::before {
    content: $fonticon2-arrow-double-left;
}

.tab-slider__next::before {
    content: $fonticon2-arrow-double-right;
}
