<div class="tab-slider" ng-transclude></div>
<!-- this inline template will be wrapped around the tabs -->
<script type="text/ng-template" id="tabSliderWrapper.html">
    <div class="tab-slider__wrapper">
        <button class="tab-slider__prev" type="button"
                ng-class="{
                'tab-slider__prev--invalid': $ctrl.isButtonPrevInvalid,
                'tab-slider__next--show': $ctrl.showButtonPrev()
                }"
                ng-if="$ctrl.showButtons"
                ng-click="$ctrl.previousSlide()"></button>
        <div class="tab-slider__container"></div>
        <button class="tab-slider__next" type="button"
                ng-class="{
                'tab-slider__next--invalid': $ctrl.isButtonNextInvalid,
                'tab-slider__next--show': $ctrl.showButtonNext(),
                'tab-slider__next--show-empty': !$ctrl.showButtonNext()
                }"
                ng-if="$ctrl.showButtons"
                ng-click="$ctrl.nextSlide()"></button>
    </div>
</script>
