<h6 bp-tooltip="{{ $ctrl.docRefInfo.itemTypePrefix + $ctrl.docRefInfo.artifactId + ' - ' + $ctrl.docRefInfo.artifactName }}"
    bp-tooltip-truncated="true">{{ $ctrl.docRefInfo.itemTypePrefix + $ctrl.docRefInfo.artifactId + ' - ' +
    $ctrl.docRefInfo.artifactName }}</h6>
<div class="thumb {{ $ctrl.fileIconClass }}"></div>
<div class="author"
     bp-tooltip="{{::$ctrl.localization.get('App_UP_Attachments_Uploaded_By') }} {{ $ctrl.docRefInfo.userName }}"
     bp-tooltip-truncated="true">{{::$ctrl.localization.get('App_UP_Attachments_Uploaded_By') }} {{
    $ctrl.docRefInfo.userName }}
</div>
<div class="timestamp"><i class="icon fonticon-clock"></i>{{ $ctrl.docRefInfo.referencedDate | date:'medium' }}</div>
<div class="button-bar">
    <i class="icon fonticon-download" ng-click="$ctrl.downloadItem()"
       bp-tooltip="{{::$ctrl.localization.get('App_UP_Attachments_Download') }}"></i>
    <i class="icon fonticon-delete-filled" ng-click="$ctrl.deleteItem()" bp-tooltip="{{::$ctrl.localization.get('App_UP_Attachments_Delete') }}"
    ng-class="{ 'disabled' : !$ctrl.canChangeAttachments }"></i>
</div>
