<div class="modal-header">
    <h3 class="modal-title">{{::$ctrl.dialogSettings.header}}</h3>
</div>
<div class="modal-body artifact-picker">
    <bp-artifact-picker selection-mode="'checkbox'";
                        show-sub-artifacts="true">
    </bp-artifact-picker>
</div>
<div class="modal-footer">
    <div class="nova-form-group nova-form-buttons">
        <button class="btn btn-primary" ng-click="$ctrl.cancel()">
            <span ng-bind="$ctrl.dialogSettings.cancelButton"></span>
        </button>
        <button class="btn btn-promoted-action" ng-click="$ctrl.ok()">
            <span ng-bind="$ctrl.dialogSettings.okButton"></span>
        </button>
    </div>
</div>
