<div ng-class="{'selected' : $ctrl.isSelected}" class="trace">
    <div class="trace-main">
        <div>
            <input type="checkbox" ng-checked="$ctrl.isSelected"
                   bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Select')}}"
                   ng-click="$ctrl.selectTrace()"/>
        </div>
        <div class="trace-icon-wrapper">
            <div class="trace-icon" data-ng-class="{'false': 'trace-icon-regular', 'true' : 'trace-icon-suspect'}[$ctrl.artifact.suspect]">
                <i data-ng-class="{'0': 'fonticon2-relationship-right', '1' : 'fonticon2-relationship-left', '2' : 'fonticon2-relationship-bi'}[$ctrl.artifact.traceDirection]"></i>
            </div>
        </div>
        <div>
            <a>
                <i class="icon-textual"></i> {{$ctrl.item.artifactName}}<br/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="icons">
                <div uib-dropdown>
                    <span uib-dropdown-toggle bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Change_Trace')}}">
                        <i class="icon fonticon-exchange"></i>
                    </span>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="$ctrl.setDirection(0)"><i class="fonticon2-relationship-right"></i> {{::$ctrl.localization.get('App_UP_Relationships_To')}}</a></li>
                        <li>
                            <a ng-click="$ctrl.setDirection(1)"><i class="fonticon2-relationship-left"></i> {{::$ctrl.localization.get('App_UP_Relationships_From')}}</a></li>
                        <li>
                            <a ng-click="$ctrl.setDirection(2)"><i class="fonticon2-relationship-bi"></i> {{::$ctrl.localization.get('App_UP_Relationships_Bidirectional')}}</a></li>
                    </ul>
                </div>
                <i class="icon fonticon-flag-1" ng-click="$ctrl.toggleFlag()"
                   bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Flag_Trace')}}"></i>

                <i class="icon fonticon-delete-filled" ng-click="$ctrl.deleteTrace()"
                   bp-tooltip="{{::$ctrl.localization.get('App_UP_Relationships_Delete')}}"></i>
            </div>
        </div>
    </div>
</div>