<div ng-controller="dashboardV2Controller as dashboardV2">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Project Name</a></li>
        <li class="active">Artifact Name</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Editor Panel <small>header small text goes here...</small></h1>
    <!-- end page-header -->

    <!-- begin row -->
    <div class="row">

        <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-auto-resize class="grid"></div>    

    </div>


    <!-- begin #footer -->
    <div id="footer" class="footer">
        <span class="pull-right">
            <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
            </a>
        </span>
        &copy; 2015 <b>Source Admin</b> All Right Reserved
    </div>
    <!-- end #footer -->
</div>
