<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="Service.Name" value="BlueprintImageGen" />
      <add key="BrowserPool.Enabled" value="true" />
      <add key="BrowserPool.MaxSize" value="10" />
      <add key="BrowserPool.WaitTimeSeconds" value="10" />
      <add key="BrowserResizeEvent.MaxWaitTimeSeconds" value="10" />
      <add key="BrowserResizeEvent.DelayIntervalMilliseconds" value="10" />
      <add key="BrowserRender.DelayMilliseconds" value="500" />
      <add key="NServiceBus.ConnectionString" value="host=titan.blueprintsys.net;virtualhost=test;username=admin;password=$admin2011" />
      <add key="BrowserRender.WaitTimeSeconds" value="10" />
      
    </appSettings>
  
</configuration>