<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ServerFileAppender" />
    </root>
    <appender name="ServerFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="BlueprintImageGenService.log" />
      <appendToFile value="true" />
      <!-- Use a minimal locking model that allows multiple processes to write to the same file -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- Max number of log files to keep. If not specified, default is 2 -->
      <maxSizeRollBackups value="5" />
      <!-- Default rolling style is by size. -->
      <!-- To enable rolling by date, set this value to "Date". (Not recommended as the number of files generated cannot be limited)-->
      <!-- To enable rolling by both date and size, set this value to "Composite". (Not recommended as the number of files generated cannot be limited)-->
      <rollingStyle value="Size" />
      <!-- Max size of the single log file in MB. -->
      <maximumFileSize value="10MB" />
      <!-- The newest log by size would have the highest suffix -->
      <countDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{logId}: %date{dd/MM/yyyy HH:mm:ss}, %property{timeZoneOffset}, ThreadId:%t, %property{sessionId}, %property{userName}, %property{level},%message%newline" />
      </layout>
    </appender>
  </log4net>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="Service.Name" value="BlueprintImageGen" />
      <add key="BrowserPool.Enabled" value="true" />
      <add key="BrowserPool.MaxSize" value="10" />
      <add key="BrowserPool.WaitTimeSeconds" value="10" />
      <add key="BrowserResizeEvent.MaxWaitTimeSeconds" value="10" />
      <add key="BrowserResizeEvent.DelayIntervalMilliseconds" value="10" />
      <add key="BrowserRender.DelayMilliseconds" value="500" />
      <add key="NServiceBus.ConnectionString" value="host=titan.blueprintsys.net;virtualhost=test;username=admin;password=$admin2011" />
      <add key="BrowserRender.WaitTimeSeconds" value="10" />
      <!-- LOGGING SECTION BEGINS -->
      <!-- Path to log4net configuration -->
      <add key="LoggingConfigurationPath" value="Configuration\Logging.config" />
    </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>