<script type="text/ng-template" id="includeTemplate.html">
    <a href="" tabindex="-1" ng-bind-html="match.label | highlight:query"
       ng-attr-title="{{ match.model.projectName + '\u000A' + match.label}}"></a>
</script>

<div class="modal-header storyteller-modal-header">
    <h3 class="modal-title" style="display: inline-block">{{vm.getActiveHeader()}}</h3>
    <h3 ng-if="!vm.getActiveHeader()" class="modal-title" style="color: red; display: inline-block" ng-cloak>
        {{::$root.config.labels['ST_TaskNameNotValid_Label']}}</h3>
    <div class="contextual-help-container contextual-help-modal-container">
        <contextual-help
            image-src={{'/novaweb/static/bp-process/images/contextual-help/usertask.png'}}></contextual-help>
    </div>
</div>

<div class="modal-body storyteller-modal-body">
    <form name="userTaskForm" novalidate>
        <div class="nova-form-group nova-floating-label">
            <input type="text"
                    ng-class='dialogModel.clonedUserTask.persona ? "nova-form-control input-is-dirty" : "nova-form-control"'
                    id="storyteller-user" ng-model='dialogModel.clonedUserTask.persona' ng-disabled="vm.isReadonly"
                    autofocus maxlength="40" autocomplete="off">
            <label for="storyteller-user" class="nova-label"><i class="fonticon-bp-actor"></i>{{::$root.config.labels['ST_Persona_Label']}}</label>
            <span class="storyteller-helper-text">{{::$root.config.labels['ST_Persona_Helper_Text']}}</span>
        </div>
        <div class="nova-form-group nova-floating-label">
            <input type="text" ng-blur="vm.actionOnBlur()" ng-focus="vm.actionOnFocus()"
                    ng-class="dialogModel.clonedUserTask.action ? 'nova-form-control input-is-dirty' : 'nova-form-control'"
                    id="storyteller-action" ng-model="dialogModel.clonedUserTask.action" ng-disabled="vm.isReadonly"
                    maxlength="140" autocomplete="off">
            <label for="storyteller-action" class="nova-label"><i class="fonticon-storyteller-title"></i>{{vm.actionPlaceHolderText}}</label>
            <span class="storyteller-helper-text">{{::$root.config.labels['ST_User_Task_Name_Helper_Text']}}</span>
        </div>
        <div class="nova-form-group nova-floating-label">
            <input type="text"
                    ng-class='dialogModel.clonedUserTask.objective ? "nova-form-control input-is-dirty" : "nova-form-control"'
                    id="storyteller-purpose" ng-model='dialogModel.clonedUserTask.objective'
                    ng-disabled="vm.isReadonly" maxlength="140" autocomplete="off">
            <label for="storyteller-purpose" class="nova-label"><i class="fonticon-storyteller-objective-1"></i>{{::$root.config.labels['ST_Objective_Label']}}</label>
            <span class="storyteller-helper-text">{{::$root.config.labels['ST_Objective_Helper_Text']}}</span>
        </div>

        <br/>

        <div class="small-padding">
            <div class="row">
                <div class="col-sm-12">
                    <div class="nova-form-group nova-floating-label">
                        <div ng-show="!vm.isIncludeResultsVisible">
                            <button class="btn btn-default" type="button" ng-click="vm.openArtifactPicker()" ng-disabled="vm.isReadonly">
                                <i class="fonticon-include-active fonticon-st-tabs"></i>{{::$root.config.labels['ST_Add_Include_Tab_Label']}}
                            </button>
                        </div>
                        <div ng-show="vm.isIncludeResultsVisible">
                            <i class="fonticon-include-active fonticon-st-tabs"></i>{{::$root.config.labels['ST_Include_Tab_Label']}}
                            <br />
                            <label for="storyteller-include" class="nova-label">
                                    {{vm.includeArtifactName}}
                            </label>
                            <button class="btn btn-default" type="button" ng-click="vm.cleanIncludeField()" ng-disabled="vm.isReadonly">
                                <i class="fonticon-include-active fonticon-st-tabs"></i></button>
                            <button class="btn btn-default" type="button" ng-click="vm.openArtifactPicker()" ng-disabled="vm.isReadonly">
                                <i class="fonticon-include-active fonticon-st-tabs"></i>{{::$root.config.labels['ST_Browse_Include_Label']}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer storyteller-modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">
        {{::$root.config.labels['App_Button_Cancel']}}
    </button>
    <button class="btn button-brand-secondary" type="button" ng-click="vm.ok()" ng-disabled="vm.isReadonly">
        {{::$root.config.labels['App_Button_Ok']}}
    </button>
    <!--<button id="artifact-property-modal-helper" style="display:none" type="button" ng-click="vm.openPropertyFloatWindow($event)"></button>-->
</div>
