<script type="text/ng-template" id="includeTemplate.html">
    <a href="" tabindex="-1" ng-bind-html="match.label | highlight:query" ng-attr-title="{{ match.model.projectName + '\u000A' + match.label}}"></a>
</script>
<div class="modal-header storyteller-modal-header">
    <h3 class="modal-title" style="display: inline-block">{{vm.getActiveHeader()}}</h3>
    <h3 ng-if="!vm.getActiveHeader()" class="modal-title" style="color: red; display: inline-block" ng-cloak>{{::$root.config.labels['ST_TaskNameNotValid_Label']}}</h3>
    <div class="contextual-help-container contextual-help-modal-container">
        <div ng-if="dialogModel.isUserTask"><contextual-help image-src={{'/novaweb/static/bp-process/images/contextual-help/usertask.png'}}></contextual-help></div>
        <div ng-if="dialogModel.isSystemTask"><contextual-help image-src={{'/novaweb/static/bp-process/images/contextual-help/systemtask.png'}}></contextual-help></div>
    </div>
</div>
<div class="modal-body storyteller-modal-body">
    
    <div ng-if="dialogModel.isUserTask">
        <form name="userTaskForm" novalidate>
            <div class="nova-form-group nova-floating-label">
                <input type="text" ng-class='dialogModel.clonedUserTask.persona ? "nova-form-control input-is-dirty" : "nova-form-control"' id="storyteller-user" ng-model='dialogModel.clonedUserTask.persona' ng-disabled="vm.isReadonly" autofocus maxlength="40" autocomplete="off">
                <label for="storyteller-user" class="nova-label"><i class="fonticon-bp-actor"></i>{{::$root.config.labels['ST_Persona_Label']}}</label>
                <span class="nova-helper-text">{{::$root.config.labels['ST_Persona_Helper_Text']}}</span>
            </div>
            <div class="nova-form-group nova-floating-label">
                <input type="text" ng-blur="vm.actionOnBlur()" ng-focus="vm.actionOnFocus()" ng-class="dialogModel.clonedUserTask.action ? 'nova-form-control input-is-dirty' : 'nova-form-control'" id="storyteller-action" ng-model="dialogModel.clonedUserTask.action" ng-disabled="vm.isReadonly" maxlength="140" autocomplete="off">
                <label for="storyteller-action" class="nova-label"><i class="fonticon-storyteller-title"></i>{{vm.actionPlaceHolderText}}</label>
                <span class="nova-helper-text">{{::$root.config.labels['ST_User_Task_Name_Helper_Text']}}</span>
            </div>
            <div class="nova-form-group nova-floating-label">
                <input type="text" ng-class='dialogModel.clonedUserTask.objective ? "nova-form-control input-is-dirty" : "nova-form-control"' id="storyteller-purpose" ng-model='dialogModel.clonedUserTask.objective' ng-disabled="vm.isReadonly" maxlength="140" autocomplete="off">
                <label for="storyteller-purpose" class="nova-label"><i class="fonticon-storyteller-objective-1"></i>{{::$root.config.labels['ST_Objective_Label']}}</label>
                <span class="nova-helper-text">{{::$root.config.labels['ST_Objective_Helper_Text']}}</span>
            </div>

            <br />
            <div>
                <!-- Show More -->
                <label class="storyteller-label_show-hide"
                       ng-click="vm.showMore('label', $event)"
                       ng-class="{'show' : vm.isShowMore  }">
                    <i class="fonticon-caret-right"></i>
                    <span style="display:inline-block; min-width:80px;">{{vm.isShowMore ? $root.config.labels['ST_Show_Less'] : $root.config.labels['ST_Show_More']}}</span>
                    <i ng-click="vm.showMore('info', $event)" class="fonticon-information-more" ng-class="{'available': dialogModel.clonedUserTask.description}" title="{{::$root.config.labels['ST_Additional_Info_Tab_Label']}}"></i>
                    <i ng-click="vm.showMore('include', $event)" class="fonticon-include-active" ng-class="{'available': dialogModel.clonedUserTask.associatedArtifact}" title="{{::$root.config.labels['ST_Include_Tab_Label']}}"></i>
                </label>
                <div class="nova-tabset small-padding storyteller-gwt-tabset" ng-show="vm.isShowMore">
                    <uib-tabset>
                        <uib-tab active="vm.showMoreActiveTab[0]">
                            <uib-tab-heading>
                                <i class="fonticon-information-more fonticon-st-tabs"></i>{{::$root.config.labels['ST_Additional_Info_Tab_Label']}}
                            </uib-tab-heading>
                            <div class="nova-form-group nova-floating-label ui-tinymce-inline-traces">
                                <textarea name="user_task_description" 
                                          rich-text-box-inline-traces 
                                          project-id="{{ vm.isProjectOnlySearch ? vm.processModelService.processModel.projectId : '' }}" 
                                          ng-disabled="vm.isReadonly"
                                          ng-class="dialogModel.clonedUserTask.description ? 'nova-form-control input-is-dirty' : 'nova-form-control'"
                                          ng-model="dialogModel.clonedUserTask.description"></textarea>
                                <!--<label for="user_task_description" class="nova-label"><i class="fonticon-storyteller-description"></i>{{::$root.config.labels['ST_Additional_Info_Tab_Label']}}</label>-->
                            </div>
                        </uib-tab>
                        <uib-tab active="vm.showMoreActiveTab[1]">
                            <uib-tab-heading>
                                <i class="fonticon-include-active fonticon-st-tabs"></i>{{::$root.config.labels['ST_Include_Tab_Label']}}
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="nova-form-group nova-floating-label">
                                        <input type="text" cleartext
                                               name="include"
                                               ng-disabled="vm.isReadonly"
                                               ng-class='dialogModel.clonedUserTask.associatedArtifact ? "nova-form-control input-is-dirty" : "nova-form-control"'
                                               ng-blur="vm.cleanIncludeField()"
                                               ng-focus="vm.prepIncludeField()"
                                               ng-change="vm.changeIncludeField()"
                                               id="storyteller-include"
                                               autocomplete="off"
                                               ng-model='dialogModel.clonedUserTask.associatedArtifact'
                                               typeahead-input-formatter="vm.formatIncludeLabel($model)"
                                               typeahead-editable="false"
                                               typeahead-min-length="3"
                                               placeholder="{{::$root.config.labels['ST_Include_Tab_Placeholder']}}"
                                               uib-typeahead="artifact as artifact.typePrefix + artifact.id + ': ' + artifact.name for artifact in vm.getLinkableArtifacts($viewValue)"
                                               typeahead-template-url="includeTemplate.html">
                                        <div ng-show="vm.isLoadingIncludes" class="loading"></div>
                                        <div ng-show="vm.isIncludeResultsVisible && vm.isIncludeNoResults && userTaskForm.include.$invalid">
                                            {{::$root.config.labels['ST_Inline_Traces_Search_No_Matches_Found']}}
                                        </div>
                                        <div ng-show="vm.isIncludeResultsVisible && vm.isIncludeBadRequest && userTaskForm.include.$invalid">
                                            {{::$root.config.labels['ST_Inline_Traces_Search_Bad_Request']}}
                                        </div>
                                        <!--<label for="storyteller-include" class="nova-label"><i class="fonticon-include-active"></i>{{::$root.config.labels['ST_Include_Label']}}</label>-->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="btn-group btn-block" ng-hide="vm.processModelService.isUserToSystemProcess()" ng-if="false">
                                        <!-- TODO Not for MDP -->
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <div class="dropdown-toggle-label">{{dialogModel.nextNode.id}}{{dialogModel.nextNode ? ': ' : ''}}{{dialogModel.nextNode.name}} </div><span class="pull-right"><span class="caret"></span></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="node in vm.processModelService.getNextNodes(dialogModel.clonedUserTask.model)"><a ng-click="dialogModel.nextNode = node" href="">{{node.id}}: {{node.name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div ng-show="!vm.isSMB">
                        <input id="mentions-search-scope" type="checkbox" ng-model="vm.isProjectOnlySearch" ng-disabled="vm.isReadonly" />
                        <label for="mentions-search-scope" style="font-weight: normal;">{{::$root.config.labels['ST_Search_Project_Scope_Mentions_Includes']}}</label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="dialogModel.isSystemTask">
        <form name="systemTaskForm" novalidate>
            <div class="nova-form-group nova-floating-label">
                <input type="text" ng-blur="vm.systemNameOnBlur()" ng-focus="vm.systemNameOnFocus()" ng-class="dialogModel.clonedSystemTask.action ? 'nova-form-control input-is-dirty' : 'nova-form-control'" id="storyteller-systemtask-action" ng-model="dialogModel.clonedSystemTask.action" ng-disabled="vm.isReadonly" maxlength="140" autocomplete="off">
                <label for="storyteller-systemtask-action" class="nova-label"><i class="fonticon-storyteller-title"></i>{{vm.systemNamePlaceHolderText}}</label>
                <span class="nova-helper-text">{{::$root.config.labels['ST_System_Task_Name_Helper_Text']}}</span>
            </div>
            <div id="SystemTaskUploadImage">
                <upload-image data-type-error="typeError" data-size-error="sizeError" data-buttons-container-enabled="true" data-image-container-width-class="file-upload_container" data-image-container-class="file-upload_preview" data-system-task-model="dialogModel.clonedSystemTask" data-image-uploaded="imageUploaded"></upload-image>
            </div>

            <br />
            <div><!-- Show More -->
                <label class="storyteller-label_show-hide"
                       ng-click="vm.showMore('label', $event)"
                       ng-class="{'show' : vm.isShowMore  }">
                    <i class="fonticon-caret-right"></i>
                    <span style="display:inline-block; min-width:80px;">{{vm.isShowMore ? $root.config.labels['ST_Show_Less'] : $root.config.labels['ST_Show_More']}}</span>
                    <i ng-click="vm.showMore('info', $event)" class="fonticon-information-more" ng-class="{'available': dialogModel.clonedSystemTask.description}" title="{{::$root.config.labels['ST_Additional_Info_Tab_Label']}}"></i>
                    <i ng-click="vm.showMore('include', $event)" class="fonticon-include-active" ng-class="{'available': dialogModel.clonedSystemTask.associatedArtifact}" title="{{::$root.config.labels['ST_Include_Tab_Label']}}"></i>
                </label>
                <div class="nova-tabset small-padding storyteller-gwt-tabset" ng-show="vm.isShowMore">
                    <uib-tabset>
                        <uib-tab active="vm.showMoreActiveTab[0]">
                            <uib-tab-heading>
                                <i class="fonticon-information-more fonticon-st-tabs"></i>{{::$root.config.labels['ST_Additional_Info_Tab_Label']}}
                            </uib-tab-heading>
                            <div class="nova-form-group nova-floating-label ui-tinymce-inline-traces">
                                <textarea name="system_task_description" 
                                          rich-text-box-inline-traces 
                                          project-id="{{ vm.isProjectOnlySearch ? vm.processModelService.processModel.projectId : '' }}" 
                                          tinymce-height="52" 
                                          tinymce-style="min-height: 44px;" 
                                          ng-disabled="vm.isReadonly"
                                          ng-class="dialogModel.clonedSystemTask.description ? 'nova-form-control input-is-dirty' : 'nova-form-control'"
                                          ng-model="dialogModel.clonedSystemTask.description"></textarea>
                                <!--<label for="system_task_description" class="nova-label"><i class="fonticon-storyteller-description"></i>{{::$root.config.labels['ST_Description_Label']}}</label>-->
                            </div>
                        </uib-tab>
                        <uib-tab active="vm.showMoreActiveTab[1]">
                            <uib-tab-heading>
                                <i class="fonticon-include-active fonticon-st-tabs"></i>{{::$root.config.labels['ST_Include_Tab_Label']}}
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="nova-form-group nova-floating-label">
                                        <div class="nova-form-group nova-floating-label">
                                            <input type="text" cleartext
                                                   name="include"
                                                   ng-disabled="vm.isReadonly"
                                                   ng-class='dialogModel.clonedSystemTask.associatedArtifact ? "nova-form-control input-is-dirty" : "nova-form-control"'
                                                   ng-blur="vm.cleanIncludeField()"
                                                   ng-focus="vm.prepIncludeField()"
                                                   ng-change="vm.changeIncludeField()"
                                                   id="storyteller-systemtask-include"
                                                   autocomplete="off"
                                                   ng-model='dialogModel.clonedSystemTask.associatedArtifact'
                                                   typeahead-input-formatter="vm.formatIncludeLabel($model)"
                                                   typeahead-editable="false"
                                                   typeahead-min-length="3"
                                                   placeholder="{{::$root.config.labels['ST_Include_Tab_Placeholder']}}"
                                                   uib-typeahead="artifact as artifact.typePrefix + artifact.id + ': ' + artifact.name for artifact in vm.getLinkableArtifacts($viewValue)"
                                                   typeahead-template-url="includeTemplate.html">
                                            <div ng-show="vm.isLoadingIncludes" class="loading"></div>
                                            <div ng-show="vm.isIncludeResultsVisible && vm.isIncludeNoResults && systemTaskForm.include.$invalid">
                                                {{::$root.config.labels['ST_Inline_Traces_Search_No_Matches_Found']}}
                                            </div>
                                            <div ng-show="vm.isIncludeResultsVisible && vm.isIncludeBadRequest && systemTaskForm.include.$invalid">
                                                {{::$root.config.labels['ST_Inline_Traces_Search_Bad_Request']}}
                                            </div>
                                            <!--<label for="storyteller-systemtask-include" class="nova-label"><i class="fonticon-include-active"></i>{{::$root.config.labels['ST_Include_Label']}}</label>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="btn-group btn-block" ng-if="false">
                                        <!-- TODO Not for MDP -->
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="vm.isReadonly">
                                            <div class="dropdown-toggle-label">{{dialogModel.nextNode.id}}{{dialogModel.nextNode ? ': ' : ''}}{{dialogModel.nextNode.name}} </div><span class="pull-right"><span class="caret"></span></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="node in vm.processModelService.getNextNodes(dialogModel.clonedUserTask.model)"><a ng-click="dialogModel.nextNode = node" href="">{{node.id}}: {{node.name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div ng-show="!vm.isSMB">
                        <input id="mentions-search-scope" type="checkbox" ng-model="vm.isProjectOnlySearch" ng-disabled="vm.isReadonly" />
                        <label for="mentions-search-scope" style="font-weight: normal;">{{::$root.config.labels['ST_Search_Project_Scope_Mentions_Includes']}}</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer storyteller-modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">{{::$root.config.labels['App_Button_Cancel']}}</button>
    <button class="btn button-brand-secondary" type="button" ng-click="vm.ok()" ng-disabled="vm.isReadonly">{{::$root.config.labels['App_Button_Ok']}}</button>
    <!--<button id="artifact-property-modal-helper" style="display:none" type="button" ng-click="vm.openPropertyFloatWindow($event)"></button>-->
</div>
