 <div class="file-upload_outer-container">
    <div class="file-upload_container">
        <div class="file-upload_inner">
            <div class="file-upload_preview" ng-show="imageUploaded"></div>
            <div class="file-upload_emptied" ng-show="!imageUploaded">
                <div class="text-center"><i class="fonticon-picture"></i>Reference/Image Mockup Preview</div>
            </div>
            <div class="file-upload__button-bar" ng-if="buttonsContainerEnabled">
                <span class="file-upload__button" id="upload-image-btn" ng-click="uploadImage()" ng-class="{'file-upload__button--disabled': isReadonly}"><i class="fonticon2-upload"></i>{{imageUploaded ? "Change" : "Upload"}}</span>
                <span class="file-upload__button" id="delete-image-btn" ng-click="clearImage()"
                                    ng-class="{'file-upload__button--disabled': !imageUploaded || isReadonly }"><i class="fonticon2-delete"></i>Delete</span>
                <span class="file-upload__button" id="download-image-btn" ng-click="downloadImage()" ng-class="{'file-upload__button--disabled': !imageUploaded }"><i class="fonticon2-download"></i>Download</span>
            </div>
        </div>
    </div>
    <label class="file-upload_left-label" ng-class="{'img-error': typeError}">jpg, png</label>
    <label class="file-upload_right-label" ng-class="{'img-error': sizeError}">Maximum size: 2MB</label>
</div>

<input id="upload-image" type="file" style="display: none;"
               onchange="angular.element(this).scope().fileChanged(this)"/>
