<div class="row">
    <div class="col-sm-7">
        <div class="file-upload_outer-container">
            <div class="file-upload_container">
                <div class="file-upload_inner">
                    <div class="file-upload_preview" ng-show="imageUploaded"></div>
                    <div class="file-upload_emptied" ng-show="!imageUploaded">
                        <div>
                            <i class="fonticon-picture"></i>
                            Reference/Image Mockup Preview
                        </div>
                    </div>
                </div>
            </div>
            <label class="file-upload_left-label" ng-class="{'img-error': typeError}">jpg, png</label>
            <label class="file-upload_right-label" ng-class="{'img-error': sizeError}">Maximum size: 2MB</label>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="buttons-container" ng-if="buttonsContainerEnabled">
            <div class="buttons-inner">
                <div class="buttons-container-inner">
                    <div class="buttons-container-row">
                        <div class="buttons-container-cell buttons-container-cell-bottom">
                            <button id="upload-image-btn" class="btn btn-block button-white" ng-disabled="true" ng-click="uploadImage()">{{imageUploaded ? "Change" : "Upload"}}</button>
                        </div>
                    </div>
                    <div class="buttons-container-row">
                        <div class="buttons-container-cell buttons-container-cell-middle">
                            <button id="delete-image-btn" class="btn btn-block " ng-click="clearImage()" ng-disabled="!imageUploaded || isReadonly" ng-class="{'button-inactive': !imageUploaded, 'button-white' : imageUploaded }">Delete</button>
                        </div>
                    </div>
                    <div class="buttons-container-row">
                        <div class="buttons-container-cell buttons-container-cell-top">
                            <button id="download-image-btn" class="btn btn-block button-white" ng-click="downloadImage()" ng-disabled="!imageUploaded || isReadonly" ng-class="{'button-inactive': !imageUploaded, 'button-white' : imageUploaded }">Download</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <input id="upload-image" type="file" style="display: none;" onchange="angular.element(this).scope().fileChanged(this)" />
    </div>
</div>