<div class="input-group has-messages" ng-if="options.data.primitiveType == primitiveType.Text">
    <div id="{{::id}}" ng-if="(options.data.isMultipleAllowed || options.data.propertyTypePredefined === propertyTypePredefined.Description) && options.data.isRichText"
         class="read-only__field read-only__field--richtext">
        <div class="read-only__richtext-body" ng-bind-html="formattedValue"></div>
    </div>
    <div id="{{::id}}" ng-if="(!options.data.isMultipleAllowed && options.data.propertyTypePredefined !== propertyTypePredefined.Description) && options.data.isRichText"
         class="read-only__field read-only__field--inline-richtext" bp-tooltip="{{tooltip}}" bp-tooltip-truncated="true">
        <div class="read-only__richtext-body" ng-bind-html="formattedValue"></div>
    </div>
    <div id="{{::id}}" ng-if="options.data.isMultipleAllowed && !options.data.isRichText"
         class="read-only__field read-only__field--multiple">
        <div ng-bind-html="formattedValue"></div>
    </div>
    <div id="{{::id}}" ng-if="!options.data.isMultipleAllowed && !options.data.isRichText"
         class="read-only__field read-only__field--simple" bp-tooltip="{{tooltip}}" bp-tooltip-truncated="true">{{formattedValue}}</div>
</div>
<div class="input-group has-messages" ng-if="options.data.primitiveType == primitiveType.Date">
    <div id="{{::id}}" class="read-only__field read-only__field--simple" bp-tooltip="{{tooltip}}" bp-tooltip-truncated="true">{{formattedValue}}</div>
</div>
<div class="input-group has-messages" ng-if="options.data.primitiveType == primitiveType.Number">
    <div id="{{::id}}" class="read-only__field read-only__field--simple" bp-tooltip="{{tooltip}}" bp-tooltip-truncated="true">{{formattedValue}}</div>
</div>
<div class="input-group has-messages" ng-if="options.data.primitiveType == primitiveType.User">
    <div id="{{::id}}" class="read-only__field read-only__field--simple" bp-tooltip="{{tooltip}}" bp-tooltip-truncated="true">{{formattedValue}}</div>
</div>
<div class="input-group has-messages"
     ng-if="options.data.primitiveType == primitiveType.Choice && options.data.isMultipleAllowed">
    <div id="{{::id}}" class="read-only__field read-only__field--multiple">
        <div class="read-only__multichoice" ng-repeat="option in to.options | filter: filterMultiChoice" bp-tooltip="{{option.name}}"
             bp-tooltip-truncated="true">{{option.name}}</div>
    </div>
</div>
<div class="input-group has-messages"
     ng-if="options.data.primitiveType == primitiveType.Choice && !options.data.isMultipleAllowed">
    <div id="{{::id}}" class="read-only__field read-only__field--simple" bp-tooltip="{{tooltip}}" bp-tooltip-truncated="true">{{formattedValue}}</div>
</div>
