<div class="input-group has-messages" ng-if="options.data.primitiveType == primitiveType.Text">
    <div id="{{::id}}" ng-if="(options.data.isMultipleAllowed || options.data.propertyTypePredefined === propertyTypePredefined.Description) && options.data.isRichText"
         class="read-only-input richtext">
        <div class="richtext-body" ng-bind-html="formattedValue"></div>
    </div>
    <div id="{{::id}}" ng-if="(!options.data.isMultipleAllowed && options.data.propertyTypePredefined !== propertyTypePredefined.Description) && options.data.isRichText"
         class="read-only-input richtext inline" bp-tooltip="{{::tooltip}}" bp-tooltip-truncated="true">
        <div class="richtext-body" ng-bind-html="formattedValue"></div>
    </div>
    <div id="{{::id}}" ng-if="options.data.isMultipleAllowed && !options.data.isRichText"
         class="read-only-input multiple">
        <div ng-bind-html="formattedValue"></div>
    </div>
    <div id="{{::id}}" ng-if="!options.data.isMultipleAllowed && !options.data.isRichText"
         class="read-only-input simple" bp-tooltip="{{::tooltip}}" bp-tooltip-truncated="true">{{::formattedValue}}</div>
</div>
<div class="input-group has-messages" ng-if="options.data.primitiveType == primitiveType.Date">
    <div id="{{::id}}" class="read-only-input simple" bp-tooltip="{{::tooltip}}" bp-tooltip-truncated="true">{{::formattedValue}}</div>
</div>
<div class="input-group has-messages" ng-if="options.data.primitiveType == primitiveType.Number">
    <div id="{{::id}}" class="read-only-input simple" bp-tooltip="{{::tooltip}}" bp-tooltip-truncated="true">{{::formattedValue}}</div>
</div>
<div class="input-group has-messages" ng-if="options.data.primitiveType == primitiveType.User">
    <div id="{{::id}}" class="read-only-input simple" bp-tooltip="{{::tooltip}}" bp-tooltip-truncated="true">{{::formattedValue}}</div>
</div>
<div class="input-group has-messages"
     ng-if="options.data.primitiveType == primitiveType.Choice && options.data.isMultipleAllowed">
    <div id="{{::id}}" class="read-only-input multiple">
        <div class="choice" ng-repeat="option in to.options | filter: filterMultiChoice" bp-tooltip="{{option.name}}"
             bp-tooltip-truncated="true">{{option.name}}</div>
    </div>
</div>
<div class="input-group has-messages"
     ng-if="options.data.primitiveType == primitiveType.Choice && !options.data.isMultipleAllowed">
    <div id="{{::id}}" class="read-only-input simple" bp-tooltip="{{::tooltip}}" bp-tooltip-truncated="true">{{::formattedValue}}</div>
</div>
