bp-attachments-panel {
    .button-bar {
        clear: both;
        margin-top: 0;
    }

    .thumb {
        width: 40px;
        height: 40px;
        border: 1px solid $gray;
        margin-bottom: 5px;
    }

    .bp-select .dropdown {
        min-width: 115px;

        .dropdown-menu {
            left: inherit;
            right: 0;
        }

        li > label {
            font-weight: normal;
            padding: 3px 20px;
            white-space: nowrap;
            clear: both;
            display: block;

            &:hover {
                color: $white;
                background-color: $brand-secondary;
                cursor: pointer;
            }

        }
    }

    .file-input {
        display: none;
    }

    .add-empty {
        margin: 30px 0;

        p {
            font-size: 1.2rem;
            color: $gray-darker;
        }
    }
}
