bp-discussion-panel {
    $item-gap: $padding-bigger;

    bp-artifact-discussion-item {
        /*&:hover {
            cursor: pointer;
            background: $gray-lightest;
        }

        &.selected {
            background: $gray-lightest;
            border: 1px solid $brand-secondary;
        }*/
        .username {
            color: $blue-light;
            /*float: left;*/
        }

        .status {
            /*float: right;*/
            text-align: right;
            margin-right: -1* $padding-smaller;
        }

        .discussion-info {
            margin-left: 50px;
            margin-top: -40px;
        }

        .version {
            padding-right: $padding-smaller;
        }

        .inline-block {
            display: inline-block;
        }

        .discussion-button-bar {
            margin-top: $padding-bigger;
            margin-bottom: -1* $padding-smaller;
            padding: $padding-smallest;
            text-align: right;
            /*padding:$padding-smallest;*/
        }

        .disucssion-buttonbar-item {
            font-family: 'bp-font';
            padding: 0 $padding-smaller;
        }

        .reply-count {
            @extend .inline-block;
            @extend .disucssion-buttonbar-item;

            &::before {
                font-size: $font-size-bigger;
            }
        }

        .delete-comment {
            @extend .inline-block;
            @extend .disucssion-buttonbar-item;

            &::before {
                font-size: $font-size-big;
            }
        }

        .edit-comment {
            @extend .inline-block;
            @extend .disucssion-buttonbar-item;

            &::before {
                font-size: $font-size-small;
            }
        }

        .status-icon {

            &:hover {
                cursor: pointer;
            }

            float: right;

            &::before {
                font-size: $font-size-bigger;
            }
        }

        .status-name {
            color: $gray-light;
            @extend .inline-block;
            padding-right: $padding-smaller;
        }

        .reply-link {
            @extend .inline-block;
            border-left: solid 1px #ccc;
            font-size: $font-size-big;
            padding: 0 $padding-smallest 0 $padding-smaller;

            .active {
                color: $blue-light;
                cursor: pointer;
            }

            .inactive {
                color: #AAAAAA;
                cursor: default;
                pointer-events: none;
                text-decoration: none;
            }
        }
    }
}

.btn-new-comment {
    background-color: $gray-lightest;
    color: $blue-light;
    border: solid 1px #ccc;
    padding: $padding-smallest;
}
