bp-discussion-panel {
    $item-gap: $padding-bigger;

    .btn-new-comment {
        background-color: #fff;
        color: $blue-light;
        border: solid 1px $gray-lighter;
        border-radius: 3px;
        padding: 2px $padding-smallest;
        min-width: 0;
    }

    bp-comment-edit {
        .edit-container {
            text-align: center;
            padding: $padding-smallest;
        }

        textarea {
            width: 100%;
            height: 80px;
        }

        .comment-edit-button-bar {
            margin-top: $padding-smallest;
        }

        &.reply {
            margin-bottom: 10px;
        }

        .comment-edit-waiting {
            margin-top: 5px;
            padding: 0;
        }
    }

    .author {
        @include text-ellipsis-flex-width(180px);
        display: inline-block;
        vertical-align: middle;
    }

    .comment {
        word-wrap: break-word;
        line-height: normal;
        overflow: auto;

        ul, ol {
            margin-left: 15px !important;
            padding-left: 10px !important;
        }

        p {
            // margin-left: 0 !important;
        }
    }

    bp-avatar {
        display: inline-block;
        vertical-align: middle;
    }

    .info {
        line-height: $font-size-bigger;
        position: relative;
    }

    .discussion-status {
        @include text-ellipsis-flex-width(90px);
        font-size: $font-size-normal;
        color: $gray-darker;
        font-style: normal;

        &.inactive {
            color: $gray-light;
        }
    }

    .version, .timestamp {
        display: inline-block;
    }

    .version {
        padding-right: $padding-smaller;
        font-size: $font-size-small;
    }

    .reply-count, .delete-comment, .edit-comment {
        font-size: $font-size-normal;

        &.active {
            color: $gray-darker;
        }

        &.disabled {
            opacity: 0.6;
            pointer-events: none;
        }
    }

    .reply-link {
        border-left: solid 1px #ccc;
        font-size: $font-size-normal;
        padding: 5px 0 5px $padding-smaller;
        color: $blue-light;
        cursor: pointer;

        &.inactive {
            color: $gray-light;
            cursor: default;
            pointer-events: none;
            text-decoration: none;
        }
    }

    bp-discussion-reply-item {
        .reply-item {
            margin-left: $padding-smaller !important;
            background-color: $blue-lightest;
        }

        .reply-separator {
            width: 2px;
            height: $item-gap;
            background: $gray-lighter;
            position: absolute;
            top: -$item-gap;
            left: 28px;
        }

        .author {
            @include text-ellipsis-flex-width(160px);
        }

        .show-more {
            background-image: linear-gradient(to bottom, transparent 0%, $blue-lightest 70%);
        }
    }

    bp-artifact-discussion-item, bp-discussion-reply-item {
        .comment-editing {
            padding: 0;
        }

        .button-bar i {
            font-style: normal;
        }
    }

    .mce-btn button {
        padding: 2px 3px;
        font-size: 12px;
    }

    .mce-ico {
        font-size: 13px;
        width: 14px;
    }

    i.mce-ico.mce-i-font-size::before {
        content: "\e241";
        font-family: 'Glyphicons Halflings' !important;
    }

    i.mce-ico.mce-i-format::before {
        content: "\e81c";
        font-family: 'bp-font2' !important;
    }
}
