bp-properties-panel {
    $property-min-height: 28px;
    $page-body-min-width: 335px;
    $properties-min-width: $page-body-min-width - 40px - 30px - 2px; //263px
    $property-horiz-spacing: 10px;
    $property-label-width: 100px;
    $property-width: $properties-min-width + $property-label-width - 2 * $property-horiz-spacing - 2px; // 345px
    $property-input-width: $property-width - 2 * $property-horiz-spacing - $property-label-width + 15px; // 240px
    $property-left-margin: 11px;
    $property-input-icon-width: 40px;
    $property-input-with-icon-width: $property-input-width - $property-input-icon-width;
    $tinymce-toolbar-height: 23px;

    .tab-slider__next,
    .tab-slider__prev {
        font-size: $font-size-smallest !important;
        padding-top: 5px !important;
    }

    .tinymce-body-wrapper {
        max-width: $property-input-width;
    }
    .properties {
        min-width: 100%;
        border: none;
    }

    .tab-content {
        display: block;
    }

    .artifact-overview {

        > .content {
            border: none;
            padding: 0 0 10px;
        }
    }

    .formly {
        min-width: 100%;
        margin: 0;

        .formly-field-bpFieldInheritFrom {
            min-width: $property-input-width;
            .inheritance-group {
                flex-wrap: wrap;
                .inheritance-path {
                    min-width: $property-input-width;
                }
                .bp-input-group-addon {
                    margin-top: 10px;
                }
            }
        }

        &::after,
        &::before {
            width: $property-width;
        }

        .formly-field {
            display: block;
            width: 100%;
            margin: 0 0 12px;

            .has-messages::after {
                content: " ";
                display: block;
                clear: both;
            }

            .has-messages {
                display: block;

                input.has-icon {
                    max-width: $property-input-with-icon-width;
                    width: $property-input-with-icon-width;
                }
            }

            .formly-label {
                font-weight: 600;
                width: $property-input-width;
                margin-top: 0px;
            }

            input,
            textarea,
            select {
                max-width: $property-input-width;
                width: $property-input-width;
            }

            &.formly-field-bpFieldSelectMulti,
            &.formly-field-bpFieldUserPicker {
                .ui-select-wrapper {
                    max-width: $property-input-width;
                    width: $property-input-width;
                }
            }

            .ui-select-single {
                min-width: $properties-min-width - 12px;

                .ui-select-toggle {
                    max-width: $property-input-width;
                    width: $property-input-width;
                }

                .ui-select-match-item-chosen {
                    width: #{$property-input-width - 30px};
                }

                .ui-select-choices {
                    width: $property-input-width;
                }

                .ui-select-search {
                    //min-width: 100%;
                    min-width: initial;
                }
            }

            .ui-select-multiple {
                width: #{$property-input-width - 20px};
                max-width: #{$property-input-width - 20px};

                > div {
                    width: $property-input-width;
                }

                .ui-select-choices {
                    width: $property-input-width;
                }

                .ui-select-no-choice {
                    width: $property-input-width;
                }
            }

            .form-tinymce {
                //min-width: $property-input-width;
            }
        }

        .formly-field-bpFieldTextRTFInline,
        .formly-field-bpFieldTextRTF {
            .mce-toolbar-grp {
                min-width: 244px;
                top: -26px;

                .mce-btn button {
                    line-height: 15px;
                    padding: 2px 1px;
                }
            }
        }
        .formly-field-bpFieldTextRTFInline {
            .mce-toolbar-grp {
                min-width: #{$property-input-width - 2px};
            }

            .tinymce-toolbar {
                height: #{$tinymce-toolbar-height + 2px};
                margin: -#{$tinymce-toolbar-height + 2px} 0 0;
            }

            .mce-abs-layout,
            .mce-panel {
                // since it's hidden on init, tinyMCE cannot calculate the dimensions by itself
                height: $tinymce-toolbar-height !important;
                width: #{$property-input-width - 2px} !important;
            }
        }
    }

    .single-column-property .formly .formly-field label {
        width: $property-input-width;
    }

    .tab-pane {
        .formly {
            min-width: 100%;
        }
    }
}
