bp-properties-panel {

    $page-body-min-width: 335px;
    $properties-min-width: $page-body-min-width - 40px - 30px - 2px; //263px
    $property-horiz-spacing: 10px;
    $property-label-width: 100px;
    $property-width: $properties-min-width + $property-label-width - 2 * $property-horiz-spacing - 2px; // 345px
    $property-input-width: $property-width - 2 * $property-horiz-spacing - $property-label-width + 15px; // 240px
    $property-left-margin: 11px;

    .properties {
        min-width: $properties-min-width;
    }

    .tab-content {
        display: block;
    }


    .artifact-overview {

        > .content {
            border: none;
            padding: 0px 0px;
        }

        .nav-tabs {
            margin-left: $property-left-margin;
        }

        .tab-pane {
            margin-left: $property-left-margin;
        }
    }

    .formly {
        min-width: $property-width - $property-label-width;
        margin: 0px;

        .formly-field-bpFieldInheritFrom {            
            min-width: $property-input-width;
            .inheritance-group {
                display: block;
                > div{
                    display: flex;
                    padding-top: $property-padding-default;
                }
                .inheritance-path {
                    min-width: $property-input-width;
                }
            }
        }

        &::after,
        &::before {
            width: $property-width;
        }

        .formly-field {
            width: $property-width;
            margin: 0px;

            .has-messages {
                display: block;
            }

            label {
                font-weight: 600;
                width: $property-input-width;
            }

            input,
            textarea,
            select {
                max-width: $property-input-width;
                width: $property-input-width;
            }

            .ui-select-single {
                .ui-select-toggle {
                    max-width: $property-input-width;
                    width: $property-input-width;
                }

                .ui-select-match-item-chosen {
                    width: #{$property-input-width - 30px};
                }

                .ui-select-choices {
                    width: $property-input-width;
                }

                .ui-select-search {
                    min-width: $property-input-width;
                }
            }

            .ui-select-multiple {
                width: #{$property-input-width - 20px};
                max-width: #{$property-input-width - 20px};

                > div {
                    width: $property-input-width;
                }

                .ui-select-choices {
                    width: $property-input-width;
                }

                .ui-select-no-choice {
                    width: $property-input-width;
                }
            }

            .read-only-input {


                &.simple,
                &.multiple {
                    max-width: $property-input-width;
                    width: $property-input-width;
                }

                &.richtext {
                    min-width: $property-input-width;
                }
            }

            .form-tinymce {
                min-width: $property-input-width;
            }
        }
    }

    .single-column-property .formly .formly-field label {
        width: $property-input-width;
    }

    .tab-pane {
        .formly {
            min-width: $property-input-width;
        }
    }

    .uib-datepicker-popup {

        table.uib-daypicker,
        table.uib-monthpicker,
        table.uib-yearpicker {
            width: $property-input-width;
        }
    }
}
