bp-relationships-panel {
    .tabs{
        padding-bottom:10px; 
        padding-left:10px;
        width:100%;
    }
    bp-artifact-relationship-item {

         .utility-panel-artifact-item {
             padding: 0;     
    }

        [class^="fonticon-"],
        [class*=" fonticon-"] {
            &::before {
                font-size: 1.5rem;
            }
        }

        .details{

            display:inline-block; 
            padding: 7px 10px;
     
            .trace-icon{
            width:2em;
            height:2em;
            border: 2px solid $gray-lighter;
            border-radius: 50%;
            float:left;
            line-height:2em;
            color:blue;
        }

        .trace-icon-regular{           
            color:blue;
          }
        
         .trace-icon-suspect{           
            background-color:red;
            color:white;
         }

        .inner-details{
            width:80%;
            float:right;
            .desc-visible{
                display:block;
            }
            .desc-hidden{
                display:none;
            }
        }
        }
        .icons{
            /*position:absolute;*/ 
            display:inline-block; 
            width:100%; 
            /*bottom:0; 
            left:0;*/ 
            padding:5px;
            border-top: 1px solid $gray-light;
            div{
            float:right;            
             }
        }
    }
}
