<div>
    <div>
        <bp-avatar icon=""
                   name="{{ $ctrl.discussionInfo.userName }}"
                   color-base="{{ $ctrl.discussionInfo.userId + $ctrl.discussionInfo.userName }}">
        </bp-avatar>
    </div>
    <div class="discussion-info">
        <div class="status">
            <div class="status-name" bp-tooltip="{{ $ctrl.discussionInfo.status }}">{{ $ctrl.discussionInfo.status }}</div>
            <div ng-class="$ctrl.discussionInfo.expanded ? 'expand-icon fonticon-circle-up expanded' : 'expand-icon fonticon-circle-up'"
                 ng-click="$ctrl.getReplies()">
            </div>
        </div>
        <div>
            <div class="username" bp-tooltip="{{ $ctrl.discussionInfo.userName }}">{{ $ctrl.discussionInfo.userName }}</div>
        </div>
        <div ng-bind-html="$ctrl.discussionInfo.comment"></div>
        <div>
            <div class="version inline-block">v{{$ctrl.discussionInfo.version}}</div>
            <div class="timestamp inline-block">{{ $ctrl.discussionInfo.lastEditedOn | date:'medium' }}</div>
        </div>
    </div>
    <div class="button-bar discussion-button-bar">
        <div bp-tooltip="View comments" class="reply-count fonticon-comment"></div>
        <div bp-tooltip="Delete comment" class="delete-comment fonticon-delete-filled"></div>
        <div bp-tooltip="Edit comment" class="edit-comment fonticon-edit-alt"></div>
        <div class="reply-link" bp-tooltip="Reply to the comment">
            <a ng-click="$ctrl.newReplyClick()" ng-class="$ctrl.discussionInfo.isClosed ? 'inactive' : 'active'">
                Reply
            </a>
        </div>
    </div>
</div>