<div class="status"
     bp-tooltip="{{$ctrl.discussionInfo.expanded ? $ctrl.localization.get('App_UP_Discussions_Hide_Replis') : $ctrl.localization.get('App_UP_Discussions_Show_Replies')}}"
     ng-click="$ctrl.getReplies()"
     ng-class="{'expanded': $ctrl.discussionInfo.expanded}">
    <span>{{ $ctrl.discussionInfo.status }}</span>
    <i class="icon fonticon-circle-up"></i>
</div>

<bp-avatar ng-class="{ 'guest': $ctrl.discussionInfo.isGuest}"
           name="{{ $ctrl.discussionInfo.userName }}"
           color-base="{{ $ctrl.discussionInfo.userId + $ctrl.discussionInfo.userName }}">
</bp-avatar>

<div class="info">
    <div class="author" bp-tooltip="{{ $ctrl.discussionInfo.userName }}">{{ $ctrl.discussionInfo.userName }}</div>
    <div class="comment" ng-bind-html="$ctrl.getTrustedCommentHtml()"></div>
    <div class="version">v{{$ctrl.discussionInfo.version}}</div>
    <div class="timestamp"><i class="icon fonticon-clock"></i>{{ $ctrl.discussionInfo.lastEditedOn | date:'medium' }}</div>
</div>

<div class="button-bar">
    <i bp-tooltip="{{$ctrl.localization.get('App_UP_Discussions_View_Comments_Tooltip')}}"
       class="reply-count icon fonticon-comment"
       ng-class="{'active' : $ctrl.discussionInfo.repliesCount}">{{$ctrl.discussionInfo.repliesCount}}</i>

    <i bp-tooltip="{{$ctrl.localization.get('App_UP_Discussions_Delete_Comment_Tooltip')}}"
       class="delete-comment icon fonticon-delete-filled"></i>

    <i bp-tooltip="{{$ctrl.localization.get('App_UP_Discussions_Edit_Comment_Tooltip')}}"
       class="edit-comment icon fonticon-edit-alt"></i>

    <a class="reply-link"
       bp-tooltip="{{$ctrl.localization.get('App_UP_Discussions_Reply_Tooltip')}}"
     ng-click="$ctrl.newReplyClick()"
       ng-class="{ 'inactive' : $ctrl.discussionInfo.isClosed }">Reply</a>
</div>
