<div class="navbar-toolbar"><!-- TODO: localization -->
    <ul class="nav navbar-nav">
        <li uib-dropdown>
            <a href="#" uib-dropdown-toggle><i class="fonticon fonticon-project"></i><b class="caret"></b><span>Project</span></a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.execute($event)">Action #1</a></li>
                <li><a href="#" ng-click="$ctrl.execute($event)">Action #2</a></li>
            </ul>
        </li>
        <li>
            <a href="#" ng-click="$ctrl.execute($event)"><i class="fonticon fonticon-save-1"></i><span>Save All</span></a>
        </li>
        <li>
            <a href="#" ng-click="$ctrl.execute($event)"><i class="fonticon fonticon-error"></i><span>Discard All</span></a>
        </li>
        <li>
            <a href="#" ng-click="$ctrl.execute($event)"><i class="fonticon fonticon-upload-cloud"></i><span>Publish All</span></a>
        </li>
        <li>
            <a href="#" ng-click="$ctrl.execute($event)"><i class="fonticon fonticon-refresh"></i><span>Refresh All</span></a>
        </li>
        <li class="separator"></li>
        <li>
            <a href="#" ng-click="$ctrl.execute($event)"><i class="fonticon fonticon-delete"></i><span>Delete</span></a>
        </li>
    </ul>
</div>
