<div class="collapse navbar-collapse">

    <ul class="nav navbar-nav">
        <li><a href="#" ng-click="$ctrl.execute($event)" >Project</a></li>
        <li dropdown>
            <a href="#" dropdown-toggle>Open <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.execute($event)">Action #1</a></li>
                <li><a href="#" ng-click="$ctrl.execute($event)">Action #2</a></li>
            </ul>
        </li>
        <li dropdown>
            <a href="#" dropdown-toggle>Save <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.execute($event)">Action #1</a></li>
                <li><a href="#" ng-click="$ctrl.execute($event)">Action #2</a></li>
            </ul>
        </li>
        <li dropdown>
            <a href="#" dropdown-toggle>Discard <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.execute($event)">Action #1</a></li>
                <li><a href="#" ng-click="$ctrl.execute($event)">Action #2</a></li>
            </ul>
        </li>
        <li><a href="#" ng-click="$ctrl.execute($event)">Restore</a></li>
        <li><a href="#" ng-click="$ctrl.execute($event)">Publish</a></li>
        <li dropdown>
            <a href="#" dropdown-toggle>Delete <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$ctrl.execute($event)">Action #1</a></li>
                <li><a href="#" ng-click="$ctrl.execute($event)">Action #2</a></li>
            </ul>
        </li>

    </ul>
</div>
