@import '../../../../styles/settings/colors';

.collapsible__show-more {
    background-image: linear-gradient(to bottom, rgba($white, 0) 0%, $white 70%);
    bottom: 0;
    display: none;
    padding-top: 50px;
    position: absolute;
    width: 100%;
}

.collapsible__show-less {
    display: block;
}

.collapsible__expanded {
    overflow-y: auto;
}

.collapsible__collapsed {
    overflow: hidden !important;
    position: relative;

    .collapsible__show-less {
        display: none;
    }

    .collapsible__show-more {
        display: block;
    }
}

.collapsible__button {
    border: 0;
    color: $blue-light;
    line-height: initial;
    padding: 0;
}
