body {
    margin: -5px;
}

.diamond {
    width: 200px;
    height: 200px;
    background-color: beige;
    transform: rotate(135deg);
    margin-top: 100px;
    margin-left: 100px;
    transition: transform 2s;

}
.diamond:hover {
    transform: scale(2);
    transition: transform 2s;

}
