<div class="filter-bar" >
    <bp-select ng-model="$ctrl.option"
               options="$ctrl.options">
    </bp-select>
</div>
<div class="tabs">
    <uib-tabset active="$ctrl.categoryFilter">
        <uib-tab index="0" heading="{{::$ctrl.localization.get('App_UP_Relationships_All') }}"></uib-tab>     
        <uib-tab  index="1" heading="{{::$ctrl.localization.get('App_UP_Relationships_Traces') }}"></uib-tab>
        <uib-tab index="2" heading="{{::$ctrl.localization.get('App_UP_Relationships_Association') }}"></uib-tab>  
    </uib-tabset>
</div>
<div class="scrollable-content" perfect-scrollbar>
    <div ng-if="$ctrl.categoryFilter!==2" ng-repeat="artifact in $ctrl.artifactList.manualTraces" 
         class="artifact-item-wrapper">
        <div class="separator"></div>
        <bp-artifact-relationship-item artifact="::artifact"></bp-artifact-relationship-item>
    </div>
    <div ng-if="$ctrl.categoryFilter!==1" ng-repeat="artifact in $ctrl.artifactList.otherTraces" 
         class="artifact-item-wrapper">
        <div class="separator"></div>
        <bp-artifact-relationship-item artifact="::artifact"></bp-artifact-relationship-item>
    </div>
</div>


