<!--<div ng-if="!($ctrl.manualTraces.length || $ctrl.associations.length || $ctrl.documentReferences.length || $ctrl.actorInherits.length) && !$ctrl.isLoading"
     class="empty-state">
        <p>{{::$ctrl.localization.get('App_UP_Relationships_No_Relationships') }}</p>
        <div ng-if="$ctrl.item && !($ctrl.manualTraces.length || $ctrl.associations.length || $ctrl.documentReferences.length || $ctrl.actorInherits.length) && !$ctrl.isLoading" class="add-empty">
            <p>{{ $ctrl.localization.get('App_UP_Discussions_Introduction_Message') }}</p>
            <button ng-disabled="!$ctrl.canCreate" class="btn btn-secondary btn-small" type="button" ng-click="$ctrl.newRelationshipClick()">{{ $ctrl.localization.get('App_UP_Discussions_Start_Discussion') }}</button>
    </div>
</div>-->

<div ng-if="!($ctrl.manualTraces.length || $ctrl.associations.length || $ctrl.documentReferences.length || $ctrl.actorInherits.length) && !$ctrl.isLoading"
     class="empty-state">

    <p>{{::$ctrl.localization.get('App_UP_Relationships_No_Relationships') }}</p>

    <div class="add-empty" ng-if="$ctrl.item && !($ctrl.manualTraces.length || $ctrl.associations.length || $ctrl.documentReferences.length || $ctrl.actorInherits.length) && !$ctrl.isLoading">
        <p>{{ $ctrl.localization.get('App_UP_Discussions_Introduction_Message') }}</p>
        <label class="btn btn-secondary btn-small" ng-class="{'disabled': $ctrl.isItemReadOnly }">           
            {{::$ctrl.localization.get('App_UP_Attachments_Add_Attachment') }}
        </label>       
    </div>
</div>

<div class="icons" ng-if="!$ctrl.isLoading && ($ctrl.manualTraces.length || $ctrl.otherTraces.length) && $ctrl.selectedTraces[$ctrl.artifactId].length>0 && $ctrl.categoryFilter === 1">
    <div>
        {{::$ctrl.localization.get('App_UP_Relationships_Selected') }}&nbsp;{{$ctrl.selectedTraces[$ctrl.artifactId].length}}
    </div>
    <div>
        <i class="fonticon-exchange"></i>
        <i class="fonticon-flag-1"></i>
        <i class="fonticon-delete-filled"></i>
    </div>
</div>
<div class="filter-bar" ng-if="!$ctrl.isLoading &&  ($ctrl.manualTraces.length || $ctrl.otherTraces.length)">

    <bp-select ng-model="$ctrl.option"
               options="$ctrl.options">
    </bp-select>
    <div class="tabs">
        <uib-tabset active="$ctrl.categoryFilter">
            <uib-tab index="0" heading="{{::$ctrl.localization.get('App_UP_Relationships_All') }}"></uib-tab>
            <uib-tab index="1" heading="{{::$ctrl.localization.get('App_UP_Relationships_Traces') }}"></uib-tab>
            <uib-tab index="2" heading="{{::$ctrl.localization.get('App_UP_Relationships_Association') }}"></uib-tab>
        </uib-tabset>
    </div>
</div>

<div ng-if="!$ctrl.isLoading && ($ctrl.manualTraces.length || $ctrl.otherTraces.length)"
     class="scrollable-content" perfect-scrollbar>

    <h6 ng-if="$ctrl.manualTraces.length && $ctrl.categoryFilter !== 2" class="util-panel-heading">{{::$ctrl.localization.get('App_UP_Relationships_Traces') }}</h6>
    <div ng-if="$ctrl.categoryFilter!==2">
        <div ng-repeat="artifact in $ctrl.manualTraces"
             class="artifact-item-wrapper">
            <div class="separator"></div>
            <bp-artifact-relationship-item artifact="::artifact" selectable="{{$ctrl.categoryFilter === 1}}" selected-traces="$ctrl.selectedTraces[$ctrl.item.id]"></bp-artifact-relationship-item>
        </div>
    </div>
    <div ng-if="!$ctrl.manualTraces.length && $ctrl.categoryFilter ===1"
         class="empty-state">{{::$ctrl.localization.get('App_UP_Relationships_No_Traces') }}</div>
    <h6 ng-if="$ctrl.otherTraces.length && $ctrl.categoryFilter !== 1" class="util-panel-heading util-heading-other">{{::$ctrl.localization.get('App_UP_Relationships_Association') }}</h6>

    <h6 ng-if="$ctrl.associations.length && $ctrl.categoryFilter !== 1">{{::$ctrl.localization.get('App_UP_Relationships_Subheading_Association') }}</h6>
    <div ng-if="$ctrl.categoryFilter!==1">
        <div ng-repeat="artifact in $ctrl.associations"
             class="artifact-item-wrapper">
            <div class="separator"></div>
            <bp-artifact-relationship-item artifact="::artifact" ></bp-artifact-relationship-item>
        </div>
    </div>
    <h6 ng-if="$ctrl.actorInherits.length && $ctrl.categoryFilter !== 1">{{::$ctrl.localization.get('App_UP_Relationships_Subheading_Actor_Inherits') }}</h6>
    <div ng-if="$ctrl.categoryFilter!==1">
        <div ng-repeat="artifact in $ctrl.actorInherits"
             class="artifact-item-wrapper">
            <div class="separator"></div>
            <bp-artifact-relationship-item artifact="::artifact" ></bp-artifact-relationship-item>
        </div>
    </div>
    <h6 ng-if="$ctrl.documentReferences.length && $ctrl.categoryFilter !== 1">{{::$ctrl.localization.get('App_UP_Relationships_Subheading_Document_Reference') }}</h6>
    <div ng-if="$ctrl.categoryFilter!==1">
        <div  ng-repeat="artifact in $ctrl.documentReferences"
             class="artifact-item-wrapper">
            <div class="separator"></div>
            <bp-artifact-relationship-item artifact="::artifact" ></bp-artifact-relationship-item>
        </div>
    </div>
    <div ng-if="!($ctrl.associations.length || $ctrl.documentReferences.length || $ctrl.actorInherits.length) && $ctrl.categoryFilter ===2"
         class="empty-state">{{::$ctrl.localization.get('App_UP_Relationships_No_Association') }}</div>
</div>

<div ng-if="$ctrl.isLoading" class="app-loading">
    <span class="glyphicon glyphicon-refresh spin"></span>
</div>


