<!-- begin #sidebar-right -->
<div id="sidebar-right" class="sidebar sidebar-right" ng-controller="rightSidebarController">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar-nav -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="width-half active"><a href="#" data-target="#today" data-toggle="tab">Today</a></li>
            <li class="width-half"><a href="#" data-target="#notifications" data-toggle="tab">Notifications</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="today">
                <ul class="nav">                    
                    <li class="divider"></li>
                </ul>
            </div>
            <div class="tab-pane" id="notifications">
                <ul class="nav">
                    <li class="divider"></li>
                </ul>
            </div>
        </div>
        <!-- end sidebar-nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg sidebar-right"></div>
<!-- end #sidebar-right -->
	
