<div>
    <div class="modal-header storyteller-modal-header storyteller-gt_modal-header">
        <h5 class="modal-title storyteller-gwt_modal-title">

            <div class="storyteller-gwt_title-gwt">{{wingCtrl.isLeftWing === "true" ?
                $root.config.labels['ST_Given_Label'] : $root.config.labels['ST_Then_Label']}}
            </div>
            <div class="storyteller-gwt_title-generated">{{wingCtrl.givenOrThen}}</div>
        </h5>
    </div>
    <div class="storyteller-gt_image-container">
        <zoomable-image class="img-responsive preview-image-placeholder"
                        enable-zoom="!!wingCtrl.wingTask.associatedImageUrl"
                        image-src="{{wingCtrl.wingTask.associatedImageUrl ? wingCtrl.wingTask.associatedImageUrl : '/novaweb/static/bp-process/images/image-placeholder.png'}}"
                        image-alt="{{wingCtrl.wingTask.action}}"></zoomable-image>
    </div>
</div>
