<html>
<head>
<style>
.userlist *,
.userdetails{
  color: #fff;
  font: 12px Arial, sans-serif;
}
.userlist{
  margin: 0;
  padding: 0;
}
template{
  display:none;
}
.userlist li{
  padding: 10px;
  border-bottom: 1px solid #555;
  cursor: pointer;
  list-style-type: none;
}

.userlist li:hover{
  background: #666;
}

.userlist li.selected{
  background: orange;
  font-weight: bold;
}

.userdetails{
  padding: 10px;
  overflow: hidden;
}

.userdetails img{
  float: left;
  margin-right: 10px;
}

.userdetails h2{
  margin-top: 0;
}
</style>
</head>
<body>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//golden-layout.com/assets/js/goldenlayout.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-base.css" />
<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-dark-theme.css" />




<template type="text/html" id="userlistTemplate">
  <ul ng-controller="userlistController" class="userlist">
    <li ng-repeat="user in users" 
        ng-click="select( user )"
        ng-class="{selected:user.isSelected}">
      {{user.name}}
    </li>
  </ul>
</template>

  <template type="text/html" id="userDetailTemplate">
    <div ng-controller="userdetailsController" class="userdetails">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/152047/{{user.img}}" width="100" height="100" />
      <h2>{{user.name}}</h2>
      <p>{{user.street}}</p>
    </div>
</template>

<script>
angular.module('userlist', [] )
  .controller('userlistController', function( $scope, $timeout, container, state ) {

    var selectedUser = {};

    $scope.users = [
      { name: 'Jackson Turner', street: '217 Tawny End', img: 'men_1.jpg' },
      { name: 'Megan Perry', street: '77 Burning Ramp', img: 'women_1.jpg' },
      { name: 'Ryan Harris', street: '12 Hazy Apple Route', img: 'men_2.jpg' },
      { name: 'Jennifer Edwards', street: '33 Maple Drive', img: 'women_2.jpg' },
      { name: 'Noah Jenkins', street: '423 Indian Pond Cape', img: 'men_3.jpg' }
    ];

    $timeout(function(){
      $scope.select( $scope.users[ state.selectedUserIndex ] );
    });

    $scope.select = function( user ) {
      selectedUser.isSelected = false;
      user.isSelected = true;
      selectedUser = user;
      container.extendState({ selectedUserIndex: $scope.users.indexOf( user ) });
      container.layoutManager.eventHub.emit( 'userSelected', user );
    };
  });

angular.module('userdetails', [] )
  .controller('userdetailsController', function( $scope, container, state ) {
    $scope.user = state.user || null;

    container.layoutManager.eventHub.on( 'userSelected', function( user ){
      $scope.user = user;
      container.extendState({ user: user });
      $scope.$apply();
    });
  });


var AngularModuleComponent = function( container, state ) {
  var html = $( '#' + state.templateId ).html(),
    element = container.getElement();
  
  element.html( html );

  angular
    .module( state.module )
    .value( 'container', container )
    .value( 'state', state );

  angular.bootstrap( element[ 0 ], [ state.module ] );
};

var myLayout = new GoldenLayout({
  content:[{
    type: 'row',
    content: [{
      width: 20,
      title: 'Registered Users',
      type: 'component',
      componentName: 'angularModule',
      componentState: {
        module: 'userlist',
        templateId: 'userlistTemplate',
        selectedUserIndex: 2
      }
    },{
      type: 'component',
      title: 'Selected User',
      componentName: 'angularModule',
      componentState: {
        module: 'userdetails',
        templateId: 'userDetailTemplate'
      }
    }]
  }]
});

myLayout.registerComponent( 'angularModule', AngularModuleComponent );
myLayout.init();
</script>
</body>
</html>