<div class="bp-goto__search">
    <input
        class="bp-goto__input"
        bp-filtered-input="$ctrl.numbersOnlyPattern"
        bp-max-length="10"
        type="text"
        ng-model="$ctrl.gotoValue"
        ng-keypress="$ctrl.onKeypress($event)"
        ng-blur="$ctrl.hideSearch()"
        placeholder="Enter an ID...">
    <i class="bp-goto__clear-search fonticon-error" ng-if="$ctrl.gotoValue" ng-mousedown="$ctrl.onClearInput($event)"></i>
</div>

<a class="bp-goto__button" ng-click="$ctrl.showSearch()">
    <i class="bp-goto__button-icon fonticon fonticon2-relationship-right"></i>
    <span class="bp-goto__button-label">Go to</span>
</a>
