@import "../../../../styles/settings/variables";
@import "../../../../styles/settings/colors";
@import "../../../../styles/settings/typography";

.bp-goto {
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    &__search {
        transition: opacity 0.5s ease-out;
        position: absolute;
        opacity: 0;
        display: inline-block;
    }

    &__line {
        transition: width 0.5s ease-out;
        height:1px;
        overflow: hidden;
        border-bottom: 1px solid $brand-secondary;
        width: 50px;
    }

    &__input {
        background: none;
        height: 40px;
        width: 50px;
        padding: 10px 0 0 28px;
        color: $gray-darkest;
        border: none;
        margin: 0 0 3px 5px;

        &:focus {
            outline: none;
        }
    }

    &__clear-search {
        cursor: pointer;
        position: absolute;
        color: $gray-light;
        top: 7px;
        right: 0;
        height: 34px;
        padding-top: 8px;

        &::before {
            font-size: 2.2rem !important;
        }
    }

    &__button {
        align-items: center;
        align-self: center;
        background: transparent;
        border: 0;
        box-sizing: border-box;
        color: $gray-dark;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: $toolbar-height;
        line-height: normal;
        margin: 0;
        outline: none;
        padding: 0;
        position: relative;
        text-align: center;
        user-select: none;
        width: 50px;

        &:focus,
        &:hover {
            background-color: $nav-link-hover-bg;
            color: $brand-secondary;
        }
    }

    &__button-label {
        display: block;
        font-size: $font-size-smaller;
        font-weight: $font-weight-normal;
        line-height: .9rem;
        margin: 2px 0 0;
        max-width: 100%;
        padding: 0 2px;
    }

    &__button-icon::before {
        font-size: 22px !important;
    }

    &__button-icon {
        display: inline-block;
        margin: 5px 0 0;
        padding: 0;
        transition: all .3s ease-out;
    }
}

.bp-goto--active {
    .bp-goto__search {
        opacity: 1;
    }

    .bp-goto__input {
        width: 170px;
    }

    .bp-goto__line {
        width: 170px;
    }

    .bp-goto__button {
        height: inherit;
        margin-top: 10px;
        text-align: left;
        width: 30px;

        &:hover,
        &:focus {
            background: none;
        }
    }

    .bp-goto__button-label {
        display: none;
    }

    .bp-goto__button-icon {
        color: $brand-secondary;
        padding-left: 5px;
    }
}
