<div class="modal-header">
    <a href="#" ng-if="ctrl.hasCloseButton" class="modal-close" ng-click="ctrl.cancel()"><i class="fonticon-close"></i></a>
    <h3 class="modal-title"><i class="fonticon-information"></i><span ng-bind="ctrl.title"></span></h3>
</div>
<div class="modal-body">
    <div class="nova-message"><span ng-bind-html="ctrl.msg"></span></div>
</div>
<div class="modal-footer">
    <div class="nova-form-group nova-form-buttons">
        <button class="btn btn-secondary" ng-click="ctrl.cancel()"><span ng-bind="ctrl.cancelButtonName"></span></button>
        <button class="btn btn-primary" ng-click="ctrl.accept()"><span ng-bind="ctrl.acceptButtonName"></span></button>
    </div>
</div>
