<div class="inheritance-group inheritance-group-wrapper">
    <span class="actor-image-wrapper">
        <label ng-if="getImageSource()"
               ng-style="{'background-image': 'url(' + getImageSource() + ')'}">
            <input bp-file-upload="onFileSelect(files, callback)" type="file" accept="image/jpeg, image/jpg, image/png"
                   ng-disabled="to.disabled|| to.isReadOnly">
        </label>
        <span ng-if="!getImageSource()"></span>
    </span>
    <i ng-show="getImageSource()" class="icon fonticon2-delete" bp-tooltip="Delete"
       ng-click="onActorImageDelete(to.disabled || to.isReadOnly)"
       ng-class="{disabled: to.disabled|| to.isReadOnly}"></i>
    <label>
        <input bp-file-upload="onFileSelect(files, callback)" type="file" accept="image/jpeg, image/jpg, image/png"
               ng-disabled="to.disabled || to.isReadOnly">
        <i ng-hide="getImageSource()" bp-tooltip="Add"
           ng-class="{disabled: to.disabled|| to.isReadOnly}"
           class="glyphicon glyphicon-plus image-actor-group"></i>
    </label>
</div>
