<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".sql" #>

-- --------------------------------------------------
-- Set the DB
-- --------------------------------------------------
SET QUOTED_IDENTIFIER ON;
GO
USE [Blueprint_FileStorage]; -- REPLACE --
GO
SET NOCOUNT ON;
GO
-- --------------------------------------------------

<#= System.IO.File.ReadAllText ( this.Host.ResolvePath ( @"Scripts\CompatibilityLevel.sql" ) ) #>

<#= System.IO.File.ReadAllText ( this.Host.ResolvePath ( @"Migration\7.0.1.0\7.0.1.0.sql" ) ) #>
<#= System.IO.File.ReadAllText ( this.Host.ResolvePath ( @"Migration\7.1.0.0\7.1.0.0.sql" ) ) #>
<#= System.IO.File.ReadAllText ( this.Host.ResolvePath ( @"Migration\7.2.0.0\7.2.0.0.sql" ) ) #>
<#= System.IO.File.ReadAllText ( this.Host.ResolvePath ( @"Migration\7.3.0.0\7.3.0.0.sql" ) ) #>
<#= System.IO.File.ReadAllText ( this.Host.ResolvePath ( @"Migration\7.4.0.0\7.4.0.0.sql" ) ) #>

<#= System.IO.File.ReadAllText ( this.Host.ResolvePath ( @"Procedures.sql" ) ) #>