<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".sql" #>

-- --------------------------------------------------
-- Set the DB
-- --------------------------------------------------
SET QUOTED_IDENTIFIER ON;
GO
USE [Blueprint_FileStorage]; -- REPLACE --
GO
SET NOCOUNT ON;
GO
-- --------------------------------------------------



