<div class="storyteller-gwt">
    <div ng-show="dialogModel.isUserSystemProcess" class="storyteller-gwt_left-wing">
        <uib-carousel no-wrap="false" active="active_previous">
            <uib-slide ng-repeat="systemTask in dialogModel.previousSytemTasks" index="$index">
                <preview-wing is-left-wing="true" system-task-model="systemTask"></preview-wing>
            </uib-slide>
        </uib-carousel>
        <div class="modal-footer"></div>
    </div>

    <div class="storyteller-preview-center-pane">
        <div class="contextual-help-container contextual-help-user-story-container">
            <div ng-show="dialogModel.isUserSystemProcess"><contextual-help image-src={{'/novaweb/static/bp-process/images/contextual-help/gwt.png'}}></contextual-help></div>
            <div ng-show="!dialogModel.isUserSystemProcess" class="contextual-help_business-modal"><contextual-help image-src={{'/novaweb/static/bp-process/images/contextual-help/gwt.png'}}></contextual-help></div>
        </div>
        <preview-center user-task-model="dialogModel.clonedUserTask" previous-system-task="dialogModel.previousSytemTasks[0]" next-system-task="dialogModel.nextSystemTask" is-user-system-process="dialogModel.isUserSystemProcess"></preview-center>
        <div class="modal-footer storyteller-modal-footer">
            <button class="btn btn-default" type="button" ng-click="vm.cancel()">{{::$root.config.labels['App_Button_Close']}}</button>            
            <button id="artifact-property-modal-helper" style="display:none" type="button" ng-click="vm.openPropertyFloatWindow($event)"></button>
        </div>
    </div>

    <div ng-show="dialogModel.isUserSystemProcess" class="storyteller-gwt_right-wing">
        <uib-carousel no-wrap="false" active="active_next">
            <uib-slide ng-repeat="systemTask in dialogModel.nextSystemTasks" index="$index">
                <preview-wing is-left-wing="false" system-task-model="systemTask"></preview-wing>
            </uib-slide>
        </uib-carousel>
        <div class="modal-footer"></div>
    </div>
</div>