<div uib-dropdown class="toolbar-menu__container">
    <button uib-dropdown-toggle
            class="toolbar-button btn btn-secondary btn-small" type="button"
            ng-disabled="$ctrl.disabled"
            bp-tooltip="{{$ctrl.tooltip}}"><span class="toolbar-button__icon" ng-class="$ctrl.icon"></span></button>
    <ul uib-dropdown-menu class="toolbar-menu__dropdown dropdown-menu dropdown-menu-right">
        <li ng-repeat="action in $ctrl.actions track by $index" ng-if="!action.disabled || action.separator"
            ng-class="{'toolbar-menu__separator': action.separator, 'toolbar-menu__item': !action.separator}">
            <button class="btn btn-link toolbar-menu__action" type="button" ng-if="!action.separator" ng-click="action.execute()">
                <span ng-if="action.icon" ng-class="action.icon"></span> {{action.label || action.tooltip}}
            </button>
        </li>
    </ul>
</div>
