@import '../../../../../styles/settings/colors';

.toolbar__container {
    display: flex;
    flex: none;
    flex-direction: row;

    > * {
        margin-left: 5px;
        margin-right: 5px;
    }

    .toolbar-button {
        box-sizing: border-box;
        height: 28px;
        padding: 5px 10px;

        &[disabled] {
            cursor: default;
        }
    }

    .toolbar-button__icon::before {
        font-size: 16px;
        height: 16px;
        line-height: 16px;
    }
}

.toolbar__group {
    display: flex;
    flex-direction: row;
}

.toolbar-dropdown__container {
    .toolbar-menu__action {
        cursor: pointer;

        &:hover {
            background: $brand-secondary;
            color: $white;
        }
        &.disabled {
            color: $gray-light;
            pointer-events: none;
        }
    }
}

.toolbar-menu__container {
    .toolbar-menu__dropdown {
        padding: 0;

        > li {
            &:first-child > .toolbar-menu__action,
            &.toolbar-menu__separator:first-child ~ li > .toolbar-menu__action {
                border-radius: 4px 4px 0 0;
            }

            &:last-child > .toolbar-menu__action {
                border-radius: 0 0 4px 4px;
            }
        }
    }

    .toolbar-menu__action {
        background: $gray-lightest;
        border: 0;
        color: $text-color;
        cursor: pointer;
        line-height: inherit;
        padding: 6px 20px;

        &:hover {
            background: $brand-secondary;
            color: $white;
        }
        &.disabled {
            color: $gray-light;
            pointer-events: none;
        }
    }

    .toolbar-menu__separator {
        display: none;
        pointer-events: none;
    }

    .toolbar-menu__separator:not(:first-child) + .toolbar-menu__item {
        border-top: solid 1px $gray-lighter;
    }
}

.toolbar-toggle__button.btn-primary {
    &.active,
    &:active,
    &.active:hover {
        background-color: $gray-dark;
        color: $white;
    }
}
