<div ng-switch="$ctrl.option.type">
    <bp-toolbar-button ng-switch-when="button" click="$ctrl.option.click()" icon="{{$ctrl.option.icon}}" disabled="$ctrl.option.disabled" label="{{$ctrl.option.label}}" tooltip="{{$ctrl.option.tooltip}}"></bp-toolbar-button>
    <bp-toolbar-dropdown ng-switch-when="dropdown" options="$ctrl.option.options" icon="{{$ctrl.option.icon}}" disabled="$ctrl.option.disabled" label="{{$ctrl.option.label}}" tooltip="{{$ctrl.option.tooltip}}"></bp-toolbar-dropdown>
    <bp-toolbar-toggle ng-switch-when="toggle" options="$ctrl.option.options" disabled="$ctrl.option.disabled"></bp-toolbar-toggle>
    <bp-toolbar-button-group ng-switch-when="buttongroup" options="$ctrl.option.options"></bp-toolbar-button-group>
    <button ng-switch-default class="btn btn-primary btn-small" bp-tooltip="Error">
        <span class="glyphicon glyphicon-exclamation-sign"></span> Error
    </button>
</div>