<div class="modal-header">
    <h3 class="modal-title">{{::$root.config.labels["Create_New_Dialog_Header"]}}</h3>
</div>
<div class="modal-body new-artifact">
    <input class="new-artifact__focus-stealer" type="text">
    <div class="nova-form-group nova-floating-label new-artifact__input-group new-artifact__input-group--first">
        <span class="nova-form-control" ng-class="{'ng-not-empty': $ctrl.newArtifactType, 'fake-focus': fakeFocus}">
            <input type="text" class="nova-form-control new-artifact__input new-artifact__input--dropdown"
                   id="new-artifact-type" name="newArtifactType"
                   ng-model="$ctrl.newArtifactType" ng-focus="fakeFocus=true" ng-blur="fakeFocus=false"
                   uib-typeahead="artifact as artifact.name for artifact in $ctrl.availableItemTypes() | filter:{name:$viewValue} | limitTo: 10"
                   typeahead-editable="false"
                   typeahead-template-url="artifactTypesDropdown.html"
                   typeahead-show-hint="true"
                   typeahead-select-on-exact="true"
                   typeahead-min-length="0" /></span>
        <label for="new-artifact-type" class="nova-label">{{::$root.config.labels["Create_New_Dialog_Artifact_Type"]}}</label>
    </div>
    <div class="nova-form-group nova-floating-label new-artifact__input-group">
        <input type="text" class="nova-form-control new-artifact__input"
               id="new-artifact-name" name="newArtifactName"
               ng-model="$ctrl.newArtifactName" autofocus="true" />
        <label for="new-artifact-name" class="nova-label">{{::$root.config.labels["Create_New_Dialog_Artifact_Name"]}}</label>
    </div>
</div>
<div class="modal-footer">
    <div class="nova-form-group nova-form-buttons">
        <button class="btn btn-primary" ng-click="$ctrl.cancel()">
            <span ng-bind="$ctrl.dialogSettings.cancelButton"></span>
        </button>
        <button class="btn btn-promoted-action" ng-click="$ctrl.ok()" ng-disabled="$ctrl.isCreateButtonDisabled">
            <span ng-bind="$ctrl.dialogSettings.okButton"></span>
        </button>
    </div>
</div>

<script type="text/ng-template" id="artifactTypesDropdown.html">
    <a>
        <bp-item-type-icon predefined-type="match.model.predefinedType"></bp-item-type-icon>
        <span ng-bind-html="match.label | bpEscapeAndHighlight:query"></span>
    </a>
</script>
