<bp-tree-view api="$ctrl.treeApi"
              ng-if="$ctrl.projects && $ctrl.projects.length > 0"
              row-data="$ctrl.projects"
              columns="$ctrl.columns"
              size-columns-to-fit="true"
              on-select="$ctrl.onSelect(vm, isSelected)"
              on-error="$ctrl.onError(reason)"
              on-grid-reset="$ctrl.onGridReset(isExpanding)">
</bp-tree-view>

<div ng-if="!$ctrl.projects || $ctrl.projects.length < 1"
     class="explorer-empty-state">
    <p>You have no projects loaded in the project Explorer.</p>
    <label class="btn btn-secondary btn-small" ng-click="$ctrl.openProject()">
        Open a project
    </label>
</div>
