@import '../../../../../styles/settings/colors';

.formly-field-bpFieldDatepicker {
    .input-group:hover input:not([disabled]) {
        background-color: $yellow-pale;
    }

    .btn {
        background: $gray-lightest;
        border-radius: 0;
        z-index: initial;
    }

    .has-error button {
        border-bottom-color: $brand-error !important;
    }
}

.uib-datepicker-popup.dropdown-menu {
    border-color: $brand-secondary;
    border-radius: 0;
    padding: 0 0 7px;

    li > .uib-datepicker {
        margin-top: -1px;
    }

    .uib-daypicker,
    .uib-monthpicker,
    .uib-yearpicker {
        margin: 0 -1px;
        outline: none;

        table {
            width: 100%;
        }

        thead tr:first-child th {
            button {
                border-color: $brand-secondary;
            }

            &:first-child button {
                border-right: 0;
                color: $brand-secondary;
            }

            &:last-child button {
                border-left: 0;
                color: $brand-secondary;
            }
        }
    }

    .uib-yearpicker {
        tbody tr:first-child td {
            padding-top: 8px;
        }

        tbody td {
            border: solid 1px transparent;
            width: 52px;

            &:first-child {
                padding-left: 5px;
                width: 57px;
            }

            &:last-child {
                padding-right: 6px;
                width: 58px;
            }

            .btn {
                width: 100%;
            }
        }
    }

    .uib-monthpicker {
        tbody tr:first-child td {
            padding-top: 8px;
        }

        tbody td {
            border: solid 1px transparent;
            width: 87px;

            &:first-child {
                padding-left: 5px;
                width: 92px;
            }

            &:last-child {
                padding-right: 6px;
                width: 93px;
            }

            .btn {
                width: 100%;
            }
        }
    }

    .uib-daypicker {
        thead tr:last-child th,
        tbody td {
            border: solid 1px transparent;
            line-height: 28px;
            width: 37px;

            &:first-child {
                padding-left: 6px;
                width: 43px;
            }

            &:last-child {
                padding-right: 7px;
                width: 44px;
            }
        }
    }

    .btn {
        border-radius: 0 !important;
        color: $gray-dark;
        min-width: 36px;
        outline: none;
        padding: 5px 10px;

        &:hover,
        &:active,
        &:focus,
        &:active:focus {
            background: $blue-lightest;
            border-color: $brand-secondary;
            box-shadow: none;
            color: $gray-dark;
        }

        &.active {
            background: $brand-secondary !important;
            box-shadow: none;
            color: $white;
        }

        span {
            color: inherit;
            font-size: 11px;
        }

        .btn-bp-small {
            margin-left: 5px;
            min-width: 20px;
            padding: 5px 9px;

            &.disabled {
                background-color: $disabled-color;
            }
        }
    }

    .uib-button-bar {
        padding: 10px 6px 0;

        .btn {
            border-radius: 4px !important;
            float: none;

            &:hover,
            &:active,
            &:focus,
            &:active:focus {
                background: transparent;
                border-color: darken($brand-secondary, 10%);
                color: darken($brand-secondary, 10%);
            }
        }
    }

    .btn-info,
    .btn-danger,
    .btn-success {
        background: $white;
        border-color: $gray-lighter;
    }
}
